<div ng-controller="OperatorControlCtrl">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body panel-operator-controls" >
            <button class="btn btn-primary btn-lg" ng-click="">Inhibit All</button>
            <button class="btn btn-primary btn-lg" ng-click="">Stow All</button>
            <button class="btn btn-primary btn-lg" ng-click="">Stop All</button>
            <button class="btn btn-primary btn-lg" ng-click="">Resume Operations</button>
            <button class="btn btn-primary btn-lg" ng-click="">Shutdown Computing</button>
        </div>

        <table class="table">
            <tbody>
                <tr ng-repeat="cols in receptors">
                    <td ng-repeat="obj in cols">
                        <receptor-state receptorName="{{obj.receptor.name}}" receptorState="{{obj.receptor.state}}" inhibited="{{obj.receptor.inhibited}}"></receptor-state>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
