<button class="btn btn-primary" ng-click="stateGo('operatorControl')">Operator Control</button>
<button class="btn btn-primary" ng-click="stateGo('alarms')">Alarms</button>
<button class="btn btn-primary">Health and State</button>


<button class="btn btn-primary">Schedules</button>
<button class="btn btn-primary">Weather</button>
<button class="btn btn-primary" ng-click="stateGo('sensorGraph')">Sensor Graphs</button>

<button class="btn btn-primary" ng-click="stateGo('admin')">Admin</button>
<button class="btn btn-primary">Log Reports</button>
<button class="btn btn-primary">Source Catalogues</button>


<button class="btn btn-primary"></button>
<button class="btn btn-primary"></button>
<button class="btn btn-primary"></button>


<button class="btn btn-primary"></button>
<button class="btn btn-primary"></button>
<button class="btn btn-primary"></button>

<button class="btn btn-primary"></button>
<button class="btn btn-primary"></button>
<button class="btn btn-primary"></button>
