<div ng-repeat="(receptorName, receptor) in vm.receptors" ng-if="!subarray || receptor.subNr === subarray.subNr" class="md-whiteframe-z1 receptor-svg-container"
        style="display: -webkit-inline-box; position: relative; margin: 2px" ng-class="vm.getReceptorSvgClass(receptorName)">
    <div class="receptor-graphic-svg" ng-if="receptor.name.startsWith('m')">
        <div ng-include="'images/receptor.svg'"></div>
    </div>
    <div class="receptor-graphic-svg" ng-if="receptor.name.startsWith('s')">
        <div ng-include="'images/mpi_receptor.svg'"></div>
    </div>
    <h2 class="receptor-graphic-name">{{receptorName}}{{vm.sensorValues[receptorName + '_lock'].value.value? '*' : ''}}</h2>
    <div class="receptor-graphic-labels" layout="column">
        <span ng-class="vm.getReceptorModeTextClass(receptorName)">{{vm.sensorValues[receptorName + '_windstow_active'].value? '' : vm.sensorValues[receptorName + '_mode'].value}}</span>
        <span class="windstow-item">{{vm.sensorValues[receptorName + '_windstow_active'].value? 'WINDSTOW' : ''}}</span>
        <span class="inhibited-item">{{vm.sensorValues[receptorName + '_inhibited'].value? 'INHIBITED' : ''}}</span>
    </div>

    <div style="position: absolute; top: 0; right: 0; width: 26px">
        <span class="icon-button fa fa-wrench" md-ink-ripple ng-disabled="!$root.expertOrLO" title="Mark Receptor in Maintenance"
            ng-class="{'maintenance-text opaque': vm.sensorValues[receptorName + '_marked_in_maintenance'].value}" ng-click="!$root.expertOrLO || vm.markResourceInMaintenance(receptor); $event.stopPropagation()"></span>
        <span class="icon-button fa" md-ink-ripple ng-disabled="!$root.expertOrLO" title="Mark Receptor As Faulty"
            ng-mousedown="$event.stopPropagation()" ng-class="{'fa-exclamation-circle': !vm.sensorValues[receptorName + '_marked_faulty'].value, 'fa-warning error-text opaque': vm.sensorValues[receptorName + '_marked_faulty'].value}"
            ng-click="!$root.expertOrLO || vm.markResourceFaulty(receptor); $event.stopPropagation()"></span>
    </div>
</div>
