<div flex ng-controller="ReceptorStatusCtrl as vm" layout="column" layout-align="start"
     style="margin: 16px;">

    <div layout="column" layout-align="center center">
        <div class="md-whiteframe-z1">
            <div layout="row">
                <span class="receptor-status-row-span"></span>

                <div ng-repeat="receptor in vm.receptorsData track by $index"
                     class="receptor-status-column-heading" layout="column" layout-align="center center"
                     ng-class="{'in-maintenance-item':receptor.in_maintenance}">
                    <span>{{receptor.name}}</span>
                </div>
            </div>
            <div>
                <div layout="row">
                    <div class="receptor-status-row-span" layout-align="start center" layout="row">
                        <span>Health - Device Status (AP)</span>
                    </div>
                    <div ng-repeat="receptor in vm.receptorsData track by $index"
                         class="receptor-status-column-heading nominal-item"
                         layout="column" layout-align="center center"
                         ng-class="{'error-item':receptor.ap_device_status.value !== 'ok'}">
                        <span>{{receptor.ap_device_status.value}}</span>
                    </div>
                </div>
                <div layout="row">
                    <div class="receptor-status-row-span" layout-align="start center" layout="row">
                        <span>Mode</span>
                    </div>
                    <div ng-repeat="receptor in vm.receptorsData track by $index"
                         class="receptor-status-column-heading nominal-item"
                         layout="column" layout-align="center center"
                         ng-class="{'stop-item': receptor.mode.value === 'STOP', 'stow-item': receptor.mode.value === 'STOW', 'error-item': receptor.windstow_active.value}">
                        <span ng-show="!receptor.windstow_active.value">{{receptor.mode.value}}</span>
                        <span ng-show="receptor.windstow_active.value">WINDSTOW</span>
                        <span style="width: 100%; text-align: center; border: 1px solid #333333;" class="inhibited-item" ng-show="receptor.inhibited.value">INHIBITED</span>
                    </div>
                </div>
                <div layout="row">
                    <div class="receptor-status-row-span" layout-align="start center" layout="row">
                        <span>Assigned/Allocated</span>
                    </div>
                    <div ng-repeat="receptor in vm.receptorsData track by $index"
                         class="receptor-status-column-heading"
                         layout="column" layout-align="center center"
                         ng-class="{'in-maintenance-item':receptor.in_maintenance && !(receptor.assignedSubarray || receptor.allocatedSubarray), 'in-assigned-subarray-item': receptor.assignedSubarray, 'in-allocated-subarray-item': receptor.allocatedSubarray}">
                        <!--leave vm.getReceptorSubarray(receptor) in there so that it gets called with every digest-->
                        <span ng-show="false">{{vm.getReceptorSubarray(receptor)}}</span>
                        <span ng-show="receptor.subarray">Sub-Array {{receptor.subarray}}</span>
                        <span ng-show="!receptor.subarray">Free</span>
                        <!--<span ng-show="receptor.allocation">SB {{receptor.allocation[1]}}</span>-->
                    </div>
                </div>
                <!--<div layout="row">-->
                    <!--<div class="receptor-status-row-span" layout-align="start center" layout="row">-->
                        <!--<span>QA1</span>-->
                    <!--</div>-->
                    <!--<div ng-repeat="receptor in vm.receptorsData track by $index"-->
                         <!--class="receptor-status-column-heading"-->
                         <!--layout="column" layout-align="center center">-->
                        <!--<span>{{receptor.qa1}}</span>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>

</div>
