<div flex layout="column" style="min-width: 1515px; min-height: 850px; margin-bottom: 8px;" ng-controller="SubArrayObservationsDetail as vm">
    <div layout="row" flex>
        <div flex layout="column" style="margin: 0;" ng-click="vm.closeEditMenu();">

            <div flex style="min-height: 150px;" layout="column" class="md-whiteframe-z1 schedule-list"
                 ng-class="{'md-whiteframe-z1': !vm.selectedSchedule, 'whiteframe-z1-left': vm.selectedSchedule}">
                <md-toolbar class="panel-toolbar panel-toolbar-medium md-whiteframe-z1" ng-mouseenter="showTools = true;" ng-mouseleave="showTools = false;">
                    <div layout="row" layout-align="start center" layout-padding flex>
                        <span style="margin-left: 8px;">Observation Schedule for Sub-Array {{vm.subarray_id}}</span>
                        <span flex></span>
                        <span>Mode:</span>
                        <md-select ng-model="vm.selectedMode" style="margin-top: 0px; margin-left: 4px; margin-right:8px;" ng-change="vm.schedulerModeChanged()"
                                   class="md-primary" md-theme="{{themePrimaryButtons}}">
                            <md-option ng-value="type" ng-repeat="type in vm.modeTypes">{{type}}</md-option>
                        </md-select>
                    </div>
                </md-toolbar>

                <div flex class="schedule-draft-data-list" style="padding: 0; direction: rtl">
                    <div ng-repeat="item in vm.currentScheduleData = (vm.scheduleData | filter:{sub_nr:vm.subarray_id})" ng-click="vm.setSelectedSchedule(item);"
                         ng-class="{'selected-schedule-row': item.state !== 'ACTIVE' && item === vm.selectedSchedule,
                                'schedule-row-executing': item.state === 'ACTIVE' && item !== vm.selectedSchedule,
                                'schedule-row-executing-and-selected': item.state === 'ACTIVE' && item === vm.selectedSchedule}"
                         class="schedule-draft-item animate-repeat" layout="column">

                        <div style="" layout="row" layout-align="center center">
                            <md-progress-circular md-theme="{{themePrimaryButtons}}" class="smaller-progress-circular" ng-if="item.pendingVerify" class="md-primary" md-mode="indeterminate">
                            </md-progress-circular>
                            <md-tooltip ng-if="item.pendingVerify">Verification State: {{item.verification_state}}</md-tooltip>
                            <div layout="row" class="schedule-block-name-div">
                                <span class="schedule-block-id-text">{{item.id_code}}</span>
                                <i>{{item.owner}}</i>
                            </div>
                            <span flex title="" style="margin-left: 5px; margin-top: 4px; width: 180px; overflow: hidden; text-overflow: ellipsis;" title="{{::item.description}}">{{::item.description}}</span>

                            <div style="min-width: 105px; margin-top: 4px; text-align: start;">
                                <span style="text-transform: uppercase;">{{item.type}}</span>
                            </div>
                            <span style="margin-left: 5px; margin-top: 4px; width: 140px; margin-right: 3px;">{{item.desired_start_time}}</span>
                            <md-button ng-show="item.state !== 'ACTIVE' && !item.pendingVerify" md-theme="green" aria-label="Execute Schedule" class="scheduler-inline-button md-primary"
                                       ng-click="vm.executeSchedule(item, $event)" title="Execute">
                                <span class="fa fa-play"></span>
                            </md-button>
                            <md-button ng-show="item.state === 'ACTIVE' && !item.pendingVerify" md-theme="red" aria-label="Stop Executing Schedule" class="scheduler-inline-button md-primary"
                                       ng-click="vm.stopExecuteSchedule(item)" title="Stop Execution">
                                <span class="fa fa-stop"></span>
                            </md-button>
                            <md-button ng-show="!item.pendingVerify" aria-label="Show Edit Menu" ng-click="vm.openSchedulerEditMenu(item, $event);"
                                       class="scheduler-inline-button">
                                <span class="fa fa-ellipsis-v"></span>
                            </md-button>
                            <span ng-show="item.pendingVerify" style="transition: 0s; width: 35px; height:48px;"></span>
                            <span ng-show="item.pendingVerify" style="transition: 0s; width: 35px; height:48px;"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 8px; overflow: hidden" layout="column" class="md-whiteframe-z1 schedule-block-completed-list"
                 ng-class="{'schedule-block-complete-list-min-height': completedScheduleBlockListVisible}">
                <md-toolbar class="panel-toolbar md-whiteframe-z1" ng-mouseenter="showCompletedTools = true;" ng-mouseleave="showCompletedTools = false;">
                    <div layout="row" layout-align="start center" layout-padding flex>

                        <span style="margin-left: 8px; cursor: pointer;"
                              ng-init="completedScheduleBlockListVisible = false"
                              ng-click="completedScheduleBlockListVisible = !completedScheduleBlockListVisible;">
                            Completed Schedule Blocks for Sub-Array {{vm.subarray_id}}</span>
                        <span flex></span>
                        <input ng-show="showCompletedTools" class="fade-in" type="search" style="font-size: 14px; margin-left: 8px; width: 140px; background: transparent; border: 0" ng-model="vm.q3"
                               placeholder="Search Schedules..."/>
                    </div>

                    <div flex class="unselectable list-subheader-title" style="padding-top: 8px; z-index: 0;" layout="row" layout-align="center center">
                        <span style="max-width: 160px;min-width: 160px;" class="subheader-text" ng-click="vm.setCompletedOrderBy('id_code')">
                            <span style="padding: 8px">ID</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.completedOrderBy.value === 'id_code' && !vm.completedOrderBy.reverse, 'fa-caret-down': vm.completedOrderBy.value === 'id_code' && vm.completedOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span flex style="width: 180px;" class="subheader-text" ng-click="vm.setCompletedOrderBy('description')">
                            <span style="padding: 8px">Description</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.completedOrderBy.value === 'description' && !vm.completedOrderBy.reverse, 'fa-caret-down': vm.completedOrderBy.value === 'description' && vm.completedOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span style="max-width: 110px;min-width: 110px;" class="subheader-text" ng-click="vm.setCompletedOrderBy('type')">
                            <span style="padding: 8px">Type</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.completedOrderBy.value === 'type' && !vm.completedOrderBy.reverse, 'fa-caret-down': vm.completedOrderBy.value === 'type' && vm.completedOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span style="max-width: 196px;min-width: 196px;" class="subheader-text" ng-click="vm.setCompletedOrderBy('desired_start_time')">
                            <span style="padding: 8px">Desired Time</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.completedOrderBy.value === 'desired_start_time' && !vm.completedOrderBy.reverse, 'fa-caret-down': vm.completedOrderBy.value === 'desired_start_time' && vm.completedOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                    </div>
                </md-toolbar>

                <div flex class="schedule-draft-data-list slide-in-vertically-panel-content" style="padding: 0; direction: rtl; min-height: 45px;" ng-show="completedScheduleBlockListVisible">
                    <div ng-repeat="item in vm.scheduleCompletedData | filter:{sub_nr:vm.subarray_id} | regexSearch:vm.completedOrderByFields:vm.q3 | orderBy:vm.completedOrderBy.value:vm.completedOrderBy.reverse"
                         class="schedule-draft-item animate-repeat" layout="column">

                        <div style="" layout="row" layout-align="center center">
                            <div layout="row" class="schedule-block-name-div">
                                <span class="schedule-block-id-text" ng-click="$root.showSBDetails(item, $event);$event.stopPropagation();">{{item.id_code}}</span>
                                <i>{{item.owner}}</i>
                            </div>
                            <span flex title="" style="margin-left: 5px; margin-top: 4px; width: 180px; overflow: hidden; text-overflow: ellipsis;" title="{{::item.description}}">{{::item.description}}</span>
                            <div style="min-width: 105px; margin-top: 4px; text-align: start;">
                                <span style="text-transform: uppercase;">{{item.type}}</span>
                            </div>
                            <span style="margin-left: 5px; margin-top: 4px; width: 140px; margin-right: 3px;">{{item.desired_start_time}}</span>
                            <md-button aria-label="Clone To Draft" style="margin-left: 8px;" md-theme="default" class="scheduler-inline-button"
                                       ng-click="vm.cloneSchedule(item);" title="Clone To Draft">
                                <span class="fa fa-copy"></span>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 0px; margin-bottom: 0px; margin-right: 8px; padding: 8px; border-right: 1px solid transparent; border-bottom: 1px solid transparent; border-top: 1px solid transparent;"
             layout="column" id="schedulerScriptView"
             ng-class="{'highlight-script-window-with-box-shadow': vm.selectedSchedule !== null}">
            <div layout="column" id="resource-allocation-div">
                <md-toolbar style="margin-left: 24px;  width: 650px;" class="panel-toolbar-small md-whiteframe-z1">
                    <div flex style="margin-left: 8px;" layout="row" layout-align="start center">
                        <span>Resources</span>
                    </div>
                </md-toolbar>
                <div flex style="padding: 0px 0px 0px 24px;" layout="row">
                    <div flex class="schedule-block-resource-window md-whiteframe-z1" style="z-index: 1;">
                        <md-subheader class="list-subheader-title">Allocated</md-subheader>
                        <div ng-repeat="resource in vm.allocations | filter:{sub_nr:vm.subarray_id} | filter:{sb_id_code:vm.selectedSchedule.id_code}" layout-align="center center"
                             class="resource-pool-item animate-repeat" layout="row">
                            <span flex style="font-size:18px; margin-left: 4px;">{{resource.name}}</span>
                        </div>
                    </div>
                    <div layout-fill flex class="schedule-block-resource-window md-whiteframe-z1" style="z-index: 1;" layout="column">
                        <md-subheader class="list-subheader-title">Assigned</md-subheader>
                        <div ng-repeat="resource in vm.poolResources | filter:{sub_nr:vm.subarray_id}" layout-align="center center"
                             class="resource-pool-item animate-repeat" layout="row">
                            <span class="fa" style="font-size: 18px; min-width: 18px;" ng-class="{'fa-warning error-text':resource.state === 'faulty'}" title="Resource Marked Faulty"></span>
                            <span class="fa fa-wrench maintenance-text" ng-if="resource.in_maintenance" title="Resource in Maintenance" style="font-size: 18px; margin-left: 4px;"></span>
                            <span flex style="font-size:18px; margin-left: 4px;"
                                  ng-class="{'error-text':resource.state === 'faulty', 'maintenance-text':resource.in_maintenance}">{{resource.name}}</span>
                            <md-button ng-click="vm.markResourceFaulty(resource);" style="height:38px; width:38px;" aria-label="Mark Resource Faulty"
                                       title="Mark Resource As Faulty">
                                <span class="fa fa-exclamation-circle"></span>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div flex layout="column">
                <md-toolbar style="margin-left: 24px; margin-top: 16px; width: 650px;" class="panel-toolbar-small md-whiteframe-z1">
                    <div flex style="margin-left: 8px;" layout="row" layout-align="start center">
                        <span>Schedule Block Details</span>
                    </div>
                </md-toolbar>
                <div flex style="padding: 0px 0px 0px 24px;" layout="column">
                    <div layout-fill flex class="schedule-block-script-window md-whiteframe-z1" layout="column"
                         ng-class="{'highlight-script-window': vm.selectedSchedule !== null, 'md-whiteframe-z2': vm.selectedSchedule === null}">

                        <span flex ng-if="vm.selectedSchedule !== null" style="background: white; max-width: 650px;">
                            <textarea readonly auto-grow>{{vm.selectedSchedule | json:4}}</textarea>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="schedulerEditMenu" ng-show="vm.showEditMenu" class="datepickerMenu md-whiteframe-z1">
        <md-list layout="column">
            <md-item>
                <md-button aria-label="Move To Draft" class="scheduler-menu-item-button"
                           ng-click="vm.moveSelectedSBToDraft()" title="Move Schedule Block to Draft">
                    <span>Move to Draft</span>
                </md-button>
            </md-item>
            <md-item>
                <md-button aria-label="View Progress" class="scheduler-menu-item-button"
                           ng-click="vm.viewSelectedSBTaskLog()" title="View Progress in a New Tab">
                    <span>View Progress</span>
                </md-button>
            </md-item>
            <md-item>
                <md-button aria-label="Move Schedule To Completed" md-theme="default" class="scheduler-menu-item-button"
                           ng-click="vm.moveSelectedSBToFinished()" title="Move Schedule Block to Complete">
                    <span>Move To Completed</span>
                </md-button>
            </md-item>
        </md-list>
    </div>
</div>

