<div flex layout="column"  style="min-width: 1215px; min-height: 850px; margin-bottom: 8px; margin-top: 8px;" ng-controller="SubArrayObservationsDetail as vm">
    <div layout="row" flex style="min-width: 1215px; min-height: 850px; margin-bottom: 8px; margin-top: 16px;">
        <div layout="row" style="position: absolute; top: 0; left: 14px; font-size: 14px; padding: 0">
            <span title="Selected Band" style="margin-right: 8px;"><i>Band: </i><b>{{vm.subarray.band}}</b></span>
            <span title="Selected Product" style="margin-right: 8px;"><i>Product: </i><b>{{vm.subarray.product}}</b></span>
            <span ng-show="subarray.state === 'active' || vm.subarray.config_label" title="Config Label"><i>Config Label: </i><b>{{vm.subarray.config_label}}</b></span>
        </div>
        <div flex layout="column" style="margin: 0;">

            <div flex style="min-height: 150px;" layout="column" class="md-whiteframe-z1 schedule-list"
                 ng-class="{'md-whiteframe-z1': !vm.selectedSchedule, 'whiteframe-z1-left': vm.selectedSchedule}">
                <md-toolbar class="md-toolbar-tools-medium md-whiteframe-z1" layout="row" layout-align="start center"
                            md-theme="{{vm.subarray.state === 'inactive'? 'grey' : vm.subarray.state === 'active'? 'green' : vm.subarray.state === 'error'? 'amber' : 'deep-purple'}}"
                            ng-class="{'md-hue-2': vm.subarray.state !== 'inactive'}">
                        <span style="margin-left: 8px;">SUBARRAY {{vm.subarray_id}}</span>
                        <span ng-show="vm.subarray.state" style="margin-left: 4px;"> - {{vm.subarray.state}}</span>
                        <span ng-if="vm.subarray.maintenance">{{", in maintenance"}}</span>
                        <span flex></span>
                        <md-button class="md-icon-button inline-action-button" ng-click="vm.freeSubarray()" title="Free Subarray">
                            <md-icon class="fa" md-font-icon="fa-recycle"></md-icon>
                        </md-button>
                        <md-button ng-show="vm.subarray.state === 'inactive'" class="md-icon-button inline-action-button" ng-click="vm.activateSubarray()"
                                   title="Activate Subarray">
                            <md-icon class="fa" md-font-icon="fa-power-off"></md-icon>
                        </md-button>
                        <span>Mode: {{vm.subarray.mode}}</span>
                        <md-menu ng-show="!item.pendingVerify" md-theme="{{themePrimaryButtons}}" style="padding: 0; margin: 0">
                            <md-button class="md-icon-button inline-action-button" ng-click="$mdOpenMenu();"
                                       style="margin: 0">
                                <md-icon class="fa" md-font-icon="fa-ellipsis-v"></md-icon>
                            </md-button>
                            <md-menu-content style="padding: 8px;">
                                <md-menu-item ng-repeat="type in vm.modeTypes">
                                    <md-button ng-click="vm.setSchedulerMode(type)">Set Mode to: {{type}}</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                </md-toolbar>

                <div flex class="schedule-draft-data-list" style="padding: 0; direction: rtl" ng-class="{'maintenance-bg':vm.subarray.maintenance}">
                    <div ng-repeat="item in vm.currentScheduleData = (vm.scheduleData | filter:{sub_nr:vm.subarray_id}) track by $index" ng-click="vm.setSelectedSchedule(item);"
                         ng-class="{'selected-schedule-row': item.state !== 'ACTIVE' && item === vm.selectedSchedule,
                                'schedule-row-executing': item.state === 'ACTIVE' && item !== vm.selectedSchedule,
                                'schedule-row-executing-and-selected': item.state === 'ACTIVE' && item === vm.selectedSchedule}"
                         class="schedule-draft-item animate-repeat" layout="row"  layout-align="center center">

                            <md-progress-linear ng-if="item.state === 'ACTIVE'" class="md-primary"
                                                md-mode="{{item.expected_duration_seconds? 'determinate' : 'indeterminate'}}" value="{{item.progress}}"
                                                style="position: absolute; left: 0; right: 0; margin-top: -5px;">
                            </md-progress-linear>
                            <md-tooltip ng-if="item.pendingVerify">Verification State: {{item.verification_state}}</md-tooltip>
                            <div layout="row" class="schedule-block-name-div">
                                <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                      class="schedule-block-id-text">{{item.id_code}}</span>
                                <i>{{item.owner}}</i>
                            </div>
                            <span flex title="" style="margin-left: 5px; margin-top: 4px; width: 180px; overflow: hidden; text-overflow: ellipsis;" title="{{::item.description}}">{{::item.description}}</span>

                            <div style="min-width: 105px; margin-top: 4px; text-align: start;">
                                <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                      style="text-transform: uppercase;">{{item.type}}</span>
                            </div>
                            <span style="margin-left: 5px; margin-top: 4px; width: 140px; margin-right: 3px;">{{item.desired_start_time}}</span>
                            <md-button md-theme="green" class="md-primary md-icon-button inline-action-button" ng-show="item.state !== 'ACTIVE' && !item.pendingVerify"
                                       ng-click="vm.executeSchedule(item, $event)"
                                       title="Execute">
                                <md-icon class="fa" md-font-icon="fa-play"></md-icon>
                            </md-button>
                            <md-button md-theme="red" class="md-primary md-icon-button inline-action-button" ng-show="item.state === 'ACTIVE' && !item.pendingVerify"
                                       ng-click="vm.stopExecuteSchedule(item)"
                                       title="Stop Execution">
                                <md-icon class="fa" md-font-icon="fa-stop"></md-icon>
                            </md-button>
                            <md-menu ng-show="!item.pendingVerify" md-theme="{{themePrimaryButtons}}">
                                <md-button class="md-icon-button inline-action-button" ng-click="item.loadMenuContents = true; $mdOpenMenu(); $event.stopPropagation()"
                                           style="margin: 0">
                                    <md-icon class="fa" md-font-icon="fa-ellipsis-v"></md-icon>
                                </md-button>
                                <md-menu-content style="padding: 8px;">
                                    <md-menu-item>
                                        <md-button ng-click="vm.viewSBTaskLog(item)" title="View Progress in a New Tab">View Progress</md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="item.loadMenuContents && item.type == 'OBSERVATION'">
                                        <md-button ng-disabled="!item.sub_nr" ng-click="vm.verifySB(item)">Verify Schedule</md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="item.loadMenuContents">
                                        <md-button ng-click="vm.moveScheduleRowToDraft(item)" title="Move Schedule Block to Draft">Move to Draft</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.setPriority(item, $event)" title="Set Schedule Block's Priority">Set Priority</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.moveScheduleRowToFinished(item)" title="Move Schedule Block to Complete">Move To Completed</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.cancelExecuteSchedule(item)" title="Cancel Schedule Block Execution">Cancel Execution</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            <span ng-show="item.pendingVerify" style="transition: 0s; width: 35px; height:48px;"></span>
                            <span ng-show="item.pendingVerify" style="transition: 0s; width: 35px; height:48px;"></span>
                    </div>
                </div>
            </div>

            <div style="margin-top: 8px; overflow: hidden" layout="column" class="md-whiteframe-z1 schedule-block-completed-list"
                 ng-class="{'schedule-block-complete-list-min-height': completedScheduleBlockListVisible}">
                <md-toolbar class="panel-toolbar md-whiteframe-z1" ng-mouseenter="showCompletedTools = true;" ng-mouseleave="showCompletedTools = false;">
                    <div layout="row" layout-align="start center" layout-padding flex>

                        <span style="margin-left: 8px; cursor: pointer;"
                              ng-init="completedScheduleBlockListVisible = false"
                              ng-click="completedScheduleBlockListVisible = !completedScheduleBlockListVisible;">
                            Completed Schedule Blocks</span>
                        <span flex></span>
                        <input ng-show="showCompletedTools" class="fade-in" type="search" style="font-size: 14px; margin-left: 8px; width: 140px; background: transparent; border: 0" ng-model="vm.q3"
                               placeholder="Search Schedules..."/>
                    </div>

                    <div flex class="unselectable list-subheader-title" style="padding-top: 8px; z-index: 0;" layout="row" layout-align="center center">
                        <span style="max-width: 120px;min-width: 120px;" class="subheader-text" ng-click="vm.setCompletedOrderBy('id_code')">
                            <span style="padding: 8px">ID</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.completedOrderBy.value === 'id_code' && !vm.completedOrderBy.reverse, 'fa-caret-down': vm.completedOrderBy.value === 'id_code' && vm.completedOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span flex style="width: 180px;" class="subheader-text" ng-click="vm.setCompletedOrderBy('description')">
                            <span style="padding: 8px">Description</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.completedOrderBy.value === 'description' && !vm.completedOrderBy.reverse, 'fa-caret-down': vm.completedOrderBy.value === 'description' && vm.completedOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span style="max-width: 110px;min-width: 110px;" class="subheader-text" ng-click="vm.setCompletedOrderBy('type')">
                            <span style="padding: 8px">Type</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.completedOrderBy.value === 'type' && !vm.completedOrderBy.reverse, 'fa-caret-down': vm.completedOrderBy.value === 'type' && vm.completedOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span style="max-width: 196px;min-width: 196px;" class="subheader-text" ng-click="vm.setCompletedOrderBy('desired_start_time')">
                            <span style="padding: 8px">Desired Time</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.completedOrderBy.value === 'desired_start_time' && !vm.completedOrderBy.reverse, 'fa-caret-down': vm.completedOrderBy.value === 'desired_start_time' && vm.completedOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                    </div>
                </md-toolbar>

                <div flex class="schedule-draft-data-list" style="padding: 0; direction: rtl; min-height: 45px;" ng-show="completedScheduleBlockListVisible">
                    <div
                        ng-repeat="item in vm.scheduleCompletedData | filter:{sub_nr:vm.subarray_id} | regexSearch:vm.completedOrderByFields:vm.q3 | orderBy:vm.completedOrderBy.value:vm.completedOrderBy.reverse"
                        class="schedule-draft-item" layout="column">

                        <div style="" layout="row" layout-align="center center">
                            <div layout="row" class="schedule-block-name-div">
                                <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                      class="schedule-block-id-text" ng-click="$root.showSBDetails(item, $event);$event.stopPropagation();">{{item.id_code}}</span>
                                <i>{{item.owner}}</i>
                            </div>
                            <span flex title="" style="margin-left: 5px; margin-top: 4px; width: 180px; overflow: hidden; text-overflow: ellipsis;" title="{{::item.description}}">{{::item.description}}</span>

                            <div style="min-width: 105px; margin-top: 4px; text-align: start;">
                                <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                      style="text-transform: uppercase;">{{item.type}}</span>
                            </div>
                            <span style="margin-left: 5px; margin-top: 4px; width: 140px; margin-right: 3px;">{{item.desired_start_time}}</span>
                            <md-button class="md-icon-button inline-action-button"
                                       ng-click="vm.cloneSchedule(item)" title="Clone To Draft">
                                <md-icon class="fa" md-font-icon="fa-copy"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div layout="column" id="schedulerScriptView" class="script-window-without-box-shadow"
             ng-class="{'highlight-script-window-with-box-shadow': vm.selectedSchedule !== null}">
            <div layout="column" id="resource-allocation-div" ng-class="{'highlight-script-border-bottom': vm.selectedSchedule !== null}"
                style="margin-bottom: 16px;">
                <md-toolbar style="margin-left: 0px;  width: 650px; max-height: 48px; min-height: 48px;" class="md-whiteframe-z1" layout="column" layout-align="center center">
                    <div flex style="margin-left: 8px;" layout="row" layout-align="center center">
                        <span flex>Resources</span>
                    </div>
                    <div style="font-size: 12px; width: 100%;" layout="row" layout-align="start center">
                        <span style="margin-left: 8px;">Allocated</span>
                        <span style="margin-left: 275px;">Assigned</span>
                    </div>
                </md-toolbar>
                <div flex style="padding: 0" layout="row">
                    <div flex class="schedule-block-resource-window md-whiteframe-z1" style="z-index: 1;">
                        <div ng-repeat="resource in vm.subarray.allocations" layout-align="center center"
                             class="resource-pool-item animate-repeat" layout="row" ng-if="!vm.selectedSchedule || resource.allocation === vm.selectedSchedule.id_code">
                            <span style="min-width: 22px; margin-left: 4px;">
                                <span class="fa fa-wrench maintenance-text" ng-if="resource.maintenance" title="Resource in Maintenance" style="font-size: 18px; margin-left: 4px;"></span>
                            </span>
                            <span style="min-width: 22px; margin-left: 4px;">
                                <span class="fa fa-warning error-text" style="font-size: 18px; min-width: 18px;" ng-if="resource.faulty" title="Resource Marked Faulty"></span>
                            </span>
                            <span flex style="font-size:18px; margin-left: 4px;"
                                  ng-class="{'error-text':resource.faulty, 'maintenance-text':resource.maintenance}">{{resource.name}}</span>
                        </div>
                    </div>
                    <div layout-fill flex class="schedule-block-resource-window md-whiteframe-z1" style="z-index: 1;" layout="column">
                        <div ng-repeat="resource in vm.subarray.allocations" layout-align="center center"
                             class="resource-pool-item animate-repeat" layout="row">
                            <span style="min-width: 22px; margin-left: 4px;">
                                <span class="fa fa-wrench maintenance-text" ng-if="vm.isResourceInMaintenance(resource)" title="Resource in Maintenance" style="font-size: 18px; margin-left: 4px;"></span>
                            </span>
                            <span style="min-width: 22px; margin-left: 4px;">
                                <span class="fa fa-warning error-text" style="font-size: 18px; min-width: 18px;" ng-if="vm.isResourceFaulty(resource)" title="Resource Marked Faulty"></span>
                            </span>
                            <span flex style="font-size:18px; margin-left: 4px;"
                                  ng-class="{'error-text':resource.faulty, 'maintenance-text':resource.maintenance}">{{resource.name}}</span>
                            <md-button ng-show="vm.subarray.maintenance && resource.maintenance" class="md-icon-button inline-action-button" ng-click="vm.listResourceMaintenanceDevicesDialog(vm.subarray, resource, $event); $event.stopPropagation()"
                                       title="Restart Maintenance Device" style="margin: 0">
                                <md-icon class="fa" md-font-icon="fa-refresh"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button inline-action-button" ng-show="!item.pendingVerify" style="margin: 0"
                                       ng-click="vm.markResourceFaulty(resource)" title="Mark Resource As Faulty">
                                <md-icon class="fa" md-font-icon="fa-exclamation-circle"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div flex layout="column">
                <md-toolbar style="margin-left: 0px; width: 650px;" class="panel-toolbar-small md-whiteframe-z1">
                    <div flex style="margin-left: 8px;" layout="row" layout-align="start center">
                        <span>Schedule Block Details</span>
                    </div>
                </md-toolbar>
                <div flex style="padding: 0" layout="column">
                    <div layout-fill flex class="schedule-block-script-window md-whiteframe-z1" layout="column"
                         ng-class="{'highlight-script-window': vm.selectedSchedule !== null, 'md-whiteframe-z2': vm.selectedSchedule === null}">
                        <pre flex style="margin: 0" ng-if="vm.selectedSchedule !== null" ng-bind-html='vm.selectedSchedule | prettifyJSON'></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

