<div flex layout="column" style="min-width: 1015px; min-height: 860px;"
     ng-controller="SubArrayExecutorOverview as vm">

    <div flex layout="row">
        <div flex layout="column" style="overflow: auto; padding: 0 8px">
            <div ng-repeat="subarray in vm.subarrays | orderBy:'id'" class="subarray-container md-whiteframe-z2"
                 layout="row" flex
                 style="min-width: 650px;" md-theme="{{subarray.state === 'inactive'? 'grey' : subarray.state === 'active'? 'green' : subarray.state === 'error'? 'amber' : 'deep-purple'}}">
                <div style="margin-left: 0; margin-top: 8px;" layout="column" flex>

                    <md-toolbar
                        ng-class="{'md-hue-2': subarray.state !== 'inactive'}" class="md-whiteframe-z1"
                        layout="row" layout-align="center center" title="{{subarray.description}}"
                        style="max-height: 64px; min-height: 64px; position: relative; margin-top: -7px"
                        ng-click="parentScope.vm.stateGo('scheduler.observations.detail', subarray.id)">
                        <span style="margin-left: 8px;">SUBARRAY {{subarray.id}} -
                            <span><b>{{subarray.state}}</b></span>
                            <span ng-if="subarray.maintenance">{{"- in maintenance"}}</span>
                        </span>
                        <span flex></span>
                        <div layout="row" layout-align="center center" style="position: absolute; padding: 0; top: 7px; left: 0; right: 0; font-size: 12px">
                            <span title="Control Authority" style="margin-right: 8px;"><i>CA: </i><b>{{subarray.delegated_ca}}</b></span>
                            <span title="Selected Band" style="margin-right: 8px;"><i>Band: </i><b>{{subarray.band ? subarray.band : 'None'}}</b></span>
                            <span title="Selected Product" style="margin-right: 8px;"><i>Product: </i><b>{{subarray.product ? subarray.product : 'None'}}</b></span>
                            <span ng-show="subarray.state === 'active' || subarray.config_label"
                                  title="Config Label"><i>Config Label: </i><b>{{subarray.config_label ? subarray.config_label : 'None'}}</b></span>
                        </div>
                        <div flex class="unselectable list-subheader-title" layout="row" layout-align="start center"
                             style="position: absolute; left: 8px; right: 8px; bottom: 0; padding: 0; height: 12px">
                            <span style="width: 125px" class="subheader-text">
                                <span>ID</span>
                            </span>
                            <span flex class="subheader-text">
                                <span>Description</span>
                            </span>
                            <span style="width: 150px" class="subheader-text">
                                <span>Verification State</span>
                            </span>
                            <span style="width: 150px" class="subheader-text">
                                <span>State</span>
                            </span>
                            <span style="width: 75px" class="subheader-text">
                                <span>Ready</span>
                            </span>
                            <span style="width: 105px" class="subheader-text">
                                <span>Type</span>
                            </span>
                            <span style="width: 150px" class="subheader-text">
                                <span>Desired Time</span>
                            </span>
                        </div>

                    </md-toolbar>
                    <div flex class="schedule-draft-data-list" ng-class="{'maintenance-bg':subarray.maintenance}">
                        <div style="padding: 0 4px"
                             ng-repeat="item in vm.scheduleData | filter:{sub_nr:subarray.id} track by item.id"
                             class="schedule-draft-item" layout="column">
                            <div flex layout="row" layout-align="start center">
                                <md-progress-linear ng-if="item.state === 'ACTIVE'" class="md-primary progress-bar-fill"
                                                    md-mode="{{item.expected_duration_seconds? 'determinate' : 'indeterminate'}}"
                                                    value="{{item.progress}}"
                                                    style="position: absolute; left: 0; right: 0;">
                                </md-progress-linear>
                                <md-progress-linear md-theme="grey" ng-if="item.verification_state === 'VERIFYING'"
                                                    class="md-primary progress-bar-fill"
                                                    md-mode="indeterminate"
                                                    style="position: absolute; left: 0; right: 0;">
                                </md-progress-linear>
                                <div layout="column" layout-align="start" style="width: 130px">
                                <span
                                    ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                    style="font-size: 14px; font-weight: bold"
                                    ng-click="$root.showSBDetails(item, $event);$event.stopPropagation();">{{item.id_code}}
                                </span>
                                    <span><i>{{item.owner}}</i></span>
                                </div>
                                <span flex style="overflow: hidden; text-overflow: ellipsis;"
                                      title="{{item.description}}">{{item.description}}</span>

                                <span style="width: 150px">{{item.verification_state}}</span>
                                <span style="width: 150px" ng-class="{'green-color': item.state === 'ACTIVE'}">{{item.state}}</span>
                            <span style="width: 75px"
                                  ng-class="{'green-color': item.ready, 'red-color': !item.ready}">{{item.ready? 'READY' : 'NOT READY'}}</span>
                            <span
                                ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                style="text-transform: uppercase; width: 105px">{{item.type}}</span>
                                <span style="width: 140px;">{{item.desired_start_time}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
