<div flex layout="column" style="min-width: 1220px; min-height: 500px; margin-top: 4px;"
     ng-controller="SubArraysCtrl as vm">

    <div flex layout="row" style="margin-top: 16px; max-height: 100%; min-height: 100%;">
        <div flex layout="column" style="overflow: auto; padding-left: 4px; margin-right: 4px">
            <div flex class="subarray-container" layout="row"
                 md-theme="{{vm.subarray.state === 'inactive'? 'grey' : vm.subarray.state === 'active'? 'green' : vm.subarray.state === 'error'? 'amber' : 'deep-purple'}}">

                <div layout="column" flex>
                    <md-toolbar
                        md-theme="{{vm.subarray.state === 'inactive'? 'grey' : vm.subarray.state === 'active'? 'green' : vm.subarray.state === 'error'? 'amber' : 'deep-purple'}}"
                        ng-class="{'md-hue-2': vm.subarray.state !== 'inactive'}" class="md-whiteframe-z1"
                        layout="row" layout-align="center center" title="{{vm.subarray.description}}"
                        style="max-height: 64px; min-height: 64px; position: relative; margin-top: -7px">
                        <md-menu style="margin: 0; padding: 0;">
                            <md-button class="subarray-config-menu-button" title="Change Subarray" ng-click="$mdOpenMenu(); $event.stopPropagation()"
                                style="color: currentColor !important; font-size: inherit">
                                <span style="margin-left: 8px;">
                                    SUBARRAY {{vm.subarray.id}} -
                                    <span><b>{{vm.subarray.state}}</b></span>
                                    <span ng-if="vm.subarray.maintenance">{{"- in maintenance"}}</span>
                                </span>
                            </md-button>
                            <md-menu-content style="padding: 8px;">
                                <md-menu-item ng-repeat="subarray in parentScope.vm.subarrays | orderBy:'id' track by $index">
                                    <md-button ng-click="parentScope.vm.stateGo('scheduler.subarrays', subarray.id)">
                                        <span>Subarray {{subarray.id}}</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                        <span flex></span>

                        <div layout="row" layout-align="center center"
                             style="position: absolute; padding: 0; top: 7px; left: 0; right: 0; font-size: 12px">
                             <md-menu style="margin: 0; padding: 0;">
                                 <md-button ng-disabled="!$root.expertOrLO" class="subarray-config-menu-button" title="Control Authority" ng-click="$mdOpenMenu()"
                                     style="color: currentColor !important">
                                     <i>CA: </i><b>{{vm.subarray.delegated_ca}}</b>
                                 </md-button>
                                 <md-menu-content style="padding: 8px;">
                                     <md-menu-item>
                                         <md-button ng-click="parentScope.vm.delegateControl('lo')">
                                             <span>Lead Operator</span>
                                         </md-button>
                                     </md-menu-item>
                                     <md-menu-item ng-repeat="user in parentScope.vm.users | orderBy:'email' track by $index">
                                         <md-button ng-click="parentScope.vm.delegateControl(user.email)">
                                             <span>{{user.email}}</span>
                                         </md-button>
                                     </md-menu-item>
                                 </md-menu-content>
                             </md-menu>
                             <md-menu style="margin: 0; padding: 0;">
                                 <md-button ng-disabled="!$root.expertOrLO" class="subarray-config-menu-button" title="Selected Band" ng-click="$mdOpenMenu(); $event.stopPropagation()"
                                     style="color: currentColor !important">
                                     <i>Band: </i><b>{{vm.subarray.band ? vm.subarray.band : 'None'}}</b>
                                 </md-button>
                                 <md-menu-content style="padding: 8px;">
                                     <md-menu-item ng-repeat="band in parentScope.vm.bands | orderBy:band track by $index">
                                         <md-button ng-click="parentScope.vm.setBand(band)">
                                             <span>{{band}}</span>
                                         </md-button>
                                     </md-menu-item>
                                 </md-menu-content>
                             </md-menu>
                             <md-menu style="margin: 0; padding: 0;">
                                 <md-button ng-disabled="!$root.expertOrLO" class="subarray-config-menu-button" title="Selected Product" ng-click="$mdOpenMenu(); $event.stopPropagation()"
                                     style="color: currentColor !important">
                                     <i>Product: </i><b>{{vm.subarray.product ? vm.subarray.product : 'None'}}</b>
                                 </md-button>
                                 <md-menu-content style="padding: 8px;">
                                     <md-menu-item>
                                         <md-button ng-click="parentScope.vm.setProduct('')">
                                             <span>None</span>
                                         </md-button>
                                     </md-menu-item>
                                     <md-menu-item ng-repeat="product in parentScope.vm.products | orderBy:product:true track by $index">
                                         <md-button ng-click="parentScope.vm.setProduct(product)">
                                             <span>{{product}}</span>
                                         </md-button>
                                     </md-menu-item>
                                 </md-menu-content>
                             </md-menu>
                             <span ng-show="vm.subarray.config_label" title="Config Label"><i>Config Label: </i><b>{{vm.subarray.config_label ? vm.subarray.config_label : 'None'}}</b></span>
                        </div>

                        <div flex class="unselectable list-subheader-title" layout="row" layout-align="start center"
                             style="position: absolute; left: 8px; right: 8px; bottom: 0; padding: 0; height: 12px">
                        <span style="width: 120px" class="subheader-text" ng-click="vm.setDraftsOrderBy('id_code')">
                            <span>ID</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'id_code' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'id_code' && vm.draftsOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span flex style="width: 180px;" class="subheader-text"
                              ng-click="vm.setDraftsOrderBy('description')">
                            <span>Description</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'description' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'description' && vm.draftsOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span style="width: 142px;" class="subheader-text"
                              ng-click="vm.setDraftsOrderBy('expected_duration')">
                            <span>Expected Duration</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'expected_duration' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'expected_duration' && vm.draftsOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span style="width: 142px;" class="subheader-text"
                              ng-click="vm.setDraftsOrderBy('verification_state')">
                            <span>Verification State</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'verification_state' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'verification_state' && vm.draftsOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span style="width: 142px;" class="subheader-text" ng-click="vm.setDraftsOrderBy('type')">
                            <span>Type</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'type' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'type' && vm.draftsOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        <span style="width: 255px;" class="subheader-text"
                              ng-click="vm.setDraftsOrderBy('desired_start_time')">
                            <span>Desired Time</span>
                            <span class="fa"
                                  ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'desired_start_time' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'desired_start_time' && vm.draftsOrderBy.reverse}"
                                  style="margin-right: 4px;"></span>
                        </span>
                        </div>
                    </md-toolbar>
                    <md-virtual-repeat-container md-theme="{{themePrimary}}" flex
                                                 class="schedule-draft-data-list md-whiteframe-z1"
                                                 ng-class="{'maintenance-bg':vm.subarray.maintenance}">
                        <div md-virtual-repeat="item in vm.scheduleDraftData | filter:{sub_nr:vm.subarray.id, state:'DRAFT'} | orderBy:vm.draftsOrderBy.value:vm.draftsOrderBy.reverse"
                            style="padding: 0 4px" flex layout="row" layout-align="start center"
                            ng-click="item.confirmDelete = false; vm.setSelectedScheduleDraft(item)"
                            ng-class="{'selected-schedule-row': item === vm.selectedScheduleDraft}"
                            class="schedule-draft-item" layout="column" ng-show="item">
                            <md-progress-linear md-theme="grey" ng-if="item.verification_state === 'VERIFYING'"
                                                class="md-primary progress-bar-fill"
                                                md-mode="indeterminate"
                                                style="position: absolute; left: 0; right: 0;">
                            </md-progress-linear>
                            <div layout="column" layout-align="start" style="width: 125px">
                            <span
                                ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                style="font-size: 14px; font-weight: bold"
                                ng-click="$root.showSBDetails(item, $event);$event.stopPropagation();">{{item.id_code}}
                            </span>
                                <span><i>{{item.owner}}</i></span>
                            </div>

                            <span flex style="overflow: hidden; text-overflow: ellipsis;" title="{{item.description}}">{{item.description}}</span>
                            <span style="width: 134px; margin: 0 4px">{{item.expected_duration}}</span>
                            <span style="width: 134px; margin: 0 4px">{{item.verification_state}}</span>
                            <span
                            ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                            style="width: 105px; text-transform: uppercase;">{{item.type}}</span>
                            <span style="min-width: 186px;">{{item.desired_start_time}}</span>

                            <md-button ng-disabled="!$root.expertOrLO && !parentScope.vm.iAmCA" class="inline-action-button" title="Unassign Schedule Blocks" style="margin:0"
                                       ng-click="vm.freeScheduleBlock(item); $event.stopPropagation()">
                                <span style="display: inherit" class="fa fa-minus"></span>
                            </md-button>
                            <md-button ng-disabled="!$root.expertOrLO && !parentScope.vm.iAmCA" class="inline-action-button" title="Schedule"
                                       style="margin:0" ng-click="vm.scheduleDraft(item); $event.stopPropagation()">
                                <span style="display: inherit" class="fa fa-check"></span>
                            </md-button>
                            <md-menu>
                                <md-button class="md-icon-button inline-action-button"
                                           ng-click="$mdOpenMenu(); $event.stopPropagation()"
                                           style="margin: 0">
                                    <md-icon class="fa" md-font-icon="fa-ellipsis-v"></md-icon>
                                </md-button>
                                <md-menu-content style="padding: 8px;">
                                    <md-menu-item ng-if="item.type === 'OBSERVATION' && ($root.expertOrLO || parentScope.vm.iAmCA)">
                                        <md-button ng-click="vm.verifyDraft(item)">Verify Draft</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.viewSBTasklog(item, 'dryrun')">View Tasklog</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-virtual-repeat-container>

                    <md-toolbar ng-class="{'md-hue-2': vm.subarray.state !== 'inactive'}" style="margin-top: 8px"
                                class="md-whiteframe-z1 md-toolbar-tools-medium"
                                layout="row" layout-align="center center" title="{{vm.subarray.description}}"
                                ng-click="$parent.vm.stateGo('scheduler.observations.detail')">
                        <span flex style="margin-top: -5px;">Observations</span>

                        <div class="unselectable list-subheader-title" layout="row" layout-align="start center"
                             style="position: absolute; right: 0; bottom: 0; padding: 0; height: 12px">
                            <span style="width: 125px; padding-left: 8px" class="subheader-text">
                                <span>ID</span>
                            </span>
                            <span flex class="subheader-text">
                                <span>Description</span>
                            </span>
                            <span style="width: 150px" class="subheader-text">
                                <span>Verification State</span>
                            </span>
                            <span style="width: 75px" class="subheader-text">
                                <span>Ready</span>
                            </span>
                            <span style="width: 105px" class="subheader-text">
                                <span>Type</span>
                            </span>
                            <span style="width: 175px" class="subheader-text">
                                <span>Desired Time</span>
                            </span>
                        </div>
                    </md-toolbar>

                    <md-virtual-repeat-container flex md-theme="{{themePrimaryButtons}}" class="schedule-draft-data-list md-whiteframe-z1"
                         style="padding: 0; overflow: auto; min-height: 200px; max-height: 300px"
                         ng-class="{'maintenance-bg':vm.subarray.maintenance}">
                        <div
                            md-virtual-repeat="item in vm.currentScheduleData = (vm.scheduleData | filter:{sub_nr:vm.subarray.id})"
                            ng-click="vm.setSelectedSchedule(item);" style="padding: 0 4px"
                            ng-class="{'selected-schedule-row': item === vm.selectedSchedule}"
                            class="schedule-draft-item" layout="row" layout-align="start center" ng-show="item">

                            <md-progress-linear md-theme="green" ng-if="item.state === 'ACTIVE'" class="md-primary progress-bar-fill"
                                                md-mode="{{item.expected_duration_seconds? 'determinate' : 'indeterminate'}}" value="{{item.progress}}"
                                                style="position: absolute; left: 0; right: 0; opacity: 0.8;">
                            </md-progress-linear>
                            <md-progress-linear md-theme="grey" ng-if="item.verification_state === 'VERIFYING'"
                                                class="md-primary progress-bar-fill"
                                                md-mode="indeterminate"
                                                style="position: absolute; left: 0; right: 0;">
                            </md-progress-linear>
                            <div layout="column" layout-align="start" style="width: 120px">
                                <span
                                    ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                    style="font-size: 14px; font-weight: bold"
                                    ng-click="$root.showSBDetails(item, $event);$event.stopPropagation();">{{item.id_code}}
                                </span>
                                <span><i>{{item.owner}}</i></span>
                            </div>
                            <span flex style="overflow: hidden; text-overflow: ellipsis;"
                                  title="{{::item.description}}">{{::item.description}}</span>

                            <span style="width: 150px">{{item.verification_state}}</span>
                            <span style="width: 75px"
                                  ng-class="{'green-color': item.ready, 'red-color': !item.ready}">{{item.ready? 'READY' : 'NOT READY'}}</span>
                            <span
                                ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                style="text-transform: uppercase; width: 105px">{{item.type}}</span>
                            <span style="width: 140px;">{{item.desired_start_time}}</span>
                            <md-menu md-theme="{{themePrimaryButtons}}">
                                <md-button class="md-icon-button inline-action-button"
                                           ng-click="$mdOpenMenu(); $event.stopPropagation()"
                                           style="margin: 0">
                                    <md-icon class="fa" md-font-icon="fa-ellipsis-v"></md-icon>
                                </md-button>
                                <md-menu-content style="padding: 8px;">
                                    <md-menu-item>
                                        <md-button ng-click="vm.viewSBTasklog(item, 'progress')"
                                                   title="View Progress in a New Tab">View Progress
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="item.type == 'OBSERVATION' && !item.pendingVerify && ($root.expertOrLO || parentScope.vm.iAmCA)">
                                        <md-button ng-click="vm.verifySB(item)">Verify Schedule
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="!item.pendingVerify && ($root.expertOrLO || parentScope.vm.iAmCA)">
                                        <md-button ng-click="vm.moveScheduleRowToDraft(item)"
                                                   title="Move Schedule Block to Draft">Move to Draft
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="!item.pendingVerify && ($root.expertOrLO || parentScope.vm.iAmCA)">
                                        <md-button ng-click="vm.setPriority(item, $event)"
                                                   title="Set Schedule Block's Priority">Set Priority
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-virtual-repeat-container>
                </div>

                <md-button ng-disabled="!$root.expertOrLO && !parentScope.vm.iAmCA" md-theme="{{themePrimaryButtons}}" class="md-primary md-raised"
                           style="min-height: 100%; max-width: 31px; min-width: 31px; margin-left: 4px;"
                           ng-click="vm.assignSelectedScheduleBlocks()"
                           title="Assign Schedule Blocks to Subarray">
                    <span class="fa fa-chevron-left md-fab-fa-icon-small"></span>
                </md-button>
            </div>
        </div>

        <div layout="row"
             style="max-width: 385px; min-width: 385px; padding-right: 4px; padding-bottom: 4px;"
             class="md-whitespace-z1">
            <div class="md-whiteframe-z2" layout="column" flex>
                <md-toolbar class="panel-toolbar-small md-whiteframe-z1">
                    <div layout="row" class="unselectable md-toolbar-tools">
                        <span flex>Drafts</span>
                        <input class="fade-in search-input-box" type="search"
                               ng-model-options="{ debounce: 300 }" ng-model="vm.q" placeholder="Search Drafts..."/>
                    </div>
                </md-toolbar>
                <md-virtual-repeat-container flex class="schedule-draft-data-list" flex>
                    <div
                        md-virtual-repeat="item in vm.scheduleDraftData | filter:{sub_nr:null} | regexSearch:vm.draftsOrderByFields:vm.q | orderBy:id_code:true"
                        title="{{item.id_code}} - {{item.description}} - {{item.type}} - {{item.desired_start_time}}"
                        style="cursor: pointer !important;"
                        ng-class="{'selected-resource-item': item.selected}"
                        ng-click="item.selected = !item.selected && ($root.expertOrLO || parentScope.vm.iAmCA)"
                        class="schedule-draft-item" layout="column" layout-align="center start"
                        ng-show="item">
                        <div layout="row" layout-align="start center" style="padding: 0 2px">
                            <md-button class="inline-action-button" ng-disabled="!$root.expertOrLO && !parentScope.vm.iAmCA"
                                       ng-click="vm.removeDraft(item); $event.stopPropagation()"
                                       style="margin: 0; max-width: 24px; min-width: 24px;" title="Delete Draft">
                                <span style="display: inherit" class="fa fa-remove"></span>
                            </md-button>
                            <div layout="column" layout-align="start" style="padding-top: 4px; min-width: 125px; max-width: 125px">
                            <span
                                ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                style="font-size: 14px; font-weight: bold"
                                ng-click="$root.showSBDetails(item, $event)">{{item.id_code}}
                            </span>
                                <span><i>{{item.owner}}</i></span>
                            </div>

                            <div flex
                                 style="min-width: 150px; max-width: 150px; overflow: hidden; margin-left: -14px; margin-right: 4px; text-overflow: ellipsis;">
                                <span style="text-overflow: ellipsis;">{{item.description}}</span>
                            </div>

                        <span
                            ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                            style="min-width: 85px;">{{item.type}}</span>
                            <span style="overflow: hidden; margin-left: 4px">{{item.desired_start_time}}</span>
                        </div>
                    </div>
                </md-virtual-repeat-container>
            </div>

        </div>
    </div>
</div>
