<div flex layout="row" style="min-width: 1150px; min-height: 600px" ng-controller="SubArraysCtrl as vm"
    ng-mouseup="vm.dragSelect = false">

    <div id='left-resize' class="subarray-container" layout="column" style="padding-left: 8px; width: 70%;"
        md-theme="{{vm.subarray.state === 'inactive'? 'grey' : vm.subarray.state === 'active'? 'green' : vm.subarray.state === 'error'? 'amber' : 'deep-purple'}}">

        <div layout="row" id='top-div' style="height: calc(50% - 5px)">
            <div layout="column" flex>
                <md-toolbar md-theme="{{vm.subarray.state === 'inactive'? 'grey' : vm.subarray.state === 'active'? 'green' : vm.subarray.state === 'error'? 'amber' : 'deep-purple'}}"
                    ng-class="{'md-hue-2': vm.subarray.state !== 'inactive'}" class="md-whiteframe-z2" layout="row"
                    layout-align="center center" title="{{vm.subarray.description}}" style="max-height: 80px; min-height: 80px; position: relative;">
                    <div ng-include="'app/scheduler/templates/subarray-config-container.html'"></div>
                    <div flex class="unselectable list-subheader-title subheader-text" layout="row" layout-align="start end">
                        <span style="width: 120px" ng-click="vm.setDraftsOrderBy('id_code')">
                            ID
                            <span class="fa" ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'id_code' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'id_code' && vm.draftsOrderBy.reverse}" style="margin-right: 4px;"></span>
                        </span>
                        <span flex ng-click="vm.setDraftsOrderBy('description')">
                            Description
                            <span class="fa" ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'description' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'description' && vm.draftsOrderBy.reverse}" style="margin-right: 4px;"></span>
                        </span>
                        <div style="width: 97px; font-size: 10px" layout="column">
                            <span ng-click="vm.setDraftsOrderBy('verification_state')">
                                Verification State
                                <span class="fa" ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'verification_state' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'verification_state' && vm.draftsOrderBy.reverse}" style="margin-right: 4px;"></span>
                            </span>
                            <span ng-click="vm.setDraftsOrderBy('expected_duration')">
                                Expected Duration
                                <span class="fa" ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'expected_duration' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'expected_duration' && vm.draftsOrderBy.reverse}" style="margin-right: 4px;"></span>
                            </span>
                        </div>
                        <div style="width: 168px; font-size: 10px" layout="column">
                            <span ng-click="vm.setDraftsOrderBy('type')">
                                Type
                                <span class="fa" ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'type' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'type' && vm.draftsOrderBy.reverse}" style="margin-right: 4px;"></span>
                            </span>
                            <span ng-click="vm.setDraftsOrderBy('desired_start_time')">
                                Desired Time
                                <span class="fa" ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'desired_start_time' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'desired_start_time' && vm.draftsOrderBy.reverse}" style="margin-right: 4px;"></span>
                            </span>
                        </div>
                    </div>
                    <md-menu>
                        <md-button class="subarray-config-menu-button" title="Change Subarray" ng-click="$mdMenu.open($event); $event.stopPropagation()"
                            style="font-size: 30px; margin: 0 4px">
                            <span class="fa fa-chevron-down subarray-select-chevron" style="top: 12px"></span>
                            <span style="margin-left: 14px;">
                                SUBARRAY {{vm.subarray.id}} -
                                <span><b>{{vm.subarray.state}}</b></span>
                            <span ng-show="vm.subarray.maintenance">{{"- in maintenance"}}</span>
                            </span>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item ng-repeat="subarray in parent.vm.subarrays | orderBy:'id' track by $index">
                                <md-button ng-click="parent.vm.stateGo('scheduler.subarrays', subarray.id)">Subarray {{subarray.id}}</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <span flex></span>
                    <md-menu style="margin: 0 8px 0 0; padding: 0; position: relative" class="subarray-mode-button">
                        <span md-ink-ripple style="margin: 0; padding: 0px" ng-click="$mdMenu.open($event)">
                            <span class="fa fa-chevron-down subarray-select-chevron" style="top: 7px"></span>
                            <span style="margin-left: 16px">MODE: <b>{{vm.subarray.mode}}</b></span> </span>
                        </span>
                        <md-menu-content>
                            <md-menu-item ng-repeat="type in parent.vm.modeTypes">
                                <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.setSchedulerMode(vm.subarray.id, type)">Set Mode to: {{type}}</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-toolbar>
                <div id="scheduleDraftDataRepeat" md-theme="{{themePrimary}}" flex class="md-whiteframe-z2"
                    ng-class="{'maintenance-bg':vm.subarray.maintenance}" style="overflow: auto">
                    <div ng-repeat="item in vm.scheduleDraftData | filter:{sub_nr:vm.subarray.id, state:'APPROVED'} | orderBy:vm.draftsOrderBy.value:vm.draftsOrderBy.reverse track by item.id"
                        flex layout="row" layout-align="start center" ng-class="{'selected-schedule-row': item === vm.selectedScheduleDraft}"
                        class="schedule-draft-item" layout="column" ng-show="item">
                        <md-progress-linear md-theme="grey" ng-show="item.verification_state === 'VERIFYING'" class="md-primary progress-bar-fill"
                            md-mode="indeterminate" style="position: absolute; left: 0; right: 0;">
                        </md-progress-linear>
                        <div layout="column" layout-align="center start" style="min-width: 120px; max-width: 120px; margin-left: 4px" class="text-overflow-ellipsis">
                            <span ng-click="$root.showSBDetails(item, $event); $event.stopPropagation()" ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                                style="font-size: 14px; font-weight: bold">{{item.id_code}}</span>
                            <i style="width: 110px">{{item.owner}}</i>
                        </div>
                        <span flex style="overflow: hidden; text-overflow: ellipsis; margin-left: 4px" title="{{item.description}}">{{item.description}}</span>
                        <div layout="column" layout-align="center" class="sb-time-and-type-div" style="margin: 0 4px">
                            <span style="width: 134px; margin: 0 4px">{{item.verification_state}}</span>
                            <span style="width: 134px; margin: 0 4px">{{item.expected_duration_seconds}}</span>
                        </div>

                        <div layout="column" layout-align="center" class="sb-time-and-type-div" style="margin: 0 4px">
                            <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}">{{item.type}}</span>
                            <span>{{item.desired_start_time}}</span>
                        </div>

                        <span class="icon-button fa fa-chevron-circle-down" md-ink-ripple ng-disabled="!parent.vm.iAmAtLeastCA()"
                            title="Schedule" ng-click="!parent.vm.iAmAtLeastCA() || vm.scheduleDraft(item)"></span>
                        <span class="icon-button fa fa-chevron-right" md-ink-ripple ng-disabled="!parent.vm.iAmAtLeastCA()" title="Unassign Schedule Blocks"
                            ng-click="!parent.vm.iAmAtLeastCA() || vm.freeScheduleBlock(item)"></span>
                        <md-menu>
                            <span class="icon-button fa fa-ellipsis-v" md-ink-ripple style="padding: 6px" ng-click="$mdMenu.open($event); $event.stopPropagation()"></span>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-disabled="!(item.type === 'OBSERVATION' && parent.vm.iAmAtLeastCA())" ng-click="vm.verifyDraft(item)">Verify Assigned</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="parent.vm.viewSBTasklog(item, 'dryrun')">View Dryrun</md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneSB(item)">Clone SB</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneAndAssignSB(item)">Clone and Assign SB</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneAndScheduleSB(item)"
                                        title="{{'Clone and Schedule on Subarray ' + vm.subarray.id}}">Clone and Schedule SB</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneSBIntoPBDialog($event, item)" title="Clone Schedule Block into a Program Block">Clone SB Into PB...</md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.moveSBIntoPBDialog($event, item)" title="Move Schedule Block to a Program Block">Move SB to PB...</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA() || item.pb_id === null || item.pb_id === undefined"
                                        ng-click="parent.vm.removeSBFromAnyPB(item)" title="Remove Schedule block from any Program Block">Remove SB From PB</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="parent.vm.addUserLog($event, item)" title="Add user log">
                                        <span style="margin-right: 4px"></span>
                                        <span>Add User Log...</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>
            <md-button md-theme="{{themePrimaryButtons}}" class="md-raised md-primary" style="min-height: 100%; max-width: 41px; min-width: 41px; margin: 2px 0 0 4px"
                ng-disabled="!parent.vm.iAmAtLeastCA() || vm.selectedSBs.length === 0" ng-click="vm.assignSelectedScheduleBlocks()"
                title="Assign Schedule Blocks to Subarray">
                <md-icon class="fa" md-font-icon="fa-chevron-left" style="width: auto; height: auto"></md-icon>
            </md-button>
        </div>

        <hr resizeabledivs="#top-div--#bottom-div" style="cursor: ns-resize; width: 100%; border-top: 5px solid #eeeeee; opacity: 0; margin: 0;">

        <div layout="column" id='bottom-div' style="padding-right: 4px; height: calc(50% - 5px)" class="md-whiteframe-z1">
            <md-toolbar ng-class="{'md-hue-2': vm.subarray.state !== 'inactive'}" style="margin-top: 8px; min-height: 60px" class="md-whiteframe-z2 md-toolbar-tools-medium">
                <span md-ink-ripple flex title="Click to view scheduling details" ng-click="parent.vm.stateGo('scheduler.observations.detail')" style="margin-top: -20px">Observations</span>
                <div ng-include="'app/scheduler/templates/sb-scheduled-list-header.html'" class="list-subheader-title"
                    style="height: 32px; width: 100%"></div>
            </md-toolbar>
            <div style="min-height: 350px; overflow: auto" ng-if="vm.subarray.mode !== 'auto'" layout="column" flex ng-include="'app/scheduler/templates/pb-scheduled-list.html'"></div>
            <div style="min-height: 350px; overflow: auto" ng-if="vm.subarray.mode === 'auto'" layout="column" flex ng-include="'app/scheduler/templates/auto-schedule-list.html'"></div>
        </div>
    </div>

    <hr resizeabledivs="#left-resize||#right-resize" style="cursor: ew-resize; height: 100%; border-right: 5px solid #eeeeee; opacity: 0; margin: 0 0 0 2px;">

    <div id='right-resize' layout="column" class="md-whiteframe-z2 unselectable" style="margin: 0 8px 8px 4px; width: 30%;">
        <md-toolbar class="panel-toolbar-small md-whiteframe-z1">
            <md-tooltip md-visible="vm.showDeselectTooltip" md-direction="top" md-autohide="false">
                [esc] to clear selection, [enter] to assign sb's
            </md-tooltip>
            <div layout="row" class="unselectable md-toolbar-tools">
                <span flex>Approved</span>
                <input class="fade-in search-input-box" type="search" ng-model-options="{ debounce: 300 }" ng-model="vm.q"
                    placeholder="Search Approved..." />
            </div>
        </md-toolbar>
        <div flex style="overflow: auto">
            <div ng-repeat="item in vm.scheduleDraftData | filter:{sub_nr:null, state:'APPROVED'} | regexSearch:vm.draftsOrderByFields:vm.q | orderBy:id_code:true track by item.id"
                title="{{item.id_code}} - {{item.description}} - {{item.type}} - {{item.desired_start_time}}"
                ng-class="{'selected-resource-item': item.selected}" class="schedule-draft-item" layout="row"
                layout-align="start center" ng-mousedown="vm.dragSelect = true; vm.dragSelectUnselect = item.selected; vm.toggleSBSelect(item)"
                ng-mouseover="vm.dragSelect && !vm.dragSelectUnselect? vm.toggleSBSelect(item, true) : vm.dragSelect && vm.dragSelectUnselect? vm.toggleSBSelect(item, false) : ''"
                style="cursor: pointer" ng-disabled="!$root.expertOrLO">
                <span class="icon-button fa fa-chevron-left" md-ink-ripple style="width: 22px; padding: 6px 4px" ng-disabled="!parent.vm.iAmAtLeastCA()"
                    title="Assign schedule block to subarray" ng-click="!parent.vm.iAmAtLeastCA() || vm.assignScheduleBlock(item)"
                    ng-mousedown="$event.stopPropagation()"></span>
                <div layout="column" layout-align="center start" style="min-width: 100px; max-width: 100px">
                    <span ng-click="$root.showSBDetails(item, $event); $event.stopPropagation()" ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                        style="font-size: 14px; font-weight: bold">{{item.id_code}}</span>
                    <span><i>{{item.owner}}</i></span>
                </div>
                <span flex class="sb-wrapped-description">
                        {{item.description}}
                    </span>
                <div layout="column" layout-align="center" class="sb-time-and-type-div" style="margin-left: 2px">
                    <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}">{{item.type}}</span>
                    <span>{{item.desired_start_time}}</span>
                </div>
                <span class="icon-button fa fa-remove fixed-width-18" md-ink-ripple style="padding: 6px 2px" ng-disabled="!parent.vm.iAmAtLeastCA()"
                    ng-mousedown="$event.stopPropagation()" title="Delete Schedule Block" ng-click="!parent.vm.iAmAtLeastCA() || vm.removeDraft(item); $event.stopPropagation()"></span>
            </div>
        </div>
    </div>
</div>
