.deps
.dirstamp
.DS_Store
.dtps
.eslintrc.js
.git/
.idea
.mason
build
Debug
Dockerfile
gyp-mac-tool
lib/binding
local.env
Makefile.gyp
node_modules
npm-debug.log
out
Release
setup.sh
test/nw/app.nw
test/support/big.db
test/tmp
