@import "bower_components/bootstrap/less/bootstrap.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";

@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
@import "login-form/login-form.less";
@import "landing/landing.less";
@import "operator-control/operator-control.less";
@import "about/about.less";
@import "weather/weather.less";
@import "operator-control/receptor-state/receptor-state.less";
@import "sensor-graph/sensor-graph.less";
@import "admin/admin.less";
@import "alarms/alarms.less";
@import "widgets/navigation/navigation-widget.less";
@import "scheduler/scheduler.less";
/* Add Component LESS Above */

@button-background-gradient: linear-gradient(to bottom, #79a3c9 0%, #4772a0 100%);
@receptor-state-border-color: darkgrey;
@receptor-state-default-background-gradient: linear-gradient(to bottom, #9dd53a 0%, #7cbc0a 100%);
@receptor-state-inhibited-background-gradient: linear-gradient(to bottom, #ffc578 0%, #fb9d23 100%);

@body-gradient-start: #cacaca;
@body-gradient-end: #9a9a9a;
@panel-gradient-start: #FAFAFA;
@panel-gradient-end: #D9D9D9;

@btn-primary-color: #f0f0f0;
@btn-primary-bg: #4a7fb0;
@btn-primary-border: darken(@btn-primary-bg, 5%);
@navbar-height: 50px;

@app-min-width: 770px;

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a {
  cursor: pointer;
}

.nav-username-center {
  text-align: center;
  vertical-align: center;
}

.navbar-collapse-button {
  position: absolute;
  top: -5px;
  left: 2px;
  color: gray;
  cursor: pointer;
  border: 0;
  background: none;

  i {
    font-size: 16px;
  }

  &:hover {
    color: darkgray;
  }

  &:focus {
    outline: none;
  }
}

.navbar-actions-button {
  margin-left: -13px;
  margin-top: 25px;
  color: gray;
  cursor: pointer;
  border: 0;
  background: none;

  i {
    font-size: 16px;
  }

  &:hover {
    color: darkgray;
  }
}

.actions-container {
  position: fixed;
  top: 47px;
  left: 0px;
}

.alarms-warning-container {
  border-left: 1px solid lighten(darkgray, 20%);
}

.navbar-alarms-warning-icon {
  color: gray;
  border: 0;
  background: none;
  margin-right: 10px;
  margin-left: 10px;
//  margin-top: 12px;

  i {
    font-size: 24px;
  }

  &:hover {
    color: darkgray;
  }

  &:focus {
    outline: none;
  }
}

.alarm-badge {
  position: absolute;
  top: 10px;
  right: 2px;
  background-color: orangered;
}

.navbar-anchor {
  border-left: 1px solid lighten(darkgray, 20%);
  color: grey;

  &:hover {
    color: darkgray;
  }
}

.navbar {
  border: 0px solid black;
  margin-bottom: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  min-width: @app-min-width;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-actions-group {
  height: 0px;
}

body {
  background: lightgrey;
  padding-top: 0px !important;
  height: 0px;
  min-width: @app-min-width;

  .panel {
    background-color: transparent;
    background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, @panel-gradient-start 0%, @panel-gradient-end 100%);
    background-image: radial-gradient(ellipse farthest-corner at center top, @panel-gradient-start 0%, @panel-gradient-end 100%);
  }
}

//.ng-hide-add, .ng-hide-remove {
//  display: block !important;
//}
//
//.animateHide {
//  transition: 1s linear all;
//  height: @navbar-height;
//  overflow: hidden;
//}
//
//.animateHide.ng-hide {
//  height: 0px;
//}

.view-container {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.btn-navbar-fill {
  height: 50px;
  border: 1px solid lighten(darkgray, 20%);
  background: lighten(darkgray, 25%);
  border-radius: 0px;

  &:hover {
    background: lighten(darkgray, 20%);
  }
}

.operator-control-btn-contrainer {
  margin-left: 15px;
}