<!DOCTYPE html>
<html ng-app="katGui">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet" type="text/css">
    <link href="app/app.less" type="text/css" rel="stylesheet/less">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">-->
    <link href="bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.min.css" rel="stylesheet"
          type="text/css">
    <link href="bower_components/ng-grid/ng-grid.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/angular-gantt/assets/gantt.css" rel="stylesheet" type="text/css">
    <link href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet"
          type="text/css">

    <!-- build:css fonts/fontawesome.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- endbuild -->
</head>

<!-- Place this asynchronous JavaScript just before your </body> tag -->
<!--<script type="text/javascript">-->
<!--(function () {-->
<!--var po = document.createElement('script');-->
<!--po.type = 'text/javascript';-->
<!--po.async = true;-->
<!--po.src = 'https://apis.google.com/js/client:plusone.js';-->
<!--var s = document.getElementsByTagName('script')[0];-->
<!--s.parentNode.insertBefore(po, s);-->
<!--})();-->
<!--</script>-->

<body ng-controller="ApplicationCtrl">

<!-- Livereload script for development only (stripped during dist build) -->
<script src="http://localhost:35729/livereload.js" data-concat="false"></script>

<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/jquery-ui/ui/jquery.ui.core.js"></script>
<script src="bower_components/jquery-ui/ui/jquery.ui.widget.js"></script>
<script src="bower_components/jquery-ui/ui/jquery.ui.mouse.js"></script>
<script src="bower_components/jquery-ui/ui/jquery.ui.sortable.js"></script>

<!-- JS from Bower Components -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/hammerjs/hammer.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>

<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/sockjs/sockjs.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>

<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/ng-grid/ng-grid-2.0.13.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.min.js"></script>
<script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script src="bower_components/angular-gantt/assets/angular-gantt.js"></script>
<!-- Add New Bower Component JS Above -->

<!-- Main App JS -->
<script src="app/app.js"></script>
<script src="app/about/about.js"></script>
<script src="app/login-form/login-form.js"></script>
<script src="app/auth/auth-service.js"></script>
<script src="app/landing/landing.js"></script>
<script src="app/weather/weather.js"></script>
<script src="app/operator-control/operator-control.js"></script>
<script src="app/util/focus-directive.js"></script>
<script src="app/data/data-service.js"></script>
<script src="app/health/health.js"></script>
<script src="app/auth/session-service.js"></script>
<script src="app/sensor-graph/sensor-graph.js"></script>
<script src="app/d3/d3-chart-directive.js"></script>
<script src="app/d3/d3-treemap.js"></script>
<script src="app/d3/d3-wind-rose.js"></script>
<script src="app/d3/d3-service.js"></script>
<script src="app/admin/admin.js"></script>
<script src="app/alarms/alarms.js"></script>
<script src="app/alarms/alarm-service.js"></script>
<script src="app/alarms/alarms-notify.js"></script>
<script src="app/widgets/navigation/navigation-widget.js"></script>
<script src="app/widgets/dashboard-structures.js"></script>
<script src="app/scheduler/scheduler.js"></script>
<script src="app/widgets/gantt/gantt-widget.js"></script>
<!-- Add New Component JS Above -->

<section layout="horizontal" layout-fill>
    <material-sidenav component-id="left-sidenav" layout="vertical" ng-show="showSideNav && showNavbar" style="box-shadow: 0px 8px 17px 1px rgba(0, 0, 0, 0.2);">
        <material-toolbar class="material-theme-light material-medium-tall">
            <h1 class="material-toolbar-tools" style="padding-top:25px; padding-left: 25px; font-size: 1.5em;">katGUI</h1>
        </material-toolbar>
        <material-content class="material-content-padding">
            <material-list>
                <material-item>
                    <button ink-ripple class="menu-item" ng-class="{ active: isPageSelected('landing') }" ng-click="stateGo('landing')">Home</button>
                </material-item>
                <material-item>
                    <button ink-ripple class="menu-item" ng-class="{ active: isPageSelected('alarms') }" ng-click="stateGo('alarms')">Alarms</button>
                </material-item>
                <material-item>
                    <button ink-ripple class="menu-item" ng-class="{ active: isPageSelected('health') }" ng-click="stateGo('health')">Health And State</button>
                </material-item>
                <material-item>
                    <button ink-ripple class="menu-item" ng-class="{ active: isPageSelected('operatorControl') }" ng-click="stateGo('operatorControl')">Operator Control</button>
                </material-item>
                <material-item>
                    <button ink-ripple class="menu-item" ng-class="{ active: isPageSelected('scheduler') }" ng-click="stateGo('scheduler')">Scheduler</button>
                </material-item>
                <material-item>
                    <button ink-ripple class="menu-item" ng-class="{ active: isPageSelected('sensorGraph') }" ng-click="stateGo('sensorGraph')">Sensor Graphs</button>
                </material-item>
                <material-item>
                    <button ink-ripple class="menu-item" ng-class="{ active: isPageSelected('weather') }" ng-click="stateGo('weather')">Weather</button>
                </material-item>
                <material-item>
                    <button ink-ripple class="menu-item">Log Reports</button>
                </material-item>
                <material-item>
                    <button ink-ripple class="menu-item">Source Catalogues</button>
                </material-item>
                <material-item>
                    <button ink-ripple class="menu-item" ng-class="{ active: isPageSelected('admin') }" ng-click="stateGo('admin')">User Admin</button>
                </material-item>
                <material-item>
                    <button ink-ripple class="menu-item" ng-class="{ active: isPageSelected('about') }" ng-click="stateGo('about')">About katGUI</button>
                </material-item>

            </material-list>
        </material-content>
    </material-sidenav>

    <section layout="vertical" flex>
        <material-toolbar ng-show="showNavbar" class="material-theme-dark">
            <div class="material-toolbar-tools" layout="horizontal">

                <button class="button-toolbar-flat-icon"
                        style="margin-left: 0px; padding: 0px;"
                        ng-click="showSideNav = !showSideNav">
                    <i class="fa" ng-class="{'fa-angle-left': showSideNav, 'fa-angle-right': !showSideNav}"></i>
                </button>

                <div class="btn-group"
                     ng-class="{open: operatorControlHover || operatorControlMenuHover}" layout="horizontal">

                    <material-button style="height: 40px;" class="material-button-raised material-button-colored"
                                     ng-mouseenter="operatorControlHover = true"
                                     ng-mouseleave="operatorControlHover = false"
                                     ng-click="operatorControlHover = false; operatorControlMenuHover = false; stateGo('operatorControl')">
                        <span>Operator Control</span>
                    </material-button>

                    <material-content flex style="margin: -7px -1px 0;" class="dropdown-menu"
                                      ng-mouseenter="operatorControlMenuHover = true"
                                      ng-mouseleave="operatorControlMenuHover = false"
                                      role="menu">
                        <material-list>
                            <material-item>
                                <button ink-ripple class="menu-item">Inhibit All</button>
                            </material-item>
                            <material-item>
                                <button ink-ripple class="menu-item">Stow All</button>
                            </material-item>
                            <material-item>
                                <button ink-ripple class="menu-item">Stop All</button>
                            </material-item>
                            <i class="divider menu-item"></i>
                            <material-item>
                                <button ink-ripple class="menu-item">Resume Operations</button>
                            </material-item>
                            <i class="divider menu-item"></i>
                            <material-item>
                                <button ink-ripple class="menu-item">Shutdown Computing</button>
                            </material-item>
                        </material-list>
                    </material-content>

                </div>

                <span flex></span>

                <div>
                    <a class="toolbar-anchor">{{utcTime}}</a><a class="toolbar-anchor" style="font-size: 9pt;"> UTC</a><br/>
                    <a class="toolbar-anchor">{{localTime}}</a><a class="toolbar-anchor" style="font-size: 9pt;"> Local</a>
                </div>

                <button class="button-toolbar-flat-icon"
                        style="border-left: 1px solid white;"
                        ng-click="stateGo('landing')"><span>Home</span>
                </button>

                <div class="alarms-warning-container">
                    <button class="unselectable button-toolbar-flat-icon navbar-btn"
                            ng-click="stateGo('alarms')"
                            style="border-left: 1px solid white;">
                        <i class="fa fa-warning"></i>
                    </button>
                    <span ng-if="newAlarmWarnCount > 0"
                          class="badge alarm-badge alarm-badge-warn">{{newAlarmWarnCount}}</span>
            <span ng-if="newAlarmErrorCount > 0"
                  class="badge alarm-badge alarm-badge-error">{{newAlarmErrorCount}}</span>
                    <span ng-if="newAlarmCritCount > 0"
                          class="badge alarm-badge alarm-badge-crit">{{newAlarmCritCount}}</span>
                </div>
            </div>

        </material-toolbar>
        <material-content id="ui-view-container-div" ui-view scroll-y flex class="material-content-padding">
        </material-content>
    </section>
</section>

<button class="unselectable toolbar-collapse-button"
        ng-click="showNavbar = !showNavbar">
    <i class="fa"
       ng-class="{ 'fa-caret-square-o-up': showNavbar,  'fa-caret-square-o-down': !showNavbar, 'toolbar-collapse-button-grey': !showNavbar}"></i>
</button>

<div style="pointer-events: none;" alarm></div>

</body>
</html>
