<!DOCTYPE html>
<html ng-app="katGui" ng-strict-di>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="app.less" type="text/css" rel="stylesheet/less">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/ng-grid/ng-grid.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" type="text/css">
</head>

<!-- Place this asynchronous JavaScript just before your </body> tag -->
<script type="text/javascript">
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>

<body ng-controller="ApplicationController">

<!-- Livereload script for development only (stripped during dist build) -->
<script src="http://localhost:35729/livereload.js" data-concat="false"></script>

<!-- JS from Bower Components -->
<script src="bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/sockjs/sockjs.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/ng-grid/ng-grid-2.0.13.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
<script src="bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.min.js"></script>
<script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<!-- Add New Bower Component JS Above -->

<!-- build:js js/jquery.ui.sortable.min.js -->
<script type="text/javascript" src="bower_components/jquery-ui/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="bower_components/jquery-ui/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="bower_components/jquery-ui/ui/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="bower_components/jquery-ui/ui/jquery.ui.sortable.js"></script>
<!-- endbuild -->

<!-- Main App JS -->
<script src="app.js"></script>
<script src="about/about.js"></script>
<script src="login-form/login-form.js"></script>
<script src="auth/auth-service.js"></script>
<script src="landing/landing.js"></script>
<script src="weather/weather.js"></script>
<script src="operator-control/receptor-state/receptor-state.js"></script>
<script src="operator-control/operator-control.js"></script>
<script src="util/focus-directive.js"></script>
<script src="data/data-service.js"></script>
<script src="auth/session-service.js"></script>
<script src="sensor-graph/sensor-graph.js"></script>
<script src="d3/d3-chart-directive.js"></script>
<script src="d3/d3-service.js"></script>
<script src="admin/admin.js"></script>
<script src="alarms/alarms.js"></script>
<script src="alarms/alarm-service.js"></script>
<script src="alarms/alarms-notify.js"></script>
<script src="widgets/navigation/navigation-widget.js"></script>
<script src="widgets/dashboard-structures.js"></script>
<script src="scheduler/scheduler.js"></script>
<!-- Add New Component JS Above -->
<!--ng-show="userLoggedIn && !navbarCollapsed"-->
<nav ng-show="!navbarCollapsed" class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

        <!--ng-if="userCanOperate"-->

        <!--!navbarCollapsed && userLoggedIn-->
        <div class="nav navbar-nav btn-group navbar-actions-group">

            <button class="unselectable navbar-actions-button navbar-btn dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-list"></i>
            </button>

            <ul class="dropdown-menu actions-container" role="menu">
                <li><a href="" ng-click="stateGo('landing')">Landing</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="stateGo('alarms')">Alarms</a></li>
                <li><a href="">Health And State</a></li>
                <li><a href="" ng-click="stateGo('operatorControl')">Operator Control</a></li>
                <li><a href="" ng-click="stateGo('scheduler')">Scheduler</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="stateGo('sensorGraph')">Sensor Graphs</a></li>
                <li><a href="" ng-click="stateGo('weather')">Weather</a></li>
                <li class="divider"></li>
                <li><a href="">Log Reports</a></li>
                <li><a href="">Source Catalogues</a></li>
                <li><a href="" ng-click="stateGo('admin')">User Admin</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="stateGo('about')">About katGUI</a></li>
            </ul>
        </div>

        <div class="nav navbar-nav btn-group" style="margin-left: 20px;">

            <button type="button" class="btn btn-navbar-fill" ng-click="stateGo('operatorControl')">Operator
                Control
            </button>
            <button type="button" class="btn btn-navbar-fill dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Inhibit All</a></li>
                <li><a href="#">Stow All</a></li>
                <li><a href="#">Stop All</a></li>
                <li class="divider"></li>
                <li><a href="#">Resume Operations</a></li>
                <li class="divider"></li>
                <li><a href="#">Shutdown Computing</a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-anchor"><span>UTC: {{utcTime}}</span></a>
                </li>
                <li>
                    <a class="navbar-anchor"><span>Local: {{localTime}}</span></a>
                </li>
                <li>
                    <a class="unselectable navbar-anchor" ng-click="stateGo('landing')"><span>Landing Page</span>
                    </a>
                </li>

                <li>
                    <div>
                        <button class="unselectable navbar-alarms-warning-icon navbar-btn" ng-click="stateGo('alarms')">
                            <i class="glyphicon glyphicon-warning-sign"></i>
                        </button>
                        <span ng-if="newAlarmCount > 0" class="badge alarm-badge">{{newAlarmCount}}</span>
                    </div>
                </li>

                <!--ng-show="!userLoggedIn"-->
                <li >
                    <button type="button" class="btn btn-navbar-fill" ng-click="stateGo('login')">Login
                    </button>
                </li>
                <!--<li ng-show="userLoggedIn">-->
                    <!--<div class="btn-group">-->
                        <!--<button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown">-->
                            <!--{{currentUser.name}} <span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li><a ng-click="stateGo('admin')">User Administration</a></li>-->
                            <!--<li><a ng-click="stateGo('about')">About</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a ng-click="logout()">Logout</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

<div ui-view>

</div>

<!--!navbarCollapsed && userLoggedIn-->

<button class="unselectable navbar-collapse-button navbar-btn" ng-click="navbarCollapsed = !navbarCollapsed" data-toggle="dropdown">
    <i class="glyphicon" ng-class="{ 'glyphicon-collapse-up': !navbarCollapsed,  'glyphicon-collapse-down': navbarCollapsed}"></i>
</button>

<!--ng-show="userLoggedIn"-->
<div style="pointer-events: none;" alarm></div>

</body>
</html>
