<div flex layout="column" style="min-width: 1260px; min-height: 500px" ng-controller="SbDraftsCtrl as vm">

    <div flex layout="row" style="margin: 0 8px 8px 8px">
        <div class="md-whiteframe-z2" layout="column" flex>
            <md-toolbar class="md-whiteframe-z1">
                <div layout="row" class="unselectable">
                    <span flex style="max-height: 10px;"></span>
                    <input class="fade-in search-input-box" type="search" ng-model-options="{ debounce: 300 }" ng-model="vm.q"
                        placeholder="Search Approved..." />
                    <span class="icon-button fa fa-check" style="font-size: 16px" md-ink-ripple title="Save all changes"
                        ng-click="vm.saveAllDirtyDrafts()"></span>
                </div>

                <div flex class="unselectable list-subheader-title" layout="row" layout-align="start center" style="position: absolute; left: 4px; right: 8px; bottom: 0; padding: 0">
                    <span style="width: 124px" class="subheader-text" ng-click="vm.setDraftsOrderBy('id_code')">
                        <span>ID</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'id_code' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'id_code' && vm.draftsOrderBy.reverse}"
                        style="margin-right: 4px;"></span>
                    </span>
                    <span flex style="width: 180px" class="subheader-text" ng-click="vm.setDraftsOrderBy('description')">
                        <span>Description</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'description' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'description' && vm.draftsOrderBy.reverse}"
                        style="margin-right: 4px;"></span>
                    </span>
                    <span style="width: 137px" class="subheader-text" ng-click="vm.setDraftsOrderBy('type')">
                        <span>Type</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'type' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'type' && vm.draftsOrderBy.reverse}"
                        style="margin-right: 4px;"></span>
                    </span>
                    <span style="width: 162px" class="subheader-text" ng-click="vm.setDraftsOrderBy('desired_start_time')">
                        <span>Desired Time</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.draftsOrderBy.value === 'desired_start_time' && !vm.draftsOrderBy.reverse, 'fa-caret-down': vm.draftsOrderBy.value === 'desired_start_time' && vm.draftsOrderBy.reverse}"
                        style="margin-right: 4px;"></span>
                    </span>
                </div>
            </md-toolbar>
            <div ng-click="showDatePicker = false" flex id="scheduleDraftDataRepeat">
                <div ng-repeat="item in filteredDraftItems = (vm.scheduleDraftData | regexSearch:vm.draftsOrderByFields:vm.q | orderBy:vm.draftsOrderBy:vm.draftsOrderBy.reverse) track by item.id"
                    layout="row" ng-click="vm.setSelectedScheduleDraft(item)" ng-class="{'selected-schedule-row md-whiteframe-z3': item === vm.selectedScheduleDraft}"
                    class="schedule-draft-item" layout-align="start center" style="padding: 0 4px">
                    <md-progress-linear md-theme="grey" ng-if="item.verification_state === 'VERIFYING'" class="md-primary progress-bar-fill"
                        md-mode="indeterminate" style="position: absolute; left: 0; right: 0;">
                    </md-progress-linear>
                    <div layout="column" layout-align="start" style="padding-top: 4px; width: 125px">
                        <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                            style="font-size: 14px; font-weight: bold" ng-click="$root.showSBDetails(item, $event);$event.stopPropagation();">{{item.id_code}}
                        </span>
                        <span><i>{{item.owner}}</i></span>
                    </div>
                    <input ng-if="item.editing" ng-change="item.isDirty = true;" type="text" ng-click="vm.setSelectedScheduleDraft(item, true); $event.stopPropagation();"
                        flex class="schedule-item-description-input" style="height: 27px;" ng-model="item.description"
                        placeholder="Description" />
                    <span ng-if="!item.editing" flex style="overflow: hidden; text-overflow: ellipsis;" title="{{item.description}}">{{item.description}}</span>
                    <md-select ng-if="item.editing" ng-model="item.type" style="width: 126px; margin: 0 4px" ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                        class="md-primary" ng-click="item.isDirty = true; vm.setSelectedScheduleDraft(item, true); $event.stopPropagation();">
                        <md-option ng-value="type" ng-repeat="type in vm.types">{{type}}</md-option>
                    </md-select>
                    <span ng-if="!item.editing" style="width: 134px; margin: 0 4px" ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}">
                        {{item.type}}</span>
                    <input ng-if="item.editing" ng-change="item.isDirty = true; vm.validateInputDate(item);" type="text"
                        title="UTC" class="schedule-item-input schedule-item-date-input" ng-class="{'invalid-date-error': item.hasInvalidInput}"
                        ng-click="vm.openDatePicker(item, $event, $index);" ng-model="item.desired_start_time"
                        placeholder=""/>
                    <span ng-if="!item.editing" style="width: 110px; overflow: hidden">{{item.desired_start_time}}</span>
                    <span class="icon-button fa fa-check" md-ink-ripple title="Save Edits" ng-click="vm.saveDraft(item); $event.stopPropagation()"
                        ng-if="item.editing"></span>
                    <span ng-disabled="!$root.expertOrLO && $root.currentUser.req_role !== 'control_authority'" class="icon-button fa fa-remove"
                        md-ink-ripple title="Delete Approved Schedule Block" ng-click="!$root.expertOrLO && $root.currentUser.req_role !== 'control_authority' || vm.removeDraft(item); $event.stopPropagation()"
                        ng-if="!item.editing"></span>
                    <md-menu>
                        <span class="icon-button fa fa-ellipsis-v" md-ink-ripple style="padding: 6px" ng-click="$mdMenu.open($event); $event.stopPropagation()"></span>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="item.editing = true">Edit</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="vm.editInstructionSet(item, $event)">Edit Instruction Set</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-disabled="item.type !== 'OBSERVATION'" ng-click="vm.viewSBTasklog(item)">View Dryrun</md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneSB(item)">Clone SB</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneSBIntoPBDialog($event, item)" title="Clone Schedule Block into a Program Block">Clone SB Into PB...</md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.moveSBIntoPBDialog($event, item)" title="Move Schedule Block to a Program Block">Move SB to PB...</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-disabled="!parent.vm.iAmAtLeastCA() || item.pb_id === null || item.pb_id === undefined"
                                    ng-click="parent.vm.removeSBFromAnyPB(item)" title="Remove Schedule block from any Program Block">Remove SB From PB</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>

        <div flex layout="column" style="max-width: 400px; min-width: 400px; margin-left: 8px"
            ng-click="showDatePicker = false">
            <md-toolbar class="panel-toolbar-small md-whiteframe-z1" flex style="padding: 8px" layout="row" layout-align="start center">
                <span>Schedule Block Details</span>
            </md-toolbar>
            <pre flex style="max-width: 450px; min-height: 278px" class="sb-details-pre md-whiteframe-z2" ng-bind-html='vm.selectedScheduleDraft | prettifyJSON'></pre>
        </div>

        <div id="schedulerDatePickerMenu" class="datepickerMenu md-whiteframe-z1" ng-show="vm.showDatePicker">
            <datetimepicker data-ng-model="vm.currentSelectedDate" data-on-set-time="vm.onTimeSet(newDate, oldDate)"></datetimepicker>
        </div>
    </div>
</div>
