<div class="view-container" flex ng-controller="AdminCtrl as vm" layout="column">

    <div class="md-whiteframe-z1" layout="column" layout-align="start center" style="margin-bottom: 16px; position: relative; min-height: 269px;">
        <md-toolbar class="panel-toolbar md-whiteframe-z1" layout="row" layout-align="center">
            <span class="md-toolbar-tools" flex>{{::currentUser.name}}'s Account Details</span>
        </md-toolbar>
        <!--<div flex layout="row" style="width: 100%;">-->
            <!--<span style="min-width: 265px;" flex>{{::currentUser.name}}</span>-->
            <!--<span flex>{{::currentUser.email}}</span>-->
            <!--<span flex>{{::currentUser.roles}}</span>-->
        <!--</div>-->
        <div style="width: 100%; height: auto;">
            <div class="md-whiteframe-z3" flex layout="row" layout-align="start center" style="background: white; margin: 32px; height: 80px; overflow: auto;">
                <div flex style="min-width: 265px; text-align: center; display: inline-block;" layout="row">
                    <span class="cell-span">{{::currentUser.name}}<md-tooltip>My Name</md-tooltip></span>
                </div>
                <div flex style="min-width: 335px; text-align: center; display: inline-block;" layout="row">
                    <span class="cell-span">{{::currentUser.email}}<md-tooltip>My Email Address</md-tooltip></span>
                </div>
                <div flex layout-align="start center" style="text-align: center; display: inline-block;" layout="row">
                    <span class="cell-span" ng-if="currentUser.roles.length > 0" ng-repeat="role in currentUser.roles | orderBy:role">{{role}},<md-tooltip>My Roles</md-tooltip></span>
                    <span class="cell-span" ng-if="currentUser.roles.length === 0">No Roles Assigned<md-tooltip>My Roles</md-tooltip></span>
                </div>
            </div>
        </div>
        <md-button ng-click="vm.resetPassword($event, currentUser);" class="md-primary md-raised" md-theme="{{themePrimaryButtons}}" style="height: 45px;margin: 8px;">Reset My
            Password
        </md-button>
    </div>

    <div ng-if="vm.isUserAdmin" class="md-whiteframe-z1" flex layout="column" style="margin-bottom: 16px; position: relative; min-height: 452px;">
        <loading-overlay ng-show="vm.userListProcessingServerCall"></loading-overlay>
        <md-toolbar class="panel-toolbar md-whiteframe-z1" ng-mouseenter="showUserTools = true;" ng-mouseleave="showUserTools = false;">
            <div class="unselectable md-toolbar-tools" layout="row">
                <span flex ng-click="vm.setOrderBy('id')" style="cursor: pointer;"><span>katGUI Users<md-tooltip>Sort by database ID</md-tooltip></span></span>
                <md-checkbox class="fade-in" aria-label="Show Deactivated Users" ng-show="showUserTools" style="font-size: 14px;" ng-model="vm.showDeactivatedUsers">Show Deactivated Users
                </md-checkbox>

                <input class="fade-in search-input-box" style="min-width: 250px;" ng-show="showUserTools || q" type="search"
                       ng-model-options="{ debounce: 300 }" ng-model="q" placeholder="Search Users..."/>
                <md-button aria-label="Create A User" style="margin-right: 8px;" ng-click="vm.createUser()" class="md-fab md-button-fab-small md-primary" md-theme="{{themePrimaryButtons}}">
                    <span class="fa fa-plus" style="margin-top: 2px;"></span>
                    <md-tooltip>Create A User</md-tooltip>
                </md-button>
            </div>

            <div flex class="unselectable list-subheader-title" style="padding-top: 8px; z-index: 0;" layout="row" layout-align="center center">
                <span style="max-width: 265px;min-width: 265px;" class="subheader-text" ng-click="vm.setOrderBy('name')">
                    <span style="padding: 8px">Name</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.orderBy.value === 'name' && !vm.orderBy.reverse, 'fa-caret-down': vm.orderBy.value === 'name' && vm.orderBy.reverse}"
                          style="margin-right: 4px;"></span>
                </span>
                <span style="max-width: 265px;min-width: 265px;" class="subheader-text" ng-click="vm.setOrderBy('email')">
                    <span style="padding: 8px">Email</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.orderBy.value === 'email' && !vm.orderBy.reverse, 'fa-caret-down': vm.orderBy.value === 'email' && vm.orderBy.reverse}"
                          style="margin-right: 4px;"></span>
                </span>
                <span flex ng-click="vm.setOrderBy('roles')" class="subheader-text">
                    <span style="padding: 8px">Roles</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.orderBy.value === 'roles' && !vm.orderBy.reverse, 'fa-caret-down': vm.orderBy.value === 'roles' && vm.orderBy.reverse}"
                          style="margin-right: 4px;"></span>
                </span>
            </div>
        </md-toolbar>


        <div id="userListId" flex class="user-list">
            <div class="user-row animate-repeat" ng-repeat="user in vm.userData | filter:q | orderBy:vm.orderBy.value:vm.orderBy.reverse as results track by user.id" flex layout="row"
                 layout-align="start center"
                 style="background: white;"
                 ng-if="user.activated || vm.showDeactivatedUsers" ng-class="{ 'deactivated-user': !user.activated, 'activated-user': user.activated }">
                <div flex class="user-cell" style="max-width: 265px; min-width: 265px;" layout="row" title="Name">
                    <input flex type="text" placeholder="Name" md-theme="{{themeSecondary}}" ng-attr-id="{{ 'user-name-input-' + user.name }}" label="Name" ng-if="user.editing" ng-model="user.name"/>
                    <span class="cell-span" ng-if="!user.editing">{{user.name}}</span>
                </div>
                <div flex class="user-cell" style="max-width: 265px; min-width: 265px;" layout="row">
                    <input flex type="text" placeholder="Name" md-theme="{{themeSecondary}}" label="Email" ng-if="user.editing" ng-model="user.email" title="Email"/>
                    <span class="cell-span" ng-if="!user.editing">{{user.email}}</span>
                </div>
                <div flex class="user-cell" style="min-width: 365px;" layout-align="start center" layout="row" title="User Roles">
                    <dropdown-multiselect ng-if="user.editing" options="vm.userRoles" model="user"></dropdown-multiselect>
                    <span class="cell-span" style="margin-left: 14px;" ng-if="!user.editing && user.roles.length > 0" ng-repeat="role in user.roles | orderBy:role">{{role}},</span>
                    <span class="cell-span" style="margin-left: 14px;" ng-if="!user.editing && user.roles.length === 0">No Roles Assigned</span>
                </div>

                <span flex></span>

                <div flex ng-show="user.editing" class="user-editing-buttons" layout="row">
                    <span flex></span>
                    <button title="Deactivate User" ng-show="!user.temp" class="user-row-button" ng-click="vm.deactivateUser(user)">
                        <span class="fa fa-ban"></span>
                    </button>
                    <button title="Undo User Changes" class="user-row-button" ng-click="vm.undoUserChanges(user)">
                        <span class="fa fa-undo"></span>
                    </button>
                    <button title="Save User Changes" class="user-row-button" ng-click="vm.saveUser(user, $event)">
                        <span class="fa fa-check"></span>
                    </button>
                </div>
                <button title="Reset Password" ng-show="!user.temp && !user.editing" class="user-row-button" ng-click="vm.resetPassword($event, user)">
                    <span class="fa fa-key"></span>
                </button>
                <div ng-show="!user.editing">
                    <button title="Edit User" ng-click="vm.editUser(user, $event)" class="user-row-button">
                        <span class="fa fa-edit"></span>
                    </button>
                </div>
                <md-tooltip ng-if="!user.activated">
                    <span>Deactivated User</span>
                </md-tooltip>
            </div>
            <!--<md-item>-->
            <!--<md-content class="animate-repeat" ng-if="results.length == 0">-->
            <!--<strong>No results found...</strong>-->
            <!--</md-content>-->
            <!--</md-item>-->
        </div>
    </div>
</div>
