.user-list {
    padding: 0;
    min-width: 800px;
    height: 100%;
    margin-bottom: 16px;
    overflow: auto;


    .user-row {
        padding-left: 8px;
        padding-right: 8px;
        border-bottom: 1px solid rgba(158, 158, 158, 0.5);
        height: 49px;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background: rgba(158, 158, 158, 0.2);;
        }
    }

    input {
        background: transparent;
    }

}

//.md-select-custom-disabled-text[disabled] {
//    .md-select-label {
//        cursor: not-allowed;
////        color: rgba(0,0,0,0.9) !important;
//        border-bottom: 0;
//        font-size: 12px;
//    }
//
//    .md-select-icon {
////        color: rgba(0,0,0,0.26) !important;
//    }
//}
//
md-select.md-default-theme[disabled] .md-select-label {
//    color: rgba(0,0,0,0.26);
    color: currentColor;
}

.cell-span {
    border: 1px solid transparent;
}

.user-editing-buttons {
    max-width: 150px;
    min-width: 150px;
    float: right;
}


.deactivated-user {
    background: rgba(255, 224, 178, 0.1);
    text-decoration: line-through;

    &:hover {
        background: rgba(255, 224, 178, 0.2);
    }
}

.activated-user {

}

.user-row-button {
    float: right;
    width: 35px;
    height: 49px;
    color: currentColor;
    border-radius: 25px;
    background: transparent;
    border: transparent;
    font-size: 18px;

    &:hover {
        color: #212121;
    }
}

.user-admin-input[disabled] {
    border: 0;
}

.user-admin-input {
    height: 29px;
    margin-right: 4px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid currentColor;
}
