<div class="view-container" flex ng-controller="AdminCtrl as vm" layout="column">
    <div class="md-whiteframe-z1" flex layout="column" style="margin-bottom: 16px; position: relative">
        <loading-overlay ng-show="vm.userListProcessingServerCall"></loading-overlay>
        <md-toolbar class="panel-toolbar md-whiteframe-z1" ng-mouseenter="showUserTools = true;" ng-mouseleave="showUserTools = false;">
            <div class="unselectable md-toolbar-tools" layout="row">
                <span flex ng-click="vm.setOrderBy('id')" style="cursor: pointer;"><span>Users<md-tooltip>Sort by database ID</md-tooltip></span></span>
                <md-checkbox class="fade-in" ng-show="showUserTools" style="font-size: 14px;" ng-model="vm.showDeactivatedUsers">Show Deactivated Users</md-checkbox>
                <md-text-float class="fade-in" ng-show="showUserTools" md-theme="none" style="font-size: 12px; margin-top: -12px;" type="search" ng-model-options="{ debounce: 300 }" ng-model="q"
                               label="Search Users..." class=""></md-text-float>
                <md-button aria-label="Create A User" style="margin-right: 8px;" ng-click="vm.createUser()" class="md-fab md-button-fab-small md-primary" md-theme="{{themePrimaryButtons}}">
                    <span class="fa fa-plus" style="margin-top: 2px;"></span>
                    <md-tooltip>Create A User</md-tooltip>
                </md-button>
            </div>

            <div flex class="unselectable list-subheader-title" style="padding-top: 8px; z-index: 0;" layout="row" layout-align="center center">
                <span style="max-width: 265px;min-width: 265px;" class="subheader-text" ng-click="vm.setOrderBy('name')">
                    <span style="padding: 8px">Name</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.orderBy.value === 'name' && !vm.orderBy.reverse, 'fa-caret-down': vm.orderBy.value === 'name' && vm.orderBy.reverse}"
                          style="margin-right: 4px;"></span>
                </span>
                <span style="max-width: 334px;min-width: 334px;" class="subheader-text" ng-click="vm.setOrderBy('email')">
                    <span style="padding: 8px">Email</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.orderBy.value === 'email' && !vm.orderBy.reverse, 'fa-caret-down': vm.orderBy.value === 'email' && vm.orderBy.reverse}"
                          style="margin-right: 4px;"></span>
                </span>
                <span flex ng-click="vm.setOrderBy('roles')" class="subheader-text">
                    <span style="padding: 8px">Roles</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.orderBy.value === 'roles' && !vm.orderBy.reverse, 'fa-caret-down': vm.orderBy.value === 'roles' && vm.orderBy.reverse}"
                          style="margin-right: 4px;"></span>
                </span>
            </div>
        </md-toolbar>


        <div id="userListId" flex class="user-list">
            <div class="user-row animate-repeat" ng-repeat="user in vm.userData | filter:q | orderBy:vm.orderBy.value:vm.orderBy.reverse as results track by user.id" flex layout="row" layout-align="start center"
                 style="background: white;"
                 ng-if="user.activated || vm.showDeactivatedUsers" ng-class="{ 'deactivated-user': !user.activated, 'activated-user': user.activated }">
                <div flex class="user-cell" style="max-width: 265px; min-width: 265px;" layout="row">
                    <input flex type="text" placeholder="Name" md-theme="{{themeSecondary}}" ng-attr-id="{{ 'user-name-input-' + user.name }}" label="Name" ng-if="user.editing" ng-model="user.name"/>
                    <span class="cell-span" ng-if="!user.editing">{{user.name}}<md-tooltip>Name</md-tooltip></span>
                </div>
                <div flex class="user-cell" style="max-width: 335px; min-width: 335px;" layout="row">
                    <input flex type="text" placeholder="Name" md-theme="{{themeSecondary}}" label="Email" ng-if="user.editing" ng-model="user.email"/>
                    <span class="cell-span" ng-if="!user.editing">{{user.email}}<md-tooltip>Email</md-tooltip></span>
                </div>
                <div flex class="user-cell" layout-align="start center" layout="row">
                    <dropdown-multiselect ng-if="user.editing" options="vm.userRoles" model="user"></dropdown-multiselect>
                    <span class="cell-span" ng-if="!user.editing && user.roles.length > 0" ng-repeat="role in user.roles | orderBy:role">{{role}};<md-tooltip>User's Roles</md-tooltip></span>
                    <span class="cell-span" ng-if="!user.editing && user.roles.length === 0">No Roles Assigned<md-tooltip>User's Roles</md-tooltip></span>
                </div>

                <span flex></span>

                <div flex ng-show="user.editing" class="user-editing-buttons" layout="row">
                    <span flex></span>
                    <button title="Deactivate User" ng-show="!user.temp" class="user-row-button" ng-click="vm.deactivateUser(user)">
                        <span class="fa fa-ban"></span>
                    </button>
                    <button title="Undo User Changes" class="user-row-button" ng-click="vm.undoUserChanges(user)">
                        <span class="fa fa-undo"></span>
                    </button>
                    <button title="Save User Changes" class="user-row-button" ng-click="vm.saveUser(user, $event)">
                        <span class="fa fa-check"></span>
                    </button>
                </div>
                <div ng-show="!user.editing" style="min-width: 150px;">
                    <button title="Edit User" ng-click="vm.editUser(user, $event)" class="user-row-button">
                        <span class="fa fa-edit"></span>
                    </button>
                </div>
                <md-tooltip ng-if="!user.activated">
                    <span>Deactivated User</span>
                </md-tooltip>
            </div>
            <!--<md-item>-->
            <!--<md-content class="animate-repeat" ng-if="results.length == 0">-->
            <!--<strong>No results found...</strong>-->
            <!--</md-content>-->
            <!--</md-item>-->
        </div>
    </div>

</div>
