.user-list {
    padding-top: 8px;
    height: 1000px;
    overflow: auto;

    md-item-content {
        padding-left: 8px;
        padding-right: 8px;
        border-bottom: 1px solid #d3d3d3;
        height: 76px;

        &:hover {
            background: #F5F5F5;
        }
    }

    .user-cell {
//        min-width: 200px;
//        width: 200px;
    }

    .user-editing-buttons {
        max-width: 99px;
    }
}
