.health-map-style-select {
    width: 100px;
}

.treemap-container {
}

.unknown-child {
    stroke: #fff;
    background-color: #9E9E9E;
    fill: #9E9E9E;
    rect {
        fill: #9E9E9E;
    }
    text {
        stroke: transparent;
        fill: black;
        font-weight: bold;
    }
}

.unknown-child-text {
    fill: black;
    stroke: transparent;
    font-weight: bold;
}

.nominal-child {
    background-color: #4CAF50;
    fill: #4CAF50;
    stroke: #fff;
    rect {
        fill: #4CAF50;
    }
    text {
        stroke: transparent;
        fill: white;
        font-weight: bold;
    }
}

.nominal-child-text {
    fill: white;
    stroke: transparent;
    font-weight: bold;
}

.warn-child {
    stroke: #fff;
    background-color: #FFC107;
    fill: #FFC107;
    rect {
        fill: #FFC107;
    }

    text {
        stroke: transparent;
        fill: black;
        font-weight: bold;
    }
}

.warn-child-text {
    fill: black;
    stroke: transparent;
    font-weight: bold;
}

.error-child {
    background-color: #F44336;
    fill: #F44336;
    stroke: #fff;
    rect {
        fill: #F44336;
    }

    text {
        stroke: transparent;
        fill: white;
        font-weight: bold;
    }
}

.error-child-text {
    fill: white;
    stroke: transparent;
    font-weight: bold;
}

.failure-child {
    stroke: #fff;
    background-color: #3F51B5;
    fill: #3F51B5;
    rect {
        fill: #3F51B5;
    }

    text {
        stroke: transparent;
        fill: white;
        font-weight: bold;
    }
}

.failure-child-text {
    fill: white;
    stroke: transparent;
    font-weight: bold;
}

.unreachable-child {
    stroke: #fff;
    background-color: #EC407A;
    fill: #EC407A;
    rect {
        fill: #EC407A;
    }

    text {
        stroke: transparent;
        fill: black;
        font-weight: bold;
    }
}

.unreachable-child-text {
    fill: black;
    stroke: transparent;
    font-weight: bold;
}

.inactive-child {
    stroke: #fff;
    background-color: #000;
    fill: #000;

    rect {
//        fill: #795548;
        fill: #000;
    }

    text {
        stroke: transparent;
        fill: white;
        font-weight: bold;
    }
}

.inactive-child-text {
    fill: white;
    stroke: transparent;
    font-weight: bold;
}

.transparent-legend {
    opacity: 0.35;
}

.legend-popup {
    border-radius: 1px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: white;
    color: black;
    padding: 0px;
    span {
        margin-top: 4px;
    }

    button {
        width: 36px;
    }
}

.color-patch {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    margin-right: 8px;
    margin-top: 4px;
}

.parent-text {
    font-weight: bold;
    font-size: 22px;
}

.health-chart {
    margin: 6px;
}

.status-top-label {
    padding-top: 2px;
    padding-left: 5px;
    margin-bottom: 2px;
}

.status-top-label-text {
    color: white;
    font-size: 22px;
}

.receptor-status-column-heading {
    width: 60px;
    border-right: 1px solid #ADADAD;
    border-bottom: 1px solid #ADADAD;
    position: relative;
}

.receptor-status-row-span {
    vertical-align: middle;
    padding-left: 8px;
    width: 200px;
    height: 60px;
    border-right: 1px solid #ADADAD;
    border-bottom: 1px solid #ADADAD;
}

.in-maintenance-item {
    background-color: #9C27B0;
    color: white;
}

.error-item {
    background-color: #F44336;
    color: white;
}

.nominal-item {
    background-color: #43A047;
    color: white;
}

.stop-item {
    background-color: #757575;
    color: white;
}

.inhibited-item {
    background-color: #ffc107 !important;
    color: #333333  !important;
}

.in-assigned-subarray-item {
    background-color: #8BC34A;
    color: black;
}

.in-allocated-subarray-item {
    background-color: #2196F3;
    color: white;
}

.stow-item {
    background-color: #01579B;
    color: white;
}

.amber-item {
    background-color: rgb(255,143,0);
    color: black;
}

.on-target-span {
    font-size: 18px;
    position: absolute;
    left: 2px;
    top: 2px;
    color: white;
}

.receptor-status-options-menu {
    right: 18px;
    top: 122px;
    position: fixed;
    z-index: 1000;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    background-color: white;
    margin-top: 5px;
    color: #333333;
    md-list {
        padding: 0;
    }
}

.actual-pos {
    stroke: green;
    fill: green;
}

.requested-pos {
    stroke: red;
    fill: red
}

