<div flex style="padding: 24px;" ng-controller="ConfigCtrl as vm">

    <div layout="column" class="md-whiteframe-z1">
        <md-toolbar md-theme="{{themePrimary}}" class="md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <span flex>Configuration Options</span>
            </div>
        </md-toolbar>
        <md-content layout="column" layout-padding md-theme="{{themePrimaryButtons}}">
            <div class="config-div-item">
                <md-subheader>Themes</md-subheader>
                <md-select md-theme="{{themePrimaryButtons}}" ng-model="vm.selectedTheme" class="config-md-select"
                           style="min-width: 140px; margin-left: 8px;" placeholder="Select a Theme..."
                           ng-change="vm.themeChanged()">
                    <md-option ng-value="theme.name" ng-repeat="theme in vm.themes">{{theme.name}}</md-option>
                </md-select>
                <md-checkbox class="md-primary alarms-tools-checkbox" ng-model="$root.showDayOfYear"
                             ng-change="vm.saveToLocalStorage('showDayOfYear', $root.showDayOfYear)">Show Day of Year
                </md-checkbox>
                <md-checkbox class="md-primary alarms-tools-checkbox" ng-model="$root.showDate"
                             ng-change="vm.saveToLocalStorage('showDate', $root.showDate)">Show Date
                </md-checkbox>
                <md-checkbox class="md-primary alarms-tools-checkbox" ng-model="$root.showJulianDate"
                             ng-change="vm.saveToLocalStorage('showJulianDate', $root.showJulianDate)">Show Julian Date
                </md-checkbox>
                <md-checkbox class="md-primary alarms-tools-checkbox" ng-model="$root.showLST"
                             ng-change="vm.saveToLocalStorage('showLST', $root.showLST)" title="Longitude used: {{$root.longitude}}">
                    Show Local Sidereal Time
                </md-checkbox>
                <md-checkbox class="md-primary alarms-tools-checkbox" ng-model="$root.showLocalAndSAST"
                             ng-change="vm.saveToLocalStorage('showLocalAndSAST', $root.showLocalAndSAST)">
                    Show Local and South African Standard Time
                </md-checkbox>
            </div>
            <div class="config-div-item">
                <md-subheader>Alarms</md-subheader>
                <md-checkbox class="md-primary alarms-tools-checkbox" ng-model="$root.showAlarms"
                             ng-change="vm.saveToLocalStorage('showAlarmsNotify', $root.showAlarms)">Show Alarm Notifications
                </md-checkbox>
                <md-checkbox class="md-primary alarms-tools-checkbox" ng-model="$root.showLargeAlarms"
                             ng-change="vm.saveToLocalStorage('showLargeAlarms', $root.showLargeAlarms)">Show Detailed Alarm Notifications
                </md-checkbox>
            </div>

            <div class="config-div-item" style="border: 0">
                <md-subheader>Sensor List</md-subheader>
                <div layout="row" layout-align="start center" style="width: 400px;">
                    <label style="text-align: end; width: 190px; font-weight: normal">Sensor Strategy Type:</label>
                    <md-select style="margin-left: 16px;" class="config-md-select" ng-model="$root.sensorListStrategyType"
                               ng-change="vm.saveToLocalStorage('sensorListStrategyType', $root.sensorListStrategyType)">
                        <md-option value="period">Period</md-option>
                        <md-option value="event">Event</md-option>
                        <md-option value="event-rate">Event-Rate</md-option>
                    </md-select>
                </div>
                <div layout="row" layout-align="start center" style="width: 400px;; height: 42px">
                    <label style="text-align: end; width: 190px; font-weight: normal">Sensor Strategy Interval:</label>
                    <md-input-container md-no-float style="margin-left: 16px;text-align: start; padding: 0px;"
                                        class="md-primary"
                                        title="Between 1 and 10000 seconds">
                        <input style="width: 80px;" placeholder="Seconds" ng-model="$root.sensorListStrategyInterval"
                               ng-change="vm.saveToLocalStorage('sensorListStrategyInterval', $root.sensorListStrategyInterval)"
                               type="number" maxlength="5"
                               max="10000" min="1">
                    </md-input-container>
                    <span style="margin-left: 4px;">seconds</span>
                </div>
            </div>
        </md-content>
    </div>

</div>
