<div flex layout="column" style="min-width: 1270px; min-height: 600px" class="unselectable" ng-controller="SubArrayResourcesCtrl as vm"
    ng-mouseup="vm.dragSelect = false">
    <div flex layout="row">
        <div flex layout="column" style="padding: 0 8px">
            <div class="subarray-container" layout="row" style="min-width: 450px; position: relative" flex
                ng-class="{'maintenance-bg': parent.vm.sensorValues[vm.subarray.name + '_maintenance'].value}">
                <div class="resource-counter-overlay" title="The number of receptors assigned to this subarray">
                    {{parent.vm.sensorValues[vm.subarray.name + '_number_ants'].value}}
                </div>
                <div flex class="md-whiteframe-z2" layout="column">
                    <md-toolbar md-theme="{{parent.vm.sensorValues[vm.subarray.name + '_state'].value === 'inactive'? 'grey' : parent.vm.sensorValues[vm.subarray.name + '_state'].value === 'active'? 'green' : parent.vm.sensorValues[vm.subarray.name + '_state'].value === 'error'? 'amber' : 'deep-purple'}}"
                        ng-class="{'md-hue-2': parent.vm.sensorValues[vm.subarray.name + '_state'].value !== 'inactive'}" class="md-whiteframe-z2"
                        layout="row" layout-align="center center" title="{{vm.subarray.description}}" style="max-height: 80px; min-height: 80px; position: relative">
                        <div ng-include="'app/scheduler/templates/subarray-config-container.html'"></div>
                        <md-menu style="margin: 0; padding: 0;">
                            <md-button class="subarray-config-menu-button" title="Change Subarray" ng-click="$mdMenu.open($event); $event.stopPropagation()"
                                style="font-size: 30px">
                                <span class="fa fa-chevron-down subarray-select-chevron" style="top: 12px"></span>
                                <span style="margin-left: 14px">
                                    SUBARRAY {{vm.subarray.id}} -
                                    <b>{{parent.vm.sensorValues[vm.subarray.name + '_state'].value}}</b>
                                <span ng-show="parent.vm.sensorValues[vm.subarray.name + '_maintenance'].value">{{"- in maintenance"}}</span>
                                </span>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="subarray in parent.vm.subarrays | orderBy:'id' track by $index">
                                    <md-button ng-click="parent.vm.stateGo('scheduler.resources', subarray.id)">
                                        <span>Subarray {{subarray.id}}</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                        <span flex></span>

                        <md-menu style="margin: 0 8px; padding: 0; position: relative" class="subarray-mode-button">
                            <span md-ink-ripple style="margin: 0; padding: 0px" ng-click="$mdMenu.open($event)">
                                <span class="fa fa-chevron-down subarray-select-chevron" style="top: 7px"></span>
                                <span style="margin-left: 16px">MODE: <b>{{vm.subarray.mode}}</b></span> </span>
                            </span>
                            <md-menu-content>
                                <md-menu-item ng-repeat="type in parent.vm.modeTypes">
                                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.setSchedulerMode(vm.subarray.id, type)">Set Mode to: {{type}}</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                        <md-menu style="margin: 0 4px; padding:0; position: relative" ></md-menu>

                        <span class="fa fa-repeat subarray-action-icon hover-opacity"
                            title="Retry errored receptors - {{parent.vm._getAllErroredReceptors(vm.subarray.name)}}"
                            md-ink-ripple ng-show="parent.vm.getAllErroredReceptors(vm.subarray.name)!='' && parent.vm.iAmAtLeastCA()"
                            ng-click="vm.reactivateReceptor(parent.vm.getAllErroredReceptors(vm.subarray.name))"></span>

                        <span class="fa fa-cubes subarray-action-icon hover-opacity"
                            title="Load last known subarray configuration - {{vm.lastKnownSubarrayConfig? vm.lastKnownSubarrayConfig : 'Could not find the last known configuration for any subarrays'}}"
                            md-ink-ripple ng-show="parent.vm.iAmAtLeastCA()"
                            ng-disabled="!vm.lastKnownSubarrayConfig || parent.vm.sensorValues[vm.subarray.name + '_state'].value !== 'inactive'"
                            ng-click="(!parent.vm.iAmAtLeastCA() && (!vm.lastKnownSubarrayConfig || parent.vm.sensorValues[vm.subarray.name + '_state'].value !== 'inactive')) || vm.loadLastKnownSubarrayConfig()"></span>
                        <span class="fa fa-power-off subarray-action-icon hover-opacity" md-ink-ripple ng-show="$root.expertOrLO && parent.vm.sensorValues[vm.subarray.name + '_state'].value === 'inactive'"
                            title="Activate Subarray" ng-click="parent.vm.activateSubarray()"></span>
                        <span class="fa fa-recycle subarray-action-icon hover-opacity" md-ink-ripple ng-show="parent.vm.iAmAtLeastCA()"
                            title="Free Subarray" ng-click="parent.vm.freeSubarray()"></span>

                        <md-menu ng-show="$root.expertOrLO" md-theme="{{themePrimary}}">
                            <md-button style="padding: 0; margin: 4px   ; font-size: 24px" class="md-icon-button inline-action-button hover-opacity"
                                ng-click="vm.initLastKnownConfig(); $mdMenu.open($event)">
                                <span class="fa fa-ellipsis-v"></span>
                            </md-button>
                            <md-menu-content style="min-height: 476px">
                                <md-menu-item>
                                    <md-button ng-disabled="parent.vm.sensorValues[vm.subarray.name + '_state'].value === 'active'" ng-click="parent.vm.openBandsDialog($event)" title="Select a Band">
                                        <span style="margin-right: 4px" class="fa fa-signal"></span>
                                        <span>Set Band...</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-disabled="parent.vm.sensorValues[vm.subarray.name + '_state'].value === 'active'" ng-click="parent.vm.openProductsDialog($event)" title="Select a User Product">
                                        <span style="margin-right: 4px" class="fa fa-cube"></span>
                                        <span>Set User Product...</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-disabled="parent.vm.sensorValues[vm.subarray.name + '_state'].value === 'active'" ng-click="parent.vm.openCADialog($event)" title="Select a Control Authority">
                                        <span style="margin-right: 4px" class="fa fa-user"></span>
                                        <span>Set Control Authority...</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-disabled="parent.vm.sensorValues[vm.subarray.name + '_state'].value === 'active'" ng-click="parent.vm.openConfigLabelDialog(vm.subarray.id, $event)">
                                        <span style="margin-right: 4px" class="fa fa-at"></span>
                                        <span>Set Config Label...</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-disabled="parent.vm.sensorValues[vm.subarray.name + '_state'].value === 'active'" ng-click="parent.vm.setSubarrayInMaintenance()" title="Toggle Subarray in Maintenance">
                                        <span style="margin-right: 4px" class="fa fa-wrench"></span>
                                        <span>Toggle Maintenance</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="vm.saveTemplateDialog($event)">
                                        <span style="margin-right: 4px" class="fa fa-save"></span>
                                        <span>Save Resource Template...</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.openTemplateListDialog($event)" title="Load a resource template, requires subarray to be inactive"
                                        ng-disabled="parent.vm.sensorValues[vm.subarray.name + '_state'].value !== 'inactive'">
                                        <span style="margin-right: 4px" class="fa fa-folder-open-o"></span>
                                        <span>Load Resource Template...</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="vm.loadLastKnownSubarrayConfig()" title="{{vm.lastKnownSubarrayConfig? vm.lastKnownSubarrayConfig : 'Could not find the last known configuration for any subarrays'}}"
                                        ng-disabled="!vm.lastKnownSubarrayConfig || parent.vm.sensorValues[vm.subarray.name + '_state'].value !== 'inactive'">
                                        <span style="margin-right: 4px" class="fa fa-cubes"></span>
                                        <span>Load Last Known Subarray Config</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="parent.vm.addUserLog($event)" title="Add user log">
                                        <span style="margin-right: 4px" class="fa fa-plus"></span>
                                        <span>Add User Log...</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-toolbar>

                    <div flex layout="column" layout-wrap style="overflow-y: auto">
                        <div style="max-height: 52px; position: relative" flex="25" class="resource-item" layout="row" layout-align="start center"
                            ng-repeat="resourceAlloc in parent.vm.sensorValues[vm.subarray.name + '_allocations'].parsedValue" ng-class="parent.vm.classForResource(resourceAlloc[0])">
                            <span flex style="font-size: 18px; margin-left: 4px; margin-bottom: 12px" class="resource-name-text">{{resourceAlloc[0]}}</span>
                            <span style="position: absolute; left: 8px; bottom: 4px; font-size: 12px">{{parent.vm.sensorValues[resourceAlloc[0] + '_state'].value}}</span>
                            <span class="resource-sensor-status-item" ng-class="vm.sensorClass(parent.vm.sensorValues[resourceAlloc[0] + '_ridx_position'].status)"
                                style="position: absolute; left: 90px; bottom: 4px; font-size: 12px; font-family:'Sofia'" >
                                {{parent.vm.sensorValues[resourceAlloc[0] + '_ridx_position'].value}}</span>

                            <span class="icon-button fa fa-angle-double-down"
                                style="position: absolute; left: 80px; top: 4px; font-size: 12px" ng-if="parent.vm.sensorValues[resourceAlloc[0] + '_ridx_position'].value">
                                <md-tooltip>Indexer Position</md-tooltip>
                            </span>

                            <div flex layout="column" layout-wrap class="gui-urls-link-container">
                                <a ng-repeat="link in parent.vm.guiUrls[resourceAlloc[0]] track by $index" target="_blank"
                                    href="{{link.href}}" title="{{link.description}}" style="padding: 0">{{link.title}}</a>
                            </div>
                            <span class="icon-button fa fa-refresh" ng-disabled="!$root.expertOrLO" md-ink-ripple ng-show="parent.vm.isResourceInMaintenance(resourceAlloc[0])"
                                title="Restart Maintenance Device" ng-click="!$root.expertOrLO || parent.vm.listResourceMaintenanceDevicesDialog(resourceAlloc[0], $event); $event.stopPropagation()"></span>

                            <span class="icon-button fa fa-repeat"
                                ng-show="parent.vm.showReactivateReceptor(vm.subarray.name, resourceAlloc[0]) && parent.vm.iAmAtLeastCA()"
                                md-ink-ripple title="{{'Retry activation of ' + resourceAlloc[0]}}"
                                ng-click="vm.reactivateReceptor(resourceAlloc[0])"></span>

                            <span md-ink-ripple ng-click="parent.vm.showResourceLogs(resourceAlloc[0])" class="icon-button fa fa-file-text-o" title="{{'Show ' + resourceAlloc[0] + ' logs'}}"></span>
                            <span class="icon-button fa" ng-disabled="!parent.vm.iAmAtLeastCA()" md-ink-ripple title="Mark Resource As Faulty"
                                ng-class="{'fa-exclamation-circle': !parent.vm.isResourceFaulty(resourceAlloc[0]), 'fa-warning error-text opaque': parent.vm.isResourceFaulty(resourceAlloc[0])}"
                                ng-click="!parent.vm.iAmAtLeastCA() || parent.vm.markResourceFaulty(resourceAlloc[0]); $event.stopPropagation()"></span>
                            <span class="icon-button fa fa-chevron-right" ng-disabled="!$root.expertOrLO" md-ink-ripple title="Free Assigned Resource"
                                ng-click="!$root.expertOrLO || vm.freeAssignedResource(resourceAlloc[0]); $event.stopPropagation()"></span>
                        </div>
                    </div>
                </div>

                <div flex class="overlay-progress-circular" layout="row" layout-align="center center" ng-if="vm.subarray.showProgress">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
        </div>

        <md-button md-theme="{{themePrimaryButtons}}" class="md-raised md-primary" style="min-height: 90%; max-width: 41px; min-width: 41px; margin: 2px 4px 8px 0;"
            ng-disabled="!$root.expertOrLO" ng-click="vm.assignSelectedResources();"
            title="Assign Resources to Subarray">
            <md-icon class="fa" md-font-icon="fa-chevron-left" style="width: auto; height: auto;"></md-icon>
        </md-button>

        <div flex layout="column" style="max-width:400px; min-height: 500px; margin-right: 8px">
            <div flex layout="column" class="md-whiteframe-z2" style="margin-bottom: 8px;">
                <md-toolbar class="md-whiteframe-z1" layout="row" layout-align="start center" title="" style="max-height: 40px; min-height: 40px;">
                    <span flex class="md-toolbar-tools" title="Click to select or deselect all free resources" style="cursor: pointer; max-height: 32px; padding: 0 4px"
                        ng-click="!$root.expertOrLO || vm.toggleSelectAllUnassignedResources()">Free Resources</span>
                </md-toolbar>
                <div flex style="overflow: auto" layout="column" layout-wrap>
                    <div style="max-height: 40px; position: relative; cursor: pointer" flex="25" class="resource-item" layout="row"
                        layout-align="start center" ng-repeat="resource in vm.poolResourcesFree | orderBy:'name'"
                        ng-class="{'selected-resource-item': resource.selected, 'maintenance-bg-hover': parent.vm.isResourceInMaintenance(resource.name), 'faulty-border': parent.vm.isResourceFaulty(resource.name)}"
                        ng-disabled="!$root.expertOrLO" ng-mousedown="vm.dragSelect = true; vm.dragSelectUnselect = resource.selected; resource.selected = !resource.selected"
                        ng-mouseenter="vm.dragSelect && !vm.dragSelectUnselect? resource.selected = !resource.selected : vm.dragSelect && vm.dragSelectUnselect? resource.selected = !resource.selected : ''">
                        <span md-ink-ripple class="icon-button fa fa-chevron-left" ng-disabled="!$root.expertOrLO" title="Assign to Subarray"
                            ng-mousedown="$event.stopPropagation()" ng-click="!$root.expertOrLO || vm.assignResource(resource.name); $event.stopPropagation()"></span>
                        <span flex style="font-size:18px; margin-left: 4px;" class="resource-name" ng-class="{'maintenance-text': parent.vm.isResourceInMaintenance(resource.name)}">{{resource.name}}</span>
                        <span class="icon-button fa fa-wrench" md-ink-ripple ng-disabled="!$root.expertOrLO" title="Mark Resource in Maintenance"
                            ng-class="{'maintenance-text opaque': parent.vm.isResourceInMaintenance(resource.name)}" ng-mousedown="$event.stopPropagation()"
                            ng-click="!$root.expertOrLO || parent.vm.markResourceInMaintenance(resource.name); $event.stopPropagation()"></span>
                        <span class="icon-button fa" md-ink-ripple ng-disabled="!$root.expertOrLO" title="Mark Resource As Faulty"
                            ng-mousedown="$event.stopPropagation()" ng-class="{'fa-exclamation-circle': !parent.vm.isResourceFaulty(resource.name), 'fa-warning error-text opaque': parent.vm.isResourceFaulty(resource.name)}"
                            ng-click="!$root.expertOrLO || parent.vm.markResourceFaulty(resource.name); $event.stopPropagation()"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
