<div flex layout="row" style="min-width: 1050px; min-height: 920px; margin-top: 4px;" ng-controller="SubArrayResourcesCtrl as vm">

    <div flex layout="column" style="overflow: auto; padding-left: 16px; padding-right: 16px; padding-bottom: 4px;">
        <div ng-repeat="subarray in vm.subarrays | orderBy:'id'" class="subarray-container md-whiteframe-z2" layout="row" layout-align="start"
             style="min-width: 650px;" ng-mouseenter="subarray.mousehover = true" ng-mouseleave="subarray.mousehover = false" ng-init="subarray.mousehover = false" flex>

            <div layout="column" layout-align="start" flex>
                <md-toolbar md-theme="{{subarray.state === 'free'? 'green' : subarray.state === 'in_use'? 'amber' : 'purple'}}" class="md-whiteframe-z1 md-hue-2"
                            layout="row" layout-align="center center" title="{{subarray.description}}" style="max-height: 50px; min-height: 50px;">
                    <div flex layout="column">
                        <md-button layout="row" style="min-height: 42px;" class="unselectable md-toolbar-tools-small" ng-click="vm.navigateToSchedulerDetails(subarray.id)">
                            <span>Sub-Array {{subarray.id}}</span>
                            <md-toolbar flex ng-click="vm.navigateToSchedulerDetails(subarray.id)" layout="row" layout-align="center center"
                                         class="subarray-state-toolbar transparent-background"
                                        title="Click to Manage Observations for Sub-Array {{subarray.id}}">
                                <span>{{subarray.state + " "}}</span>
                                <span ng-if="subarray.in_maintenance">{{", in maintenance"}}</span>
                            </md-toolbar>
                        </md-button>
                        <div style="margin-top: -16px;">
                            <span style="font-size: 10px; margin-right: 2px;" title="Resources in Maintenance">Maint.</span>
                            <span style="font-size: 10px;" title="Resources Marked as Faulty">Faulty</span>
                        </div>
                    </div>

                    <span ng-show="subarray.state === 'in_use'" style="width: 36px;"></span>
                    <md-button class="md-icon-button inline-action-button" ng-click="vm.setSubarrayInMaintenance(subarray)"
                               title="Set Sub-Array in Maintenance">
                        <md-icon class="fa" md-font-icon="fa-wrench"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button inline-action-button" ng-click="vm.freeSubarray(subarray)" title="Free Subarray">
                        <md-icon class="fa" md-font-icon="fa-recycle"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button inline-action-button" ng-click="vm.activateSubarray(subarray)"
                               title="Activate Sub-Array">
                        <md-icon class="fa" md-font-icon="fa-check"></md-icon>
                    </md-button>
                </md-toolbar>

                <div flex style="overflow: auto;" ng-class="{'maintenance-bg':subarray.in_maintenance}">
                    <div flex class="resource-item animate-repeat-opacity" layout="row" layout-align="start center"
                         ng-repeat="resource in vm.poolResources | filter:{sub_nr:subarray.id} | orderBy:'name'" ng-class="{'transparent-background':subarray.in_maintenance}">
                        <span style="min-width: 34px;">
                            <span class="fa" style="font-size: 18px;" ng-class="{'fa-wrench maintenance-text':resource.in_maintenance}" title="Resource Marked In Maintenance"></span>
                        </span>
                        <span style="min-width: 26px;">
                            <span class="fa" style="font-size: 18px; margin-right: 4px;" ng-class="{'fa-warning error-text':resource.state === 'faulty'}" title="Resource Marked Faulty"></span>
                        </span>
                        <span flex style="margin-left: 4px; font-size:14px" ng-class="{'error-text':resource.state === 'faulty', 'maintenance-text':resource.in_maintenance}">{{resource.name}}</span>
                        <md-button class="md-icon-button inline-action-button" ng-click="vm.markResourceFaulty(subarray, resource); $event.stopPropagation()"
                                   title="Mark Resource As Faulty">
                            <md-icon class="fa" md-font-icon="fa-exclamation-circle"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button inline-action-button" ng-click="vm.markResourceInMaintenance(subarray, resource); $event.stopPropagation()"
                                   title="Mark Resource in Maintenance">
                            <md-icon class="fa" md-font-icon="fa-wrench"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button inline-action-button" ng-click="vm.freeAssignedResource(subarray, resource); $event.stopPropagation()"
                                   title="Free Assigned Resource">
                            <md-icon class="fa" md-font-icon="fa-minus"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>

            <md-button md-theme="{{themePrimaryButtons}}" class="md-raised md-primary"
                       style="min-height: 100%; max-width: 31px; min-width: 31px; margin-left: 4px;"
                       ng-click="vm.assignSelectedResources(subarray);" title="Assign Resources to Sub-Array">
                <md-icon class="fa" md-font-icon="fa-chevron-left" style="width: auto; height: auto;"></md-icon>
            </md-button>
        </div>
    </div>

    <div flex layout="column" style="max-width:280px; min-height: 500px; margin-right: 16px; margin-bottom: 4px;">

        <div flex layout="column" class="md-whiteframe-z2" style="margin-bottom: 8px;">
            <md-toolbar ng-init="vm.selectAll = false" class="md-whiteframe-z1" layout="row" layout-align="start center" title="" style="max-height: 40px; min-height: 40px;">
                <span style="font-size: 10px; margin-top: 22px; margin-right: 2px;" title="Resources in Maintenance">Maint.</span>
                <span style="font-size: 10px; margin-top: 22px;" title="Resources Marked as Faulty">Faulty</span>
                <span flex class="md-toolbar-tools unselectable" style="cursor: pointer; max-height: 32px;"
                      ng-click="vm.selectAllUnassignedResources(vm.selectAll = !vm.selectAll)">Resources</span>
            </md-toolbar>

            <div flex style="overflow: auto">
                <div class="resource-item animate-repeat-opacity" layout="row" layout-align="start center"
                     ng-repeat="resource in filteredResources = (vm.poolResourcesFree | orderBy:'name')"
                     ng-class="{'selected-resource-item': resource.selected}"
                     ng-click="resource.selected = !resource.selected;">
                    <span style="min-width: 22px;">
                        <span class="fa fa-wrench maintenance-text" ng-if="resource.in_maintenance" title="Resource in Maintenance" style="font-size: 18px; margin-left: 4px;"></span>
                    </span>
                    <span style="min-width: 22px; margin-left: 4px;">
                        <span class="fa" style="font-size: 18px; min-width: 18px;" ng-class="{'fa-warning error-text':resource.state === 'faulty'}" title="Resource Marked Faulty"></span>
                    </span>
                    <span flex style="font-size:18px; margin-left: 4px;" ng-class="{'error-text':resource.state === 'faulty', 'maintenance-text':resource.in_maintenance}">{{resource.name}}</span>
                    <md-button class="md-icon-button inline-action-button" ng-click="vm.markResourceFaulty(null, resource); $event.stopPropagation()"
                               title="Mark Resource As Faulty">
                        <md-icon class="fa" md-font-icon="fa-exclamation-circle"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button inline-action-button" ng-click="vm.markResourceInMaintenance(null, resource); $event.stopPropagation()"
                               title="Mark Resource in Maintenance">
                        <md-icon class="fa" md-font-icon="fa-wrench"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

</div>
