.health-chart {

  background: #bbb;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

.text-parent-node {
  font-size: 18px;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: #8dc1ed;
}

.grandparent:hover rect {
  fill: #72a1ca;
}

.no-children rect.parent {
  fill: green;
  fill-opacity: .35;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: green;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: green;
}

.treemap-tooltip {
  position: absolute;
  border:1px solid;
  margin:10px;
  padding: 6px;
  opacity: 0.9;
  z-index: 1000px;
}

//svg {
//  overflow: auto;
//}

text.parent {
  fill: black;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}