<div flex style="padding: 16px; min-width: 600px" ng-controller="UserlogReportsCtrl as vm" layout="row">
    <div flex layout="column" ng-click="vm.showEndDatePicker = false; vm.showDawtePicker = false;"
        style="cursor: inherit">
        <md-toolbar md-theme="{{themePrimary}}" class="md-whiteframe-z1" layout="column" style="min-height: 144px">
            <md-button ng-init="vm.expandEntries = false" ng-click="vm.expandEntries = !vm.expandEntries" title="{{vm.expandEntries? 'Collapse All' : 'Expand All'}}" class="inline-action-button"
                style="margin-top: 16px; position: absolute; bottom: -8px; right: -8px">
                <i ng-show="!vm.expandEntries" class="fa fa-plus-square-o"></i>
                <i ng-show="vm.expandEntries" class="fa fa-minus-square-o"></i>
            </md-button>
            <div md-theme="{{themePrimaryButtons}}" class="md-toolbar-tools" layout="row" layout-align="start center" style="padding: 0">
                <span style="margin-left: 8px" flex>Report Parameters</span>
                <input class="fade-in search-input-box" style="width: 200px; max-width: 200px" type="search"
                       ng-model-options="{ debounce: 300 }" ng-model="vm.searchInputText" placeholder="Filter Userlogs..."/>
                <div layout="row" layout-align="start center" style="margin: 0 4px; font-size: 14px;">
                    <div layout="row" layout-align="center center" style="min-width: 180px;">
                        <md-input-container flex md-no-float style="height: 36px; max-width: 135px; margin: 0; padding: 0;" title="Start Date 'yyyy-MM-dd HH:mm:ss'">
                            <input flex type="text" style="color: white" title="Start Date 'yyyy-MM-dd HH:mm:ss'"
                                   data-ng-model="vm.startDatetimeReadable" placeholder="Start Date"/>
                        </md-input-container>
                        <span></span>
                        <md-button class="md-icon-button" style="margin-left: 0; margin-top: 3px; width: 40px; height: 40px;"
                                   ng-click="vm.showDatePicker = !vm.showDatePicker; vm.showEndDatePicker = false; $event.stopPropagation()">
                            <md-icon class="fa" md-font-icon="fa-calendar"></md-icon>
                        </md-button>

                        <datetimepicker id="datePickerMenu" class="datepickerMenu md-whiteframe-z3" ng-init="vm.showDatePicker = false"
                            style="position: absolute; right: 500px; top: 40px; color: #333333" ng-show="vm.showDatePicker"
                            data-ng-model="vm.startTime" ng-keypress="vm.showDatePicker = false" ng-click="$event.stopPropagation()"
                            data-on-set-time="vm.showDatePicker = false; vm.onStartTimeSet(vm.startTime)"></datetimepicker>
                    </div>
                    <div layout="row" layout-align="center center" style="min-width: 180px">
                        <md-input-container flex md-no-float style="height: 36px; max-width: 135px; margin: 0; padding: 0;">
                            <input flex type="text" style="color: white"
                                   data-ng-model="vm.endDatetimeReadable" placeholder="End Date"
                                   title="End Date 'yyyy-MM-dd HH:mm:ss'"/>
                        </md-input-container>
                        <span></span>
                        <md-button class="md-icon-button" style="margin-left: 0;width: 40px; height: 40px;"
                                   ng-click="vm.showEndDatePicker = !vm.showEndDatePicker; vm.showDatePicker = false; $event.stopPropagation()">
                            <md-icon class="fa" md-font-icon="fa-calendar"></md-icon>
                        </md-button>
                        <datetimepicker id="datePickerMenu" class="datepickerMenu md-whiteframe-z3" ng-init="vm.showEndDatePicker = false"
                            style="position: absolute; right: 335px; top: 40px; color: #333333" ng-show="vm.showEndDatePicker"
                            data-ng-model="vm.endTime" ng-keypress="vm.showEndDatePicker = false" ng-click="$event.stopPropagation()"
                            data-on-set-time="vm.showEndDatePicker = false; vm.onEndTimeSet(vm.endTime)"></datetimepicker>
                    </div>
                    <md-input-container md-theme="{{$root.themePrimaryButtons}}" title="{{vm.selectedProgramNames}}" style="min-width: 200px; max-width: 200px">
                        <md-select ng-model="vm.selectedProgramNames" multiple placeholder="Select program name(s)">
                            <md-option ng-value="programName" ng-repeat="programName in vm.programNames | orderBy:programName">{{programName}}</md-option>
                        </md-select>
                    </md-input-container>

                    <!-- <input ng-model="vm.searchId" md-no-float placeholder="Search by UserLog Id"
                            style="min-width: 150px; max-width: 150px; margin-left: 10px;"/> -->

                    <md-input-container md-no-float class="md-block"
                          style="min-width: 150px; max-width: 150px; margin-left: 10px; height: 35px;">
                        <input ng-model="vm.userlogId" type='number' placeholder="Search by UserLog Id">
                    </md-input-container>

                    <md-button class="add-tab md-primary md-raised" ng-click="vm.queryUserlogs(event)"
                               style="margin-right: 0;">Preview Report
                    </md-button>
                    <md-button ng-disabled="vm.reportUserlogs.length === 0 || vm.exportingPdf" class="add-tab md-primary md-raised" ng-click="vm.exportPdf()"
                               style="margin-right: 0;">{{vm.exportingPdf? 'Exporting PDF...' : 'Export as PDF'}}
                    </md-button>
                </div>
            </div>
            <div md-theme="{{themePrimaryButtons}}" layout="row" layout-align="start center" style="margin: 4px">
                <md-chips ng-model="vm.filterTags" style="margin-bottom: 24px; padding: 0 8px" md-autocomplete-snap md-require-match="true" flex>
                    <md-autocomplete
                        md-autoselect="true"
                        md-search-text="searchText"
                        md-items="item in vm.querySearch(searchText)"
                        md-item-text="item.name"
                        placeholder="Select tags">
                        <md-item-template>
                            <span md-highlight-text="searchText" title="{{item.slug}}">{{item.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found
                        </md-not-found>
                    </md-autocomplete>
                    <md-chip-template>
                        <span style="overflow: auto; width: 100%;">
                            <strong>{{$chip.name}}</strong>
                        </span>
                    </md-chip-template>
                    <md-button class="md-fab">
                        <md-icon md-chip-remove md-font-icon="fa-close" style="color:white; fill:white;"></md-icon>
                    </md-button>
                </md-chips>
                <md-button ng-click="toggleTags = !toggleTags; $event.stopPropagation()" style="margin: 0; padding: 0; min-height: 32px; min-width: 32px">
                    <span class="fa fa-tags"></span>
                </md-button>
                <md-checkbox ng-model="vm.andTagFiltering" class="md-primary" title="Match all tags in the filter"
                    style="margin: 0; font-size: 16px">
                    Match all tags
                </md-checkbox>
                <div ng-init="toggleTags = false" ng-show="toggleTags" class="md-whiteframe-z3 tag-popup-list" style="top: 120px; right: 0px">
                    <div ng-repeat="tag in vm.tags | orderBy:'name' track by $index" class="tag-popup-item" flex ng-click="vm.filterTags.push(tag)">
                        {{tag.name}}
                    </div>
                </div>
            </div>
        </md-toolbar>
        <div layout="column" class="md-whiteframe-z1" style="overflow: auto" ng-show="vm.reportUserlogs.length > 0">
            <div class="md-list-item-text" style="min-height: 42px; max-height: 42px; padding: 8px; border-bottom: 1px solid currentColor; font-size: 18px; font-weight: bold;" layout="row" flex>
                <span style="width: 130px; margin: 0 4px">User</span>
                <span style="width: 125px">Start</span>
                <span style="width: 125px">End</span>
                <span flex>Content</span>
                <span style="margin-right: 74px">Tags</span>
            </div>
            <div ng-repeat="userlog in vm.filteredReportUserlogs = (vm.reportUserlogs | regexSearch:vm.userLogsFields:vm.searchInputText | filter:vm.filterByTag) track by $index" ng-click="vm.editUserLog(userlog, $event)" class="user-log-row">
                <div layout="row" layout-align="start center" style="position: relative; border-top: 1px solid #d7d7d7" title="{{userlog.content}}">
                    <i class="userlog-user-name" title="{{userlog.user.name}}">
                        <b>{{userlog.user.name}}</b>
                    </i>
                    <span style="width: 125px; font-size: 12px">
                        {{userlog.start_time}}
                    </span>
                    <span style="width: 125px; font-size: 12px">
                        {{userlog.end_time}}
                    </span>
                    <pre flex ng-class="{'compressed-userlog': !vm.expandEntries}" style="margin: 0; padding: 0; background: transparent; margin-bottom: 8px; min-height: 33px; color: inherit" ng-bind-html="userlog.content | linkify | toTrustedHtml"></pre>
                    <div class="tags-list-container" title="{{userlog.tagsListText}}" ng-class="{'tags-list-compressed-container': !vm.expandEntries}">
                        <i style="font-size: 11px; padding-right: 2px">{{userlog.tagsListText}}</i>
                    </div>
                    <span style="min-width: 24px; margin-left: 8px; font-size: 12px">
                        <span ng-show="userlog.attachment_count>0">({{userlog.attachment_count}}
                        <span class="fa fa-paperclip"></span>)
                        </span>
                    </span>
                    <span style="min-width: 24px; margin-left: 8px; font-size: 12px">
                        <span ng-show="userlog.compound_tags.length>0">({{userlog.compound_tags.length}}
                        <span class="fa fa-tags"></span>)
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
