<md-dialog md-theme="{{$root.themePrimary}}" class="md-whiteframe-z1" style="min-width: 800px; overflow: visible"
           ng-click="vm.showEndDatePicker = false; vm.showDatePicker = false; toggleTags = false;">
    <md-toolbar class="md-toolbar-tools md-whiteframe-z1">
        <span>User Log Viewer</span>
    </md-toolbar>
    <md-dialog-content style="padding: 25px;" layout="column" md-theme="{{$root.themePrimaryButtons}}">
        <div layout="row" layout-align="space-around center">
            <div layout="row" layout-align="center center" style="min-width: 220px;">
                <md-input-container flex md-no-float style="margin-top: 3px; padding: 0;">
                    <label>Event Start Time (UTC)</label>
                    <input flex type="text"
                           data-ng-model="ulog.start_time" readonly
                           title="Start Date 'HH:mm:ss yyyy-MM-dd'"/>
                </md-input-container>
            </div>
            <div flex layout="row" layout-align="center center">TO</div>
            <div layout="row" layout-align="center center" style="min-width: 220px;">
                <md-input-container flex md-no-float style="margin-top: 3px; padding: 0;">
                    <label>Event End Time (UTC)</label>
                    <input flex type="text"
                           data-ng-model="ulog.end_time" readonly
                           title="End Date 'HH:mm:ss yyyy-MM-dd'"/>
                </md-input-container>
            </div>
        </div>
        <md-input-container style="margin: 20px 0px; min-width: 220px;">
            <label>Userlog Type</label>
            <input type="text" ng-model="ulog.userlog_type" readonly>
        </md-input-container>
        <div layout="row">
                <md-input-container flex>
                    <label>Log Message</label>
                    <textarea rows="5" columns="1" md-maxlength="150" ng-model="ulog.userlog_content" readonly></textarea>
                </md-input-container>
        </div>

        <div layout="column" style="margin: 5px 0px;">
            <label>Tags</label>
            <md-chips ng-model="selectedTags" readonly="readonly">
                <md-chip-template>
                        <span style="font-size:small">
                            {{$chip.name}}
                        </span>
                </md-chip-template>
            </md-chips>
        </div>

        <div layout="column" style="margin: 20px 0px;">
            <label>Attachments</label>
            <div ng-repeat="attach in ulog.metadata" style="height:32px; font-size:small;" layout="row" layout-align="space-between center">
                <span flex>{{attach.m_name}}</span>
                <span flex="10" style="margin-left: 4px;" class="fa fa-download" ng-click="getFile(attach.m_val, attach.m_name, ulog.id)"></span>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" md-theme="{{$root.themePrimaryButtons}}">
        <md-button ng-click="hide()" class="md-primary md-raised">
            Close
        </md-button>
    </div>
</md-dialog>
