<md-dialog md-theme="{{$root.themePrimary}}" class="md-whiteframe-z1" style="min-width: 800px; min-height: 626px; overflow: visible"
           ng-click="showEndDatePicker = false; showDatePicker = false; toggleTags = false;">
    <md-toolbar class="md-toolbar-tools md-whiteframe-z1" layout="row" layout-align="space-between center">
        <span>{{editMode && log.id? 'User Log Editor (' + log.id + ')': editMode? 'New User Log': 'User Log Viewer (' + log.id + ')'}}</span>

        <md-button class="inline-action-button" style="margin: 0"
                  ng-click="copyUserLogURL(log.id)">
            <md-tooltip>Copy User Log URL to clipboard</md-tooltip>
            <span class="fa fa-link" style='font-size: 18px'></span>
        </md-button>

    </md-toolbar>

    <md-dialog-content style="padding: 12px; min-height: 510px" md-theme="{{$root.themePrimaryButtons}}" layout="column">
        <div layout="row">
            <div layout="row" layout-align="start center" style="min-width: 180px; padding-top: 20px;">
                <md-input-container md-is-error="!validStartTime" flex style="height: 36px; max-width: 135px; margin: 0; padding: 0;">
                    <input id="userlogDialogStartTimeElement" ng-disabled="!editMode && openedWithoutStartTime" flex type="text" ng-change="onTimeChange()"
                           data-ng-model="start_time" placeholder="Start Date"
                           title="Start Date 'yyyy-MM-dd HH:mm:ss'"/>
                </md-input-container>
                <md-button ng-disabled="!editMode && openedWithoutStartTime" class="md-icon-button" style="margin-left: 0; margin-right: 0; margin-top: 3px; width: 36px; height: 36px;"
                           ng-click="showDatePicker = !showDatePicker; showEndDatePicker = false; $event.stopPropagation()">
                    <md-icon class="fa" md-font-icon="fa-calendar"></md-icon>
                </md-button>
                <md-button ng-disabled="!editMode && openedWithoutStartTime" ng-click="start_time = $root.utcDateTime | date:'yyyy-MM-dd HH:mm:ss'; onTimeChange()"
                    style="height: 36px; max-width: 42px; min-width: 42px; margin-left: 0; padding: 0;">
                    Now
                </md-button>
                <datetimepicker ng-show="showDatePicker" ng-init="showDatePicker = false"
                                class="datepickerMenu md-whiteframe-z1"
                                data-ng-model="start_time" style="position: absolute; left: 16px; top: 122px"
                                data-datetimepicker-config="{ dropdownSelector: &apos;#dropdown2&apos; }"
                                data-on-set-time="showDatePicker = false; onTimeSet(start_time, 'start_time')"></datetimepicker>
            </div>
            <div flex layout="row" layout-align="center center"></div>
            <div layout="row" layout-align="start center" style="min-width: 180px; padding-top: 20px;">
                <md-input-container md-is-error="!validEndTime" flex style="height: 36px; max-width: 135px; margin: 0; padding: 0;">
                    <input ng-disabled="!editMode && openedWithoutEndTime" flex type="text" ng-change="onTimeChange()"
                           data-ng-model="end_time" placeholder="End Date"
                           title="End Date 'yyyy-MM-dd HH:mm:ss'"/>
                </md-input-container>
                <md-button ng-disabled="!editMode && openedWithoutEndTime" class="md-icon-button" style="margin-left: 0; margin-top: 3px; width: 36px; height: 36px;"
                           ng-click="showEndDatePicker = !showEndDatePicker; showDatePicker = false; $event.stopPropagation()">
                    <md-icon class="fa" md-font-icon="fa-calendar"></md-icon>
                </md-button>
                <md-button ng-disabled="!editMode && openedWithoutEndTime" ng-click="end_time = $root.utcDateTime | date:'yyyy-MM-dd HH:mm:ss'; onTimeChange()"
                    style="height: 36px; max-width: 42px; min-width: 42px; margin-left: 0; padding: 0;">
                    Now
                </md-button>
                <datetimepicker ng-show="showEndDatePicker" ng-init="showEndDatePicker = false"
                                data-ng-model="end_time" style="position: absolute; right: 16px; top: 122px"
                                class="datepickerMenu md-whiteframe-z1"
                                data-datetimepicker-config="{ dropdownSelector: &apos;#dropdown4&apos; }"
                                data-on-set-time="showEndDatePicker = false; onTimeSet(end_time, 'end_time')"></datetimepicker>
            </div>
        </div>
        <div class="md-whiteframe-z1" style="margin: 8px 0" flex>
            <md-input-container id="userlogDialogContentElement" md-is-error="content.length === 0" style="margin: 16px 0; min-height: 150px; max-height: 150px" class="md-block" flex>
                <label>Log Content</label>
                <textarea style="overflow-y: overlay; resize: none; width: 100%; min-height: 150px; max-height: 150px; height: 150px" ng-disabled="!editMode" md-select-on-focus rows="10" md-maxlength="10000" ng-model="content"></textarea>
            </md-input-container>
        </div>

        <div class="md-whiteframe-z1" style="margin: 8px 0" flex>
            <md-input-container style="margin: 24px 0; min-height: 50px; max-height: 50px" class="md-block" flex>
                <label>Compound Tags</label>
                <textarea style="overflow-y: scroll; resize: none; min-height: 50px; max-height: 50px; height: 50px" ng-disabled="editMode" ng-list="&#10;" ng-trim="false" md-select-on-focus rows="2" md-maxlength="1000" ng-model="compound_tags"></textarea>
            </md-input-container>
        </div>

        <div layout="row" layout-align="start center" class="md-whiteframe-z1" style="min-height: 64px; border: 2px solid rgba(0, 0, 0, 0.0)" ng-class="{'chips-tag-input-error': !validTags}">
            <md-tooltip md-visible="showInvalidTagsTooltip" md-autohide="false">
                Select at least one of the mandatory tags: {{mandatoryTagsListString}}
            </md-tooltip>
            <md-chips ng-model="selectedTags" md-autocomplete-snap md-require-match="true" flex md-removable="editMode"
                md-on-add="tagsChanged()"
                md-on-remove="tagsChanged()">
                <md-autocomplete
                    md-autoselect="true"
                    md-search-text="searchText"
                    md-items="item in querySearch(searchText)"
                    md-item-text="item.name"
                    placeholder="Select tags">
                    <md-item-template>
                        <span md-highlight-text="searchText" title="{{item.slug}}">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found
                    </md-not-found>
                </md-autocomplete>
                <md-chip-template>
                    <span style="overflow: auto; width: 100%;">
                        <strong>{{$chip.name}}</strong>
                    </span>
                </md-chip-template>
                <md-button class="md-fab" aria-label="Remove Tag">
                    <md-icon md-chip-remove md-font-icon="fa-close" style="color:white; fill:white;"></md-icon>
                </md-button>
            </md-chips>
            <md-button ng-click="toggleTags = !toggleTags; $event.stopPropagation()" style="margin: 0; padding: 0; min-height: 32px; min-width: 32px">
                <span class="fa fa-tags"></span>
            </md-button>
            <div ng-init="toggleTags = false" ng-show="toggleTags" id="replyForm">
                <div id="vertical-container" class="md-whiteframe-z3 tag-popup-list">
                    <div ng-repeat="tag in tags | orderBy:'name' track by $index" class="tag-popup-item" flex ng-click="addTagFromList(tag)">
                        {{tag.name}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="attachments.length > 0" layout="column" class="md-whiteframe-z1" style="margin: 8px 0; overflow: auto; min-height: 100px; max-height: 100px" md-theme="{{$root.themePrimaryButtons}}">
            <div ng-repeat="attachment in attachments" style="min-height: 32px" layout="row" layout-align="start center">
                <span title="Download {{attachment.name}}" style="margin: 8px; 0" class="fa fa-download" ng-click="downloadFile(attachment)"></span>
                <span flex>{{attachment.name}}</span>
                <md-checkbox ng-disabled="!editMode" class="md-primary" ng-model="attachment.delete" style="margin: 0 8px">Delete?</md-checkbox>
            </div>
        </div>
        <div layout="row" layout-align="start center" style="margin: 16px 0">
            <span style="margin-right: 8px">Attachments:</span>
            <input ng-disabled="!editMode" style="font-size: 12px" file-model="filesToUpload" type="file" name="files[]" multiple/>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span ng-show="endDateTimeError" style="color: #F44336">
            End date cannot be before start date!
        </span>
        <span ng-show="uploadingFiles" style="font-weight: bold">
            Uploading Files, please wait...
        </span>
        <md-button ng-click="hide()">{{!editMode && openedWithoutEndTime && openedWithoutStartTime && !chipHasBeenAdded? 'Close' : 'Cancel'}}</md-button>
        <md-button ng-hide="!editMode && openedWithoutEndTime && openedWithoutStartTime && !chipHasBeenAdded" ng-click="submit()" ng-disabled="endDateTimeError || uploadingFiles || content.length == 0 || !validStartTime || !validEndTime || !content || !validTags">Submit</md-button>
    </md-dialog-actions>
    </div>
</md-dialog>
