<div flex style="padding: 16px;" ng-controller="UserlogCtrl as vm" layout="column">
    <md-tabs flex class="md-whiteframe-z1" style="overflow: auto">
        <md-tab flex label="My User Logs">
            <md-toolbar layout="row" class="md-toolbar-tools-medium md-whiteframe-z1">
                <span flex></span>
                <input class="fade-in search-input-box" type="search"
                       ng-model-options="{ debounce: 300 }" ng-model="vm.q" placeholder="Search Userlogs..."/>
                <md-button class="md-icon-button inline-action-button"
                           ng-click="vm.editUserLog(vm.blank_ulog, vm.my_userlogs, vm.tags, $event)"
                           style="margin: 0 8px">
                    <md-icon class="fa" md-font-icon="fa-plus"></md-icon>
                </md-button>
                <md-button class="md-icon-button inline-action-button" ng-click="vm.getMyUserLogs()" style="margin: 0">
                    <md-icon class="fa" md-font-icon="fa-refresh"></md-icon>
                </md-button>
                <div flex class="unselectable list-subheader-title" layout="row" layout-align="start center"
                     style="position: absolute; left: 0; bottom: 0; padding: 0 8px">
                    <span class="subheader-text" style="width: 120px" ng-click="vm.setOrderBy('userlog_type')">
                        <span>Log Type</span>
                        <span class="fa"
                              ng-class="{'fa-caret-up': vm.orderBy.value === 'userlog_type' && !vm.orderBy.reverse, 'fa-caret-down': vm.orderBy.value === 'userlog_type' && vm.orderBy.reverse}"
                              style="margin-right: 4px;"></span>
                    </span>
                    <span class="subheader-text" style="width: 185px" ng-click="vm.setOrderBy('start_time')">
                        <span>Start Time (UTC)</span>
                        <span class="fa"
                              ng-class="{'fa-caret-up': vm.orderBy.value === 'start_time' && !vm.orderBy.reverse, 'fa-caret-down': vm.orderBy.value === 'start_time' && vm.orderBy.reverse}"
                              style="margin-right: 4px;"></span>
                    </span>
                    <span class="subheader-text" style="width: 185px" ng-click="vm.setOrderBy('end_time')">
                        <span>End Time (UTC)</span>
                        <span class="fa"
                              ng-class="{'fa-caret-up': vm.orderBy.value === 'end_time' && !vm.orderBy.reverse, 'fa-caret-down': vm.orderBy.value === 'end_time' && vm.orderBy.reverse}"
                              style="margin-right: 4px;"></span>
                    </span>
                    <span flex class="subheader-text" ng-click="vm.setOrderBy('userlog_content')">
                        <span>Log Content</span>
                        <span class="fa"
                              ng-class="{'fa-caret-up': vm.orderBy.value === 'userlog_content' && !vm.orderBy.reverse, 'fa-caret-down': vm.orderBy.value === 'userlog_content' && vm.orderBy.reverse}"
                              style="margin-right: 4px;"></span>
                    </span>
                </div>
            </md-toolbar>

            <div ng-repeat="e_ulog in vm.my_userlogs | regexSearch:vm.orderByFields:vm.q | orderBy:vm.orderBy.value:vm.orderBy.reverse"
                          flex layout="row" layout-align="start center" class="user-log-row">
                <span style="width: 120px">{{e_ulog.userlog_type}}</span>
                <span style="width: 185px" ng-style="{'background': ulog.scolor}">
                    {{e_ulog.start_time | date:'yyyy-MM-dd HH:mm:ss'}}
                </span>
                <span style="width: 185px" ng-style="{'background': ulog.ecolor}">
                    {{e_ulog.end_time | date:'yyyy-MM-dd HH:mm:ss'}}
                </span>
                <span flex>{{e_ulog.userlog_content}}</span>
                <md-button title="Edit User Log" class="inline-action-button" style="margin: 0"
                           ng-click="vm.getCompleteUserLog(e_ulog, vm.my_userlogs, vm.tags, $event); $event.stopPropagation();">
                    <span style="display: inherit" class="fa fa-edit"></span>
                </md-button>
            </div>
        </md-tab>
        <md-tab flex label="Userlog Reports" class="md-whiteframe-z1" style="overflow: auto">
            <div layout="column" layout-align="start center" ng-click="vm.showEndDatePicker = false; vm.showDatePicker = false;"
                style="cursor: inherit">
                <div layout="row" style="width: 100%">
                    <md-toolbar class="md-whiteframe-z1" layout="row" layout-align="start center">
                        <span style="margin-left: 16px" flex>Report Parameters:</span>
                        <div layout="row" layout-align="start center" md-theme="{{themePrimaryButtons}}" style="margin: 0 16px; font-size: 14px;">
                            <md-select placeholder="Select User Log Type" ng-model="vm.blank_query.userlog_type"
                                       style="width: 150px; margin: 0 8px">
                                <md-option value="">All</md-option>
                                <md-option value="shift_log">Shift Log</md-option>
                                <md-option value="time_loss">Time-loss Log</md-option>
                                <md-option value="observation">Observation Log</md-option>
                                <md-option value="status_log">Status Log</md-option>
                                <md-option value="maintenance">Maintenance</md-option>
                                <md-option value="alarm_log">Alarm Log</md-option>
                            </md-select>
                            <div layout="row" layout-align="center center" style="min-width: 220px; position: relative">
                                <md-input-container flex md-no-float style="padding: 0;">
                                    <input flex type="text"
                                           data-ng-model="vm.blank_query.start_time" placeholder="Start Date"
                                           title="Start Date 'HH:mm:ss yyyy-MM-dd'"
                                           ng-click="vm.showDatePicker = !vm.showDatePicker; vm.showEndDatePicker = false; $event.stopPropagation()"/>
                                </md-input-container>
                                <span></span>
                                <md-button class="md-icon-button" style="margin-left: 0; margin-top: 3px; width: 40px; height: 40px;"
                                           ng-click="vm.showDatePicker = !vm.showDatePicker; vm.showEndDatePicker = false; $event.stopPropagation()">
                                    <md-icon class="fa" md-font-icon="fa-calendar"></md-icon>
                                </md-button>
                                <datetimepicker ng-show="vm.showDatePicker" ng-init="vm.showDatePicker = false"
                                                class="datepickerMenu md-whiteframe-z1"
                                                data-ng-model="vm.blank_query.start_time" style="position: absolute; left: 0; top: 34px"
                                                data-datetimepicker-config="{ dropdownSelector: &apos;#dropdown2&apos; }"
                                                data-on-set-time="vm.showDatePicker = false; vm.onTimeSet(vm.blank_query.start_time, ulog, 'start_time')"></datetimepicker>
                            </div>
                            <!--<span style="margin: 0 8px"></span>-->
                            <div layout="row" layout-align="center center" style="min-width: 220px;  position: relative">
                                <md-input-container flex md-no-float style="padding: 0;">
                                    <input flex type="text"
                                           data-ng-model="vm.blank_query.end_time" placeholder="End Date"
                                           title="End Date 'HH:mm:ss yyyy-MM-dd'"
                                           ng-click="vm.showEndDatePicker = !vm.showEndDatePicker; vm.showDatePicker = false; $event.stopPropagation()"/>
                                </md-input-container>
                                <span></span>
                                <md-button class="md-icon-button" style="margin-left: 0;width: 40px; height: 40px;"
                                           ng-click="vm.showEndDatePicker = !vm.showEndDatePicker; vm.showDatePicker = false; $event.stopPropagation()">
                                    <md-icon class="fa" md-font-icon="fa-calendar"></md-icon>
                                </md-button>
                                <datetimepicker ng-show="vm.showEndDatePicker" ng-init="vm.showEndDatePicker = false"
                                                data-ng-model="vm.blank_query.end_time" style="position: absolute; left: 0; top: 34px"
                                                class="datepickerMenu md-whiteframe-z1"
                                                data-datetimepicker-config="{ dropdownSelector: &apos;#dropdown4&apos; }"
                                                data-on-set-time="vm.showEndDatePicker = false; vm.onTimeSet(vm.blank_query.end_time, ulog, 'end_time')"></datetimepicker>
                            </div>
                            <md-button class="add-tab md-primary md-raised" ng-click="vm.queryUserlogs(event, vm.blank_query)"
                                       style="margin-right: 0;">Generate Report
                            </md-button>
                        </div>
                    </md-toolbar>
                </div>
                <div flex layout="column" style="width:100%" ng-show="vm.report_userlogs.length > 0">
                    <md-list>
                        <md-list-item>
                            <div class="md-list-item-text" style="font-size: 18px; font-weight: bold" layout="row" flex>
                                <span style="width: 130px">Userlog Type</span>
                                <span style="width: 150px">Entry Timestamp</span>
                                <span style="width: 130px">User</span>
                                <span style="width: 150px">Event Started</span>
                                <span style="width: 150px">Event Ended</span>
                                <span style="width: 150px">Userlog Content</span>
                            </div>
                        </md-list-item>
                        <md-list-item ng-repeat="rlog in vm.report_userlogs | filter:vm.blank_query.userlog_type">
                            <md-divider></md-divider>
                            <div class="md-list-item-text" style="font-size:small" flex
                                 layout="row">
                                <span style="width: 130px">{{rlog.userlog_type}}</span>
                                <span style="width: 150px">{{rlog.timestamp}}</span>
                                <span style="width: 130px">{{rlog.name}}</span>
                                <span style="width: 150px">{{rlog.start_time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                <span style="width: 150px">{{rlog.end_time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                <span flex>{{rlog.userlog_content}}</span>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-tab>
    </md-tabs>
</div>

