<div flex style="padding: 24px;" ng-controller="UserlogCtrl as vm">
    <md-tabs md-border-bottom md-dynamic-height>
        <md-tab label="My User Logs">
            <md-toolbar>
                <div class="logging-options" layout="row">
                    <md-button ng-click="editUserLog(blank_ulog, my_userlogs, tags, event)">New User Log</md-button>
                    <md-button ng-click="getMyUserLogs(event)">List My Latest</md-button>
                    <md-button>Rolling List</md-button>
                </div>
            </md-toolbar>

            <md-list ng-show="my_userlogs.length > 0">
                <md-list-item>
                    <div class="md-list-item-text" style="padding-left: 24px;" layout="row" flex>
                        <h4 flex="15">Userlog Type </h4>
                        <h4 flex="15">Event started: </h4>
                        <h4 flex="15">Event ended: </h4>
                        <div flex="5"></div>
                        <h4 flex>Userlog Content <h4>
                    </div>
                </md-list-item>
                <md-list-item ng-repeat="e_ulog in my_userlogs | orderBy:'+':true"">
                    <md-divider> </md-divider>
                    <div class="md-list-item-text" style="padding-left: 24px; font-size:small;" flex layout="row" ng-click="getCompleteUserLog(e_ulog, my_userlogs, tags, event)">
                    <i class="fa fa-angle-right" flex="5"></i>
                    <div flex="10">{{e_ulog.userlog_type}}</div>
                    <div flex="15" ng-style="{'background': ulog.scolor}">{{e_ulog.start_time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                    <div flex="15" ng-style="{'background': ulog.ecolor}">{{e_ulog.end_time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                    <div flex="5"></div>
                    <div flex>{{e_ulog.userlog_content}}</div>
                    </div>
                </md-list-item>
            </md-list>
        </md-tab>
        <md-tab>
        <md-tab-label>Userlog Reports</md-tab-label>
        <md-tab-body>
            <md-content class="md-padding" layout="row"">
                <div class="query-options" flex="20">
                    <form layout="column" class="md-padding" style="padding-top: 0;">
                            <div flex style="position: relative;">
                                <h2 class="md-subhead">Query Parameters</h2>
                            </div>
                        <md-input-container>
                            <md-select placeholder="Select User Log Type" ng-model="blank_query.userlog_type" style="width: 200px">
                                <md-option value="">All</md-option>
                                <md-option value="shift_log">Shift Log</md-option>
                                <md-option value="time_loss">Time-loss Log</md-option>
                                <md-option value="observation">Observation Log</md-option>
                                <md-option value="status_log">Status Log</md-option>
                                <md-option value="maintenance">Maintenance</md-option>
                                <md-option value="alarm_log">Alarm Log</md-option>
                        </md-input-container>
                        <md-input-container>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <label>Start time: </label><div class="input-group"><input type="text" class="form-control" data-ng-model="blank_query.start_time"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker style="color:slategray;width:210px;font-size:x-small;line-height:10px;" data-ng-model="blank_query.start_time" data-datetimepicker-config="{ dropdownSelector: &apos;#dropdown2&apos; }"/>
                                </ul>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <div class="dropdown mydatetimepicker">
                                <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <label>End time: </label><div class="input-group"><input type="text" class="form-control" data-ng-model="blank_query.end_time"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker style="color:slategray;width:210px;font-size:x-small;line-height:10px;" data-ng-model="blank_query.end_time" data-datetimepicker-config="{ dropdownSelector: &apos;#dropdown4&apos; }"/>
                                </ul>
                            </div>
                        </md-input-container>
                        <md-button class="add-tab md-primary md-raised" ng-click="queryUserlogs(event, blank_query)" style="margin-right: 0;">Generate Report</md-button>
                    </form>                
                </div>
                <div flex>
                    <md-list ng-show="report_userlogs.length > 0">
                        <md-list-item>
                            <div class="md-list-item-text" style="padding-left: 24px;" layout="row" flex>
                                <h4 flex="15">Userlog Type </h4>
                                <h4 flex="15">Event started: </h4>
                                <h4 flex="15">Event ended: </h4>
                                <div flex="5"></div>
                                <h4 flex>Userlog Content <h4>
                            </div>
                        </md-list-item>
                        <md-list-item ng-repeat="rlog in report_userlogs | filter:blank_query.userlog_type">
                            <md-divider> </md-divider>
                            <div class="md-list-item-text" style="padding-left:24px; font-size:small" flex layout="row">
                                <div flex="15" style="text-align:center">{{rlog.userlog_type}}</div>
                                <div flex="15">{{rlog.start_time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div flex="15"">{{rlog.end_time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div flex="5"></div>
                                <div flex>{{rlog.userlog_content}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </md-tab-body>
        </md-tab>
    </md-tabs>
</div>

