.user-log-row {
    padding: 0 8px;
    &:hover {
        background-color: rgba(158, 158, 158, 0.1);
    }
}

.repeated-item {
    &:hover {
        background-color: rgba(158, 158, 158, 0.1);
    }
}

.tag-popup-list {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 100px;
    background-color: white;
    overflow: auto;
    padding: 4px;
}

.tag-row-item {
    padding: 0 8px;
    max-height: 20px;
    min-height: 20px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        background-color: rgba(158, 158, 158, 0.1);
    }
}

.tag-name {
    min-width: 300px;
    max-width: 300px;
}

.deactivated-tag {
    text-decoration: line-through;
}

.userlog-new-log-row {
    overflow: hidden;
    border: 4px solid rgba(255, 127, 127, 0.5);

    md-input-container {
        margin: 0 !important;
        padding-top: 8px !important;
        padding-bottom: 2px !important;
        padding-left: 2px !important;
        padding-right: 2px !important;
        max-height: 40px !important;
        min-height: 40px !important;
    }
}
