 <form novalidate name="frm1" autocomplete="off" ng-submit="vm.searchFilter=searchText">

<div layout="column" flex ng-controller="SensorListCtrl as vm" style="min-height: 640px; min-width: 1000px">
    <div flex layout="row" style="margin: 8px">
        <div layout="column" style="width: 220px">
            <div layout="column" ng-repeat="node in vm.nodes | orderBy:node:true track by $index" class="md-whiteframe-z1"
                style="margin-bottom: 8px;" ng-class="{'at-least-400-high': node === 'Proxies'}">
                <md-toolbar class="md-whiteframe-z1 md-toolbar-tools-medium" layout="row" layout-align="center center">
                    <span>{{node}}</span>
                </md-toolbar>
                <div style="overflow: auto" layout-wrap layout="row" layout-align="start">
                    <div flex="50" ng-class="{'active-sensor-list-resource':vm.resourceSensorsBeingDisplayed === resource.name}"
                        ng-repeat="resource in vm.resourcesNames | filter:{'node':node} | orderBy:'name' track by $index"
                        ng-click="vm.listResourceSensors(resource.name)" class="resource-root-item md-button"
                        md-ink-ripple>
                        {{resource.name}}
                    </div>
                </div>
            </div>
        </div>
        <div flex class="resource-sensors-list" layout="column" style="max-height: 100%; min-height: 100%;">
            <md-toolbar class="md-whiteframe-z1" style=" min-height: 60px" layout="row">
                <div flex layout="row" layout-align="start center" style="margin-left: 16px">
                    <div flex>
                        <label>{{vm.resourceSensorsBeingDisplayed? vm.resourceSensorsBeingDisplayed: ''}}</label>
                        <i style="font-size: 12px">{{vm.resourceSensorsBeingDisplayed? ' (' + filteredSensors.length + ')': ''}}</i>
                    </div>
                    <md-checkbox class="md-primary" ng-model="vm.showValueTimestamp" ng-click="$event.stopPropagation()"
                        md-theme="{{themePrimaryButtons}}" style="font-size: 13px; margin: 0 4px; padding: 0"
                        ng-change="vm.updateURL()">
                        Show Value Timestamps
                    </md-checkbox>
                    <md-checkbox class="md-primary" ng-model="vm.hideWarnSensors" ng-change="vm.updateURL()" ng-click="$event.stopPropagation()"
                        md-theme="{{themePrimaryButtons}}" style="font-size: 13px; margin: 0 4px; padding: 0">
                        Hide Warn Sensors
                    </md-checkbox>
                    <md-checkbox class="md-primary" ng-model="vm.hideNominalSensors" ng-change="vm.updateURL()" ng-click="$event.stopPropagation()"
                        md-theme="{{themePrimaryButtons}}" style="font-size: 13px; margin: 0 4px; padding: 0">
                        Hide Nominal Sensors
                    </md-checkbox>
                    <input type="text" class="fade-in search-input-box" style="margin: 0 4px" name="search" placeholder="Search...(press enter)"
                     ng-model="searchText" ng-enter="vm.searchFilter=searchText"
                    />
                    <md-button class="md-primary md-raised" md-theme="{{themePrimaryButtons}}" ng-click="vm.searchFilter=searchText"
                        style="max-width: 28px; min-width: 28px; margin: 0 4px" type="submit" ng-show="false">
                        <span class="fa fa-caret-right"></span>
                    </md-button>
                </div>

                <div flex class="unselectable list-subheader-title" layout="row" layout-align="start center" style="padding: 0px 8px; max-height: 17px; overflow: hidden">
                    <span class="subheader-text resource-sensor-name" ng-class="vm.sensorNameResizeClassName" ng-click="vm.setSensorsOrderBy('shortName')">
                        <span>Name</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.sensorsOrderBy.value === 'shortName' && !vm.sensorsOrderBy.reverse, 'fa-caret-down': vm.sensorsOrderBy.value === 'shortName' && vm.sensorsOrderBy.reverse}"
                        style="margin-right: 4px"></span>
                    </span>
                    <span class="fa fa-caret-left opacity-hover" style="margin-left: -28px;margin-right: 4px" ng-click="vm.decreaseSensorNameColumnWidth(); $event.stopPropagation()"></span>
                    <span class="opacity-hover" ng-click="vm.resetSensorNameColumnWidth(400)">|</span>
                    <span class="fa fa-caret-right opacity-hover" style="margin: 0 4px" ng-click="vm.increaseSensorNameColumnWidth(); $event.stopPropagation()"></span>
                    <span class="subheader-text resource-sensor-status-item" ng-click="vm.setSensorsOrderBy('status')">
                        <span>Status</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.sensorsOrderBy.value === 'status' && !vm.sensorsOrderBy.reverse, 'fa-caret-down': vm.sensorsOrderBy.value === 'status' && vm.sensorsOrderBy.reverse}"
                        style="margin-right: 4px"></span>
                    </span>
                    <span class="subheader-text resource-sensor-time-item" ng-click="vm.setSensorsOrderBy('received_timestamp')">
                        <span>Received Timestamp</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.sensorsOrderBy.value === 'received_timestamp' && !vm.sensorsOrderBy.reverse, 'fa-caret-down': vm.sensorsOrderBy.value === 'received_timestamp' && vm.sensorsOrderBy.reverse}"
                        style="margin-right: 4px"></span>
                    </span>
                    <span ng-show="vm.showValueTimestamp" class="subheader-text resource-sensor-time-item" ng-click="vm.setSensorsOrderBy('timestamp')">
                        <span>Value Timestamp</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.sensorsOrderBy.value === 'timestamp' && !vm.sensorsOrderBy.reverse, 'fa-caret-down': vm.sensorsOrderBy.value === 'timestamp' && vm.sensorsOrderBy.reverse}"
                        style="margin-right: 4px"></span>
                    </span>
                    <span flex class="subheader-text" ng-click="vm.setSensorsOrderBy('value')">
                        <span>Value</span>
                    <span class="fa" ng-class="{'fa-caret-up': vm.sensorsOrderBy.value === 'value' && !vm.sensorsOrderBy.reverse, 'fa-caret-down': vm.sensorsOrderBy.value === 'value' && vm.sensorsOrderBy.reverse}"
                        style="margin-right: 4px"></span>
                    </span>
                </div>
            </md-toolbar>
            <div flex style="padding: 4px 8px; overflow: auto" class="md-whiteframe-z1">
                <div flex class="overlay-progress-circular" layout="row" layout-align="center center" ng-if="vm.showProgress">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div ng-repeat="key in filteredSensors = (vm.keys(vm.sensorValues) | regexSearchAndOrder:vm.sensorsOrderByFields:vm.searchFilter:vm.sensorsOrderBy.value:vm.sensorsOrderBy.reverse:vm.sensorValues) | filter:filterByStatus track by key"
                    ng-class="{'selected-for-chart-row': vm.sensorValues[key].selectedForChart}" layout="row"
                    layout-align="start center" ng-click="vm.plotLiveSensorFeed(key)">
                    <span title="" class="resource-sensor-name" ng-class="vm.sensorNameResizeClassName">{{vm.sensorValues[key].shortName}}</span>
                    <span class="resource-sensor-status-item" ng-class="vm.sensorClass(vm.sensorValues[key].status)">{{vm.sensorValues[key].status}}</span>
                    <span class="resource-sensor-time-item">{{vm.sensorValues[key].received_timestamp}}</span>
                    <span class="resource-sensor-time-item" ng-show="vm.showValueTimestamp">{{vm.sensorValues[key].timestamp}}</span>
                    <span title="{{vm.sensorValues[key].value}}" class="resource-sensor-value-item" ng-click="vm.displaySensorValue($event, vm.sensorValues[key]); $event.stopPropagation();">
                        {{vm.sensorValues[key].value}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="md-whiteframe-z5 sensor-list-chart-container" layout="column" ng-init="vm.showChart = false"
        inherit-body-bg target-color-inherit="md-content" ng-class="{'small-hidden-sensor-graph-container hover-opacity': !vm.showChart}">
        <md-toolbar class="md-whiteframe-z1" layout="row" layout-align="center center">
            <span draggable=".sensor-list-chart-container" flex style="margin-left: 8px; cursor: move;">Sensor Graph</span>
            <md-button ng-show="vm.showChart" md-theme="{{themePrimaryButtons}}" class="md-icon-button inline-action-button"
                ng-click="vm.clearChartData()" title="Clear Chart Data" style="margin: 0">
                <md-icon class="fa" md-font-icon="fa-eraser"></md-icon>
            </md-button>
            <md-button ng-show="vm.showChart" md-theme="{{themePrimaryButtons}}" class="md-icon-button inline-action-button"
                ng-click="vm.maximiseSensorGraph()" title="Maximise" style="margin: 0">
                <md-icon class="fa" md-font-icon="fa-expand"></md-icon>
            </md-button>
            <md-button ng-show="vm.showChart" md-theme="{{themePrimaryButtons}}" class="md-icon-button inline-action-button"
                ng-click="vm.restoreSensorGraphSize()" title="Restore Original Size" style="margin: 0">
                <md-icon class="fa" md-font-icon="fa-compress"></md-icon>
            </md-button>
            <md-button md-theme="{{themePrimaryButtons}}" class="md-icon-button inline-action-button" ng-click="vm.showChart = !vm.showChart;"
                title="Minimise Chart" style="margin: 0">
                <md-icon ng-show="vm.showChart" class="fa" md-font-icon="fa-chevron-down"></md-icon>
                <md-icon ng-show="!vm.showChart" class="fa" md-font-icon="fa-chevron-up"></md-icon>
            </md-button>
            <md-menu md-theme="{{themePrimaryButtons}}">
                <md-button ng-show="vm.showChart" class="md-icon-button inline-action-button" ng-click="$root.openMenu($mdOpenMenu, $event, 'sensor-list-menu-content')"
                    style="margin-left: 0; margin-right: 8px;">
                    <md-icon class="fa" md-font-icon="fa-ellipsis-v"></md-icon>
                </md-button>
                <md-menu-content width="4" style="padding-left: 16px;" id="sensor-list-menu-content" md-menu-disable-close>
                    <md-menu-item>
                        <md-checkbox class="md-primary" ng-model="vm.showGridLines" ng-change="vm.showOptionsChanged()">
                            Show Grid Lines
                        </md-checkbox>
                    </md-menu-item>
                    <md-menu-item>
                        <md-checkbox class="md-primary" ng-model="vm.showContextZoom" ng-change="vm.showOptionsChanged()">
                            Show Context Zoom
                        </md-checkbox>
                    </md-menu-item>
                    <md-menu-item>
                        <md-checkbox class="md-primary" ng-model="vm.useFixedYAxis" ng-change="vm.showOptionsChanged()">
                            Use Fixed Y Axis Values
                        </md-checkbox>
                    </md-menu-item>
                    <md-menu-item ng-if="vm.useFixedYAxis">
                        <div md-theme="{{themePrimaryButtons}}" layout="row" layout-align="start center" style="margin-left: 8px; margin-right: 8px; margin-bottom: 8px;">
                            <label style="width: 53px; font-weight: normal; margin-top: 4px">Y Min:</label>
                            <md-input-container md-no-float style="margin-left: 8px;text-align: start; padding: 0; height: 30px"
                                class="md-primary" title="Set the desired Y-Axis Minimum Value">
                                <input flex placeholder="Minimum" ng-model="vm.yAxisMinValue" ng-change="vm.showOptionsChanged()" type="number"
                                    ng-model-options="{ debounce: 300 }">
                            </md-input-container>
                        </div>
                    </md-menu-item>
                    <md-menu-item ng-if="vm.useFixedYAxis">
                        <div md-theme="{{themePrimaryButtons}}" layout="row" layout-align="start center" style="margin-left: 8px; margin-right: 8px; margin-bottom: 8px;">
                            <label style="width: 53px; font-weight: normal; margin-top: 4px">Y Max:</label>
                            <md-input-container md-no-float style="margin-left: 8px;text-align: start; padding: 0; height: 30px"
                                class="md-primary" title="Set the desired Y-Axis Maximum Value">
                                <input flex placeholder="Maximum" ng-model="vm.yAxisMaxValue" ng-change="vm.showOptionsChanged()" type="number"
                                    ng-model-options="{ debounce: 300 }">
                            </md-input-container>
                        </div>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-toolbar>
        <md-chips flex class="custom-chips" ng-model="vm.sensorsPlotNames" md-theme="{{themePrimaryButtons}}"
            md-on-remove="vm.chipRemoved($chip)" md-on-add="vm.chipAppended($chip)" style="margin: 2px">
            <md-autocomplete md-autoselect="true" md-search-text="vm.chipsSearchText" md-items="item in vm.chipsQuerySearch(vm.chipsSearchText)"
                md-item-text="item.name">
                <md-item-template>
                    <span md-highlight-text="searchText" title="{{item.attributes.description}}">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found
                </md-not-found>
            </md-autocomplete>
            <md-chip-template title="{{$chip.name}}">
                <span class="{{$chip.class}}" style="font-size: 10px;">
                  <strong>{{$chip.name}}</strong>
                </span>
            </md-chip-template>
        </md-chips>
        <multi-line-chart ng-show="vm.showChart" flex load-options-function="vm.loadOptions" redraw-function="vm.redrawChart"
            hide-context-zoom="true" clear-function="vm.clearChart" class="sensor-list-multi-line-chart"
            download-csv="vm.downloadAsCSV" remove-sensor-function="vm.removeSensorLine" y-max="vm.yAxisMaxValue"
            y-min="vm.yAxisMinValue" mouse-over-tooltip="true"></multi-line-chart>
        <div resizeable=".sensor-list-chart-container" class="resize-grip">
            <span flex class="fa fa-arrows-v"></span>
        </div>
    </div>
</div>
