.video-pan-controls {
    margin-right: 18px;
    margin-bottom: 18px;
}

.video-position-controls {
    .md-button.md-icon-button {
        margin: 2px;
    }
}

.floodlights-button {
    position: absolute;
    right: 0;
    top: 0;
}

.vds-source-select {
    max-width: 200px;
    min-width: 200px;
    margin: 0px;
    padding: 4px;
}
