.inhibited {
  background: #ffc107;
  color: black;
  width: 100%;
}

.receptor-state-div {
  margin: 5px;
  text-align: center;
  position: relative;
  display: inline-block;
  background: #259b24;
  width: 120px;
  height: 90px;
  color: white;
  border: 1px solid lightgrey;
}