<section layout-align="center center" class="navigation-buttons">

    <material-button class="material-button-raised material-button-colored" ng-click="stateGo('operatorControl')">Operator Control</material-button>
    <material-button class="material-button-raised material-button-colored" ng-click="stateGo('alarms')">Alarms</material-button>
    <material-button class="material-button-raised material-button-colored" ng-click="stateGo('health')">Health and State</material-button>


    <material-button class="material-button-raised material-button-colored" ng-click="stateGo('scheduler')">Scheduler</material-button>
    <material-button class="material-button-raised material-button-colored" ng-click="stateGo('weather')">Weather</material-button>
    <material-button class="material-button-raised material-button-colored" ng-click="stateGo('sensorGraph')">Sensor Graphs</material-button>

    <material-button class="material-button-raised material-button-colored" ng-click="stateGo('admin')">Admin</material-button>
    <material-button class="material-button-raised material-button-colored" disabled>Log Reports</material-button>
    <material-button class="material-button-raised material-button-colored" disabled>Source Catalogues</material-button>


    <!--<button class="material-button-colored"></button>-->
    <!--<button class="material-button-colored"></button>-->
    <!--<button class="material-button-colored"></button>-->


    <!--<button class="material-button-colored"></button>-->
    <!--<button class="material-button-colored"></button>-->
    <!--<button class="material-button-colored"></button>-->

    <!--<button class="material-button-colored"></button>-->
    <!--<button class="material-button-colored"></button>-->
    <!--<button class="material-button-colored"></button>-->
</section>
