<div md-theme="{{$root.themePrimary}}" layout="row" layout-wrap layout-align="center">
    <div class="nav-widget-container">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-tools-small"><span>Scheduler</span></md-toolbar>
        <div md-theme="{{$root.themePrimaryButtons}}" layout="row" layout-wrap layout-align="center">
            <md-button ng-repeat="subNr in $root.systemConfig.subarrayNrs" class="md-primary md-raised" style="margin: 1px 1px 0 1px; width: 148px"
                ng-click="$root.stateGo('scheduler.resources', {subarray_id: subNr})">
                Subarray {{subNr}}
            </md-button>
            <md-button class="md-primary md-raised" ng-click="$root.stateGo('scheduler.drafts')">
                <span class="fa fa-pencil"></span>Schedule Block Approved
            </md-button>
            <md-button class="md-primary md-raised" ng-click="$root.stateGo('scheduler')">
                <span class="fa fa-list"></span>Observations Workflow
            </md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('scheduler.observations')">
                <span class="fa fa-binoculars"></span>Observations Overview</md-button>
        </div>
    </div>

    <div class="nav-widget-container">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-tools-small"><span>Sensors</span></md-toolbar>
        <div md-theme="{{$root.themePrimaryButtons}}" layout="column">
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('sensor-list')"><span class="fa fa-th-list"></span>Sensor List</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('sensor-graph')"><span class="fa fa-line-chart"></span>Sensor Graph</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('sensor-groups')"><span class="fa fa-th-list"></span>Sensor Groups</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('gui-links')"><span class="fa fa-th-list"></span>GUI links</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('weather')"><span class="fa fa-cloud"></span>Weather</md-button>
        </div>
    </div>

    <div class="nav-widget-container">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-tools-small"><span>Health</span></md-toolbar>
        <div md-theme="{{$root.themePrimaryButtons}}" layout="column">
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('operator-control')"><span class="fa fa-cogs"></span>Operator Controls</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('health')"><span class="fa fa-heart"></span>Top Health</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('receptorStatus')"><span class="fa fa-th"></span>Receptor Status</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('receptorPointing')"><span class="fa fa-crosshairs"></span>Receptor Pointing</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('receptorHealth')"><span class="fa fa-th-large"></span>Receptor Health</md-button>
        </div>
    </div>

    <div layout="column" class="nav-widget-container">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-tools-small"><span>Controls</span></md-toolbar>
        <div md-theme="{{$root.themePrimaryButtons}}" layout="column">
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('process-control')"><span class="fa fa-wrench"></span>Process Control</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('cam-components')"><span class="fa fa-cubes"></span>CAM Components</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('alarms')"><span class="fa fa-warning"></span>Alarms</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('device-status')"><span class="fa fa-th-list"></span>Device Status</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('video')" ng-disabled="!$root.showVideoLinks"><span class="fa fa-video-camera"></span>Video</md-button>
        </div>
    </div>

    <div layout="column" class="nav-widget-container">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-tools-small"><span>User Logs & Reports</span></md-toolbar>
        <div md-theme="{{$root.themePrimaryButtons}}" layout="column">
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('userlogs')"><span class="fa fa-pencil-square-o"></span>User Logs</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('userlogs-report')"><span class="fa fa-file-pdf-o"></span>User Log Reports</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('utilisation-report')"><span class="fa fa-file-pdf-o"></span>Utilisation Report</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.stateGo('instrumental-config')"><span class="fa fa-question-circle"></span>Instrumental Config</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.openIRCDisplay()">#IRC</md-button>
        </div>
    </div>

    <div layout="column" class="nav-widget-container">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-tools-small"><span>System Logs & Docs</span></md-toolbar>
        <div md-theme="{{$root.themePrimaryButtons}}" layout="column">
            <md-button class="md-raised md-primary" ng-click="$root.openCentralLogger()"><span class="fa fa-folder-open-o"></span>Central Logs</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.openSystemLogger()"><span class="fa fa-file-text-o"></span>System Logs</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.openKibanaInNewTab('katcpmsgs')"><span class="fa fa-file-text"></span>KATCP Logs</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.openUrlInNewTab('https://drive.google.com/drive/folders/0B8fhAW5QnZQWVkdXYm1GTnZ2X1k')"><span class="fa fa-google"></span>CAM Deployment Docs</md-button>
            <md-button class="md-raised md-primary" ng-click="$root.openGangliaLink()"><span class="fa fa-area-chart"></span><span>Ganglia Monitoring</md-button>
        </div>
    </div>
</div>
