<div layout="column" md-theme="{{vm.themePrimary}}">

    <md-toolbar class="widget-toolbar md-whiteframe-z1">

    </md-toolbar>

    <div flex layout-align="center center" class="navigation-buttons" md-theme="{{vm.themePrimaryButtons}}">

        <md-button aria-label="Operator Control" class="md-raised md-primary" ng-click="vm.stateGo('operatorControl')">Operator Control</md-button>
        <md-button aria-label="Alarms" class="md-raised md-primary" ng-click="vm.stateGo('alarms')">Alarms</md-button>
        <md-button aria-label="Health and State" class="md-raised md-primary" ng-click="vm.stateGo('health')">Health and State</md-button>
        <md-button aria-label="Health and State" class="md-raised md-primary" ng-click="vm.stateGo('receptorStatus')">Receptor Status</md-button>

        <md-button aria-label="Scheduler" class="md-raised md-primary" ng-click="vm.stateGo('scheduler')">Scheduler Home</md-button>
        <md-button aria-label="Weather" class="md-raised md-primary" ng-click="vm.stateGo('weather')" disabled>Weather</md-button>
        <md-button aria-label="Sensor Graphs" class="md-raised md-primary" ng-click="vm.stateGo('sensorGraph')" disabled>Sensor Graphs</md-button>

        <md-button aria-label="Admin" class="md-raised md-primary" ng-click="vm.stateGo('admin')">Admin</md-button>
        <md-button aria-label="Log Reports" class="md-raised md-primary" disabled>Log Reports</md-button>
        <md-button aria-label="Source Catalogues" class="md-raised md-primary" disabled>Source Catalogues</md-button>

    </div>
</div>
