.navigation-buttons {

    background: transparent;
    margin: 16px;

    button {
        width: 12em;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.pie-button-path {
    stroke-width: 2;
    opacity: 1.0;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.pie-button-path-disabled {
    stroke-width: 2;
    cursor: not-allowed;
}

.pie-button-text {
    text-anchor: middle;
    text-transform: uppercase;
}

.nav-widget-button-container {
    .md-button {
        margin: 2px 0 0 0;
        border-radius: 0;
        position: relative;
        text-align: start;
        span:not(.fa) {
            padding: 0 4px;
            margin-left: 6px;
            font-size: 14px;
        }
        span.fa {
            font-size: 30px;
            margin-left: 10px;
            width: 46px;
        }
    }
}

.nav-widget-container {
    min-width: 300px;
    height: 270px;
    md-toolbar {
        text-align: center;
        font-size: 20px;
    }
}
