.nav-widget-container {
    max-width: 300px;
    min-width: 200px;
    margin: 2px;
    display: inline-block;
    // same as md-whiteframe-z1
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);

    button {
        width: 100%;
        text-align: center;
        position: relative;
        padding: 0 8px;
        margin: 1px 0 0 0;
        span.fa {
            margin-right: 8px;
        }
    }
}
