@import "../bower_components/bootstrap/less/bootstrap";
@import "../bower_components/font-awesome/less/font-awesome";
/* Component LESS */
@import "login-form/login-form";
@import "landing/landing";
@import "operator-control/operator-control";
@import "about/about";
@import "weather/weather";
@import "sensor-graph/sensor-graph";
@import "admin/admin";
@import "config/config";
@import "alarms/alarms";
@import "widgets/navigation/navigation-widget";
@import "scheduler/scheduler";
@import "video/video";
@import "widgets/gantt/gantt-widget";
@import "health/health";
@import "d3/d3";

/* Add Component LESS Above */

@button-background-gradient: linear-gradient(to bottom, #79a3c9 0%, #4772a0 100%);
@receptor-state-border-color: darkgrey;
@receptor-state-default-background-gradient: linear-gradient(to bottom, #9dd53a 0%, #7cbc0a 100%);
@receptor-state-inhibited-background-gradient: linear-gradient(to bottom, #ffc578 0%, #fb9d23 100%);

@body-gradient-start: #cacaca;
@body-gradient-end: #9a9a9a;
@panel-gradient-start: #FAFAFA;
@panel-gradient-end: #D9D9D9;

@btn-primary-color: #f0f0f0;
@btn-primary-bg: #4a7fb0;
@btn-primary-border: darken(@btn-primary-bg, 5%);
@navbar-height: 50px;
@navbar-default-bg: rgba(255, 255, 255, 1.0);
@navbar-btn-bg: rgba(150, 190, 255, 0.50);
@navbar-text-hover-color: lightgrey;

@app-min-width: 770px;

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a {
    cursor: pointer;
}

.avoid-clicks {
    pointer-events: none;
}

.toolbar-collapse-button {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 46px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    cursor: pointer;
    border: 0;
    background: none;
    z-index: 1000;
    color: #FAFAFA;

    i {
        font-size: 16px;
    }

    &:hover {
        color: @navbar-text-hover-color;
        i {
            font-size: 24px;
        }
    }

    &:focus {
        outline: none;
    }
}

.toolbar-collapse-button-grey {
    color: transparent;

    &:hover {
        color: #E0E0E0;
    }
}

.button-toolbar-flat-icon {
    padding-left: 2px;
    padding-right: 2px;
    height: 55px;
    width: 55px;

    span {
        font-size: 29px;
    }

    &:hover {
        span {
            font-size: 36px;
        }
    }

    &:focus {
        outline: none;
    }
}

.toolbar-time-span {
    color: white;

    &:hover {
        color: lightgrey;
    }
}

body {
//    font-family: RobotoDraft;
    min-width: @app-min-width;
    padding: 0 !important;
    overflow: hidden;
}

.view-container {

    width: 95%;
    height: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.view-container-full {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.view-container-small {
    width: 75%;
    height: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.side-nav-title {
    padding-top:10px;
    padding-left: 25px;
    font-size: 1.5em;
}

.menu-item {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
    color: #757575;
    height: 48px;
    width: 100%;
    padding-left: 24px;

    button {
        margin-left: 24px;
        background-color: #fff;
        border-width: 0;
        display: block;
        font-size: 13px;
        font-weight: bold;
    }


    span {
        width: 27px;
        font-size: 20px;
        text-align: center;
    }

    &:hover {
        background-color: #F5F5F5;

        span {
            font-size: 32px;
        }

        button {
            background-color: #F5F5F5;
        }
    }

    &:active {
        background-color: #E0E0E0;

        button {
            background-color: #E0E0E0;
        }
    }
}

.menu-item-indented {
    padding-left: 42px;
}

.menu-item-divider {
    height: 1px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #f4f4f4;
}

md-sidenav {

    .menu-item.active {
        background-color: #eee;
        font-weight: 700;
        color: #4285f4;
    }
}

.panel-toolbar {
    background: #283593;
    color: #fff;
    z-index: 1;
    font-size: 1.5em;
}

.panel-body {
    padding: 0;
}

.panel-heading {
    margin-top: 16px;
    margin-left: 16px;
    background: transparent !important;
    height: 0;
    padding: 0;
    border: 0;
    position: absolute;
    z-index: 3;
    span {
        margin-left: 32px;

    }
}

.widget-toolbar {
    min-height: 48px;
    max-height: 48px;
}

.panel-toolbar-small {
    min-height: 35px;
    max-height: 35px;
}

.panel-toolbar-medium {
    min-height: 45px;
    max-height: 45px;
}

.centered-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.md-fab-fa-icon {
    font-size: 24px;
    margin-top: 5px;
    margin-left: 2px;
}

.md-fab-fa-icon-small {
    font-size: 14px;
    //  margin-top: 0px;
    margin-left: 1px;
}

.md-button-fab-small {
    width: 38px !important;
    height: 38px !important;
}

.inactive-text-input {
    border: none;
    background-color: transparent;
}

/* After the transition this will be the only class remaining */
.slide-in-vertically {
    transition: all 0.25s ease-out;
    max-height: 56px;
    min-height: 56px;
    margin-bottom: 16px;
    opacity: 1;
    overflow: visible;
}

/* Initial state when showing */
.slide-in-vertically.ng-hide-remove {
    max-height: 0px;
    min-height: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

/* Will transition towards this state */
.slide-in-vertically.ng-hide-add.ng-hide-add-active {
    max-height: 0px;
    min-height: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

/* Will transition towards this state */
.slide-in-vertically.ng-hide-remove.ng-hide-remove-active {
    max-height: 56px;
    min-height: 56px;
    margin-bottom: 16px;
    overflow: visible;
}

.md-checkbox-no-label {
    margin: 0;
    .md-label {
        margin: 0;
    }
}

.alarms-warning-container {
//    button {
//        margin-top: 8px;
//    }
}

.dashboard-container h1 {
    min-height: 12px;
}

.add-list-item {
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    overflow: visible;
    position: fixed;
    z-index: 1000;
    background: transparent;
}
