<div ng-controller="ActivityCtrl as vm" layout="column" class="md-whiteframe-z1"
    md-theme="{{$root.themePrimary}}" style="margin: 8px" flex>
    <md-toolbar class="widget-toolbar md-whiteframe-z1" layout="row" layout-align="center center" style="padding: 0 8px">
        <span flex>User Activity</span>
        <span ng-click="vm.addSensorTimeline()">Add</span>
    </md-toolbar>
    <timeline flex load-options-function="vm.loadTimelineOptions" redraw-function="vm.redrawTimeline" update-function="vm.updateTimeline"  style="padding-top: 4px; height: 200px"></timeline>
    <multi-line-chart flex ng-repeat="sensor in vm.sensorTimelines track by $index" data="vm.sensorData[sensor.name]" redraw-function="vm.redrawFunctions[sensor.name]" clear-function="vm.clearFunctions[sensor.name]"
                      remove-sensor-function="vm.removeFunctions[sensor.name]" mouse-over-tooltip="true" download-csv="vm.downloadCSVDummy" hide-context-zoom="true"></multi-line-chart>
</div>
