<md-dialog style='padding: 0; overflow: hidden; max-height: 95%; max-width: 95%' md-theme='{{$root.themePrimary}}' aria-label=''>
    <div style='padding:0; margin:0' layout='column' layout-padding>
        <md-toolbar class='md-primary' layout='row' layout-align='center center'><span>{{title}}</span></md-toolbar>
        <div class="md-whiteframe-z1">
            <md-input-container md-no-float class="md-primary" md-theme="{{$root.themePrimaryButtons}}" title="Start typing to find sensors" style="padding: 2px; margin-bottom: 0; height: 40px">
                <input placeholder="Find a sensor..." ng-model="sensorNameListSearchStr" md-autofocus
                       ng-model-options="{ debounce: 500 }"
                       ng-change="findSensorNames(sensorNameListSearchStr)" maxlength="20">
            </md-input-container>
            <md-checkbox md-theme="{{themePrimaryButtons}}" class="md-primary" style="font-size: 13px; padding: 0; margin: 0 4px" ng-model="searchDiscrete"
                ng-change="findSensorNames(sensorNameListSearchStr)">
                Search Discrete Sensors
            </md-checkbox>
        </div>
        <div flex layout="column" style='overflow: auto'>
            <div ng-repeat="sensor in sensorNames track by $index" class="config-label-list-item" ng-click="findSensorData(sensor)">
                {{sensor.name}}
            </div>
        </div>
        <label ng-show="sensorNames.length === 0" flex>No results</label>
        <label ng-show="sensorNames.length !== 0" flex>{{sensorNames.length + ' results.'}}</label>
        <div layout='row' layout-align='end' style='min-height: 60px;'>
            <md-button style='margin-left: 8px;' class='md-primary md-raised' md-theme='{{$root.themePrimaryButtons}}'
                aria-label='OK' ng-click='hide()'>Done</md-button>
        </div>
    </div>
</md-dialog>
