<div class="view-container" ng-controller="SchedulerHomeCtrl as vm">

    <div layout="row" layout-align="center" class="md-whiteframe-z4" md-theme="{{themePrimaryButtons}}" style="min-width: 1200px;">
        <md-button class="scheduler-nav-home-item md-primary md-raised" ink-ripple flex ng-click="vm.stateGo('subarrays')">
            <div layout="column"><div style="height: 250px;" ng-include="'images/subarrays.svg'" onload="vm.svgLoaded('#subarrays-img-target-color')"></div><span id="subarrays-img-target-color">Manage Sub-Arrays</span></div>
        </md-button>
        <!--style="border-right: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5;"-->
        <md-button class="scheduler-nav-home-item md-primary md-raised" ink-ripple flex ng-click="vm.stateGo('subarrays')">
            <div layout="column"><div style="height: 250px;" ng-include="'images/subarrays-resources.svg'" onload="vm.svgLoaded('#subarrays-img-target-color')"></div><span>Manage Sub-Array Resources</span></div>
        </md-button>
        <md-button class="scheduler-nav-home-item md-primary md-raised" ink-ripple flex ng-click="vm.stateGo('scheduler')">
            <div layout="column"><div ng-include="'images/scheduleblocks.svg'" onload="vm.svgLoaded('#subarrays-img-target-color')"></div><span>Manage Schedule Blocks</span></div>
        </md-button>
    </div>

</div>
<!--/Users/francois/Projects/katgui/app/images/subarrays.svg-->
