.schedule-block-details {

    textarea {
        height: 340px;
        width: 340px;
        resize: none;

    }
}

.btn-trash {
    font-size: 14px;
    padding: 4px;
}

.panel-heading-text-drafts {
    text-align: center;
    margin-left: -51px;
    width: 100%;
    font-size: 16px;
}

.schedule-script-text-area {
    width: 100%;
    height: 100%;
    //  max-height: 375;
    border: 0;
    resize: none;
    padding: 0px;
}

.schedule-list {
    z-index: 1;
    position: relative;
    padding: 0;
    margin-bottom: 5px;
    margin-left: 8px;
    //    min-height: 300px;
    overflow: auto;
    height: 375px;

    input {
        width: 100%;
    }
}

.schedule-draft-data-list {
    z-index: 0;
    position: relative;
    padding: 0;
    overflow: auto !important;
    background: white;

    input {
        width: 100%;
    }
}

.schedule-block-id-text {
    font-size: 18px;
    font-weight: bold;
    margin-top: -2px;
    max-width: 130px;
    min-width: 130px;
    width: 130px;
    vertical-align: middle;
}

.schedule-block-name-div {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
    min-width: 160px;
    margin-left: 4px;
    cursor: pointer;

    i {
        position: absolute;
        left: 0;
        padding: 2px;
        font-size: 12px;
        max-width: 100px;
        overflow: hidden;
        margin-top: 18px;
        margin-left: 5px;
    }

    &:hover {
        overflow: visible;
        z-index: 1000;

        i {
            overflow: visible;
        }
    }
}


@item-bg: #FFF;
@item-border-bottom: #d3d3d3;

.selected-resource-item {
    background: #B3E5FC !important;
    border-bottom: 1px solid darken(@item-border-bottom, 10%) !important;
}

.resource-item {
    max-height: 40px;
    padding: 4px;
    min-width: 200px;
    border-bottom: 1px solid darken(@item-border-bottom, 10%);
    overflow: hidden;
    background-color: @item-bg;
    &:hover {
        background-color: darken(@item-bg, 5%);
    }
}

.schedule-draft-item {
    height: 48px;
    max-height: 48px;
    padding: 4px;
    min-width: 800px;
    direction: ltr;
    border-bottom: 1px solid #d3d3d3;
    overflow: hidden;
    &:hover {
        background-color: darken(@item-bg, 5%);
    }
}

.resource-pool-item {
    height: 32px;
    padding: 2px;
    direction: ltr;
    border-bottom: 1px solid #d3d3d3;
    overflow: hidden;
}

.schedule-item {
    height: 48px;
    max-height: 48px;
    border-bottom: 1px solid #d3d3d3;
}

.schedule-item-description-input {
    margin-left: 5px;
    width: 180px;
    margin-top: 4px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid transparent;

    &:hover {
        border-bottom: 1px solid #d3d3d3;
    }
}

.schedule-item-date-input {
    margin-left: 5px;
    margin-top: 4px;
    width: 140px !important;
    background: transparent;
    border: 0;
    margin-right: 3px;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 1px solid #d3d3d3;
    }
}

.schedule-type-dropdown {
    margin-right: 5px;
    width: 150px;
    border: 0;
}

.schedule-item-input {
    height: 32px;
    margin-top: 4px;
}

.schedule-item-input-group {
    margin-left: 35px;
}

.selected-schedule-row {
    background: #B3E5FC !important;
    //    border-left: 2px solid transparent;
    //    border-top: 2px solid transparent;
    //    border-bottom: 2px solid transparent;
}

.schedule-row-executing {
    background: #66BB6A !important;
}

.schedule-row-executing-and-selected {
    background: linear-gradient(to right, rgba(102, 187, 106, 1) 0%, rgba(102, 187, 106, 1) 25%, rgba(179, 229, 252, 0.52) 50%, rgba(179, 229, 252, 0.5) 51%, rgba(179, 229, 252, 1) 75%, rgba(179, 229, 252, 1) 100%)
}

.grid-dropdown {
    left: 0px;
    display: block;
    width: 99%;
    height: 29px;
    padding: 4px 10px;
    background-color: #ffffff;
    background-image: none;
    border-radius: 4px;
}

.datepickerMenu {
    position: fixed;
    z-index: 1000;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    background-color: white;
    margin-top: 5px;
}

.glyphicon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-arrow-left:before {
    content: @fa-var-angle-left;
}

.glyphicon-arrow-right:before {
    content: @fa-var-angle-right;
}

.btn-custom-datetimepicker {
    .btn;
    .btn-default;
    height: 29px;
    padding: 4px 10px;
    width: 99%;
    text-align: left;
    border-color: #A6A6A6;

    .fa {
        position: absolute;
        float: right;
        right: 9px;
        top: 8px;
    }
}

.highlight-script-window-background {
    background-color: #B3E5FC !important;
}

.highlight-script-window {
    background-color: #B3E5FC !important;
}

.highlight-script-window-with-box-shadow {
    background-color: #B3E5FC !important;
    box-shadow: 0px 2px 40px 0 #000;
//    z-index: 0;
//    border-right: 1px solid #d3d3d3 !important;
//    border-bottom: 1px solid #d3d3d3 !important;
//    border-top: 1px solid #d3d3d3 !important;
}

.schedule-block-script-window {
    min-height: 100%;
    padding: 0px;
    background-color: #ECEFF1;
    height: 600px;
    overflow: auto;

    textarea {
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        //        background-color: #ECEFF1;
        padding: 8px;
        border: none;
        resize: none;
    }
}

.schedule-block-resource-window {
    height: 400px;
    padding: 0px;
    background-color: white;
}

.schedule-block-list {
    position: relative;
    margin-top: 4px !important;
    margin-right: 0px !important;
    min-height: 200px;
    //    height: 375px;
    padding: 0 !important;
    height: 100%;
    overflow: auto;
}

.schedule-block-completed-list {
    z-index: 1;
    position: relative;
    padding: 0;
    margin-left: 8px;
    //    margin-bottom: 8px;
    max-height: 275px;
    overflow: hidden;
}

.horizontal-resizer-bar {
    height: 6px;
    margin-left: 8px;
    margin-right: 0px;
    left: 0;
    right: 0;
    background-color: #dfdfdf;
    //    background: linear-gradient(to bottom, rgba(243,243,243,1) 0%,rgba(243,243,243,1) 50%,rgba(204,204,204,1) 100%);
    cursor: row-resize;
}

.horizontal-resizer-bar:hover, .vertical-resizer:hover {
    background-color: #c6c6c6;
}

.scheduler-nav-home-item {
    margin: 32px;
    cursor: pointer;
    height: 320px;
    min-width: 320px;
    max-width: 320px;
    width: 320px;

    &:hover {
        background-color: #F5F5F5;
    }
}

.animate-repeat {
    list-style: none;
    box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: all linear 2s;
    transition: all linear 0.2s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 49px;
}

.animate-repeat-40 {
    list-style: none;
    box-sizing: border-box;
}

.animate-repeat-40.ng-move,
.animate-repeat-40.ng-enter,
.animate-repeat-40.ng-leave {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.animate-repeat-40.ng-leave.ng-leave-active,
.animate-repeat-40.ng-move,
.animate-repeat-40.ng-enter {
    opacity: 0;
    max-height: 0;
}

.animate-repeat-40.ng-leave,
.animate-repeat-40.ng-move.ng-move-active,
.animate-repeat-40.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 40px;
}

.whiteframe-z1-left {
    box-shadow: -6px 6px 5px 0px rgba(0, 0, 0, 0.26);
}

.invalid-date-error {
    border: 1px solid #F44336 !important;
}

/* After the transition this will be the only class remaining */
.slide-in-vertically-panel-content {
    transition: all 0.1s linear;
    max-height: 275px;
    overflow: visible;
}

/* Initial state when showing */
.slide-in-vertically-panel-content.ng-hide-remove {
    max-height: 0px;
    overflow: hidden;
}

/* Will transition towards this state */
.slide-in-vertically-panel-content.ng-hide-add.ng-hide-add-active {
    max-height: 0px;
    overflow: hidden;
}

/* Will transition towards this state */
.slide-in-vertically-panel-content.ng-hide-remove.ng-hide-remove-active {
    max-height: 275px;
    overflow: visible;
}

.confirm-deletion {
    top: 13px;
    left: 14px;
    position: absolute;
    opacity: 1;
    transition: transform 0.2s !important;
}

.confirm-deletion-question {
    top: 12px;
    left: 15px;
    position: absolute;
    //    transform: rotate(180deg);
    transition: transform 0.2s !important;
}

.confirm-deletion-question.ng-hide {
    opacity: 1;
    transform: rotate(-180deg);
}

.confirm-deletion.ng-hide {
    opacity: 1;
    transform: rotate(180deg);
}

.confirm-deletion-question.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    transform: rotate(180deg);
}

.confirm-deletion.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    transform: rotate(180deg);
}

.refresh-schedule-block-lists-button {
    bottom: 0;
    padding: 10px;
//    pointer-events: none;
    position: fixed;
    right: 0;
    white-space: nowrap;
    z-index: 21;
//    will-change: top,left;
}

.sb-row-button {
    float: right;
    width: 49px;
    height: 49px;
    color: #9E9E9E;
    border-radius: 25px;
    background: transparent;
    border: transparent;
    font-size: 18px;
    transition: 0s;

    &:hover {
        color: #212121;
    }
}

.selected-draft-schedule-row {
    background: #B3E5FC !important;
    box-shadow: 1px 2px 10px 0 #393939;
    border-bottom: 1px solid transparent;
}

.subarray-item {
    width: 220px;
    height: 290px;
}

.subarray-container {
    min-width: 1000px;
    margin-bottom: 16px;
    min-height: 290px;
}

.svg-subarray, .svg-receptor, {
    fill: currentColor !important;
    stroke: currentColor !important;
}

.svg-receptor-with-opacity {
    fill: currentColor !important;
}

.subarray_in_maintenance_bg {
    background-color: rgb(94,53,177);
    color: white;
}

.opaque-fade-in {
    opacity: 1.0 !important;
    transition: all linear 0.2s !important;
}

/* Initial state when showing */
.opaque-fade-in.opaque-fade-in-remove {
    opacity: 0.2 !important;
}

/* Will transition towards this state */
.opaque-fade-in.opaque-fade-in-add.opaque-fade-in-active {
    opacity: 1 !important;
}

/* Will transition towards this state */
.opaque-fade-in.opaque-fade-in-remove.opaque-fade-in-remove-active {
    opacity: 0.2 !important;
}
