<div ng-controller="SchedulerHomeCtrl as vm" flex layout="column"
     ng-class="{'connection-lost-bg':vm.connectionLost}" md-theme="{{themePrimary}}">

     <div ng-if="vm.subarrays.length === 0" class="md-whiteframe-z5"
          style="padding: 32px; margin: 32px auto; font-size: 18px"
          layout="row" layout-align="center center">
         <md-progress-circular md-theme="{{themePrimaryButtons}}" md-mode="indeterminate"></md-progress-circular>
         <span style="margin-left: 16px">Loading Subarrays...</span>
     </div>

    <div ng-if="vm.subarrays.length > 0" layout="row" layout-align="center center" md-theme="{{themePrimaryButtons}}"
        style="margin-bottom: 4px; padding: 4px 0 4px 0; min-height: 32px; max-height: 32px"
        class="hover-opacity md-whiteframe-z3">
        <md-button class="thin-nav-button" title="Schedule Block Approved" ng-disabled="vm.currentState() === 'scheduler.drafts'"
            ng-click="vm.stateGo('scheduler.drafts')">
            <span>SB Approved</span>
        </md-button>
        <md-button class="thin-nav-button" title="List of Program Blocks" ng-disabled="vm.currentState() === 'scheduler.program-blocks'"
            ng-click="vm.stateGo('scheduler.program-blocks')">
            <span>Program Blocks</span>
        </md-button>
        <span flex></span>
        <md-button ng-show="vm.subarray" class="md-primary md-raised thin-nav-button" style="margin: 0"
                    ng-click="vm.stateGo('scheduler.resources')" ng-disabled="vm.currentState() === 'scheduler.resources'">
            <span>Set-up Subarray</span>
        </md-button>
        <div ng-show="vm.subarray">
            <span class="fa fa-arrow-right arrow-nav-icon"></span>
            <md-button class="md-primary md-raised thin-nav-button"
                    ng-click="vm.stateGo('scheduler.subarrays')" ng-disabled="vm.currentState() === 'scheduler.subarrays'">
                <span>Manage Schedule Blocks</span>
            </md-button>
        </div>
        <div ng-show="vm.subarray">
            <span class="fa fa-arrow-right arrow-nav-icon"></span>
            <md-button class="md-primary md-raised thin-nav-button"
                    ng-click="vm.stateGo('scheduler.observations.detail')" ng-disabled="vm.currentState() === 'scheduler.observations.detail'">
                <span>Observations</span>
            </md-button>
        </div>
        <md-button ng-show="!vm.subarray" class="md-primary md-raised thin-nav-button"
                   ng-click="vm.stateGo('scheduler')" ng-disabled="vm.currentState() === 'scheduler'">
            <span>Subarrays Workflow</span>
        </md-button>
        <span flex></span>
        <md-button class="thin-nav-button" title="All Subarrays Observations Overview" ng-disabled="vm.currentState() === 'scheduler.observations'"
                    ng-click="vm.stateGo('scheduler.observations')">
            <span>Obs Overview</span>
        </md-button>
    </div>

    <div ng-show="!vm.childStateShowing && vm.subarrays.length > 0" layout="column" layout-align="none center"
         style="margin: 0 8px">
        <div style="padding: 8px">
            <div ng-repeat="subarray in vm.subarrays | orderBy:'id' track by $index" layout="column" layout-align="start center"
                 class="md-whiteframe-z1" style="margin: 12px 0;" md-theme="{{themePrimaryButtons}}">
                <md-toolbar md-theme="{{subarray.state === 'inactive'? 'grey' : subarray.state === 'active'? 'green' : subarray.state === 'error'? 'amber' : 'deep-purple'}}"
                            class="md-whiteframe-z2 md-toolbar-tools-medium" layout="row" layout-align="start center"
                            style="cursor: default"
                            ng-class="{'md-hue-2': subarray.state !== 'inactive'}">
                    <span>SUBARRAY {{subarray.id}} - {{subarray.state}}</span>
                    <span ng-if="subarray.maintenance">{{", in maintenance"}}</span>
                    <span ng-if="subarray.maintenance" title="Subarray is in Maintenance" class="fa fa-wrench" style="position: absolute; right: 8px; top: 12px;"></span>
                    <div layout="row" layout-align="center center" style="position: absolute; padding: 0; top: 0; left: 0; right: 0; font-size: 12px">
                        <span title="Control Authority" style="margin-right: 8px;"><i>CA: </i><b>{{subarray.delegated_ca}}</b></span>
                        <span title="Selected Band" style="margin-right: 8px;"><i>Band: </i><b>{{subarray.band ? subarray.band : 'None'}}</b></span>
                        <span title="Selected User Product" style="margin-right: 8px;"><i>User Product: </i><b>{{subarray.product ? subarray.product : 'None'}}</b></span>
                            <span ng-show="subarray.state === 'active' || subarray.config_label"
                                  title="Config Label"><i>Config Label: </i><b>{{subarray.config_label ? subarray.config_label : 'None'}}</b></span>
                    </div>
                </md-toolbar>
                <div layout="row" layout-align="center center" ng-class="{'maintenance-bg':subarray.maintenance}">
                    <md-button class="md-primary md-raised" ng-click="vm.stateGo('scheduler.resources', subarray.id)"
                               style="height: 79px; width: 225px;">
                        <div ng-include="'images/subarrays-resources.svg'" class="inline-svg-icon" style="top: 6px; left: 2px;"></div>
                        <span style="position: absolute; left: 74px; top: 22px;">Set-up Subarray</span>
                    </md-button>
                    <span class="fa fa-arrow-right arrow-nav-icon-big"></span>
                    <md-button class="md-primary md-raised inline-svg-button" ng-click="vm.stateGo('scheduler.subarrays', subarray.id)"
                               style="height: 79px; width: 290px;" ng-disabled="subarray.state !== 'active'">
                        <div ng-include="'images/scheduleblocks.svg'" class="inline-svg-icon" style="top: 2px; left: 2px;"></div>
                        <span style="position: absolute; left: 86px; top: 22px;">Manage Schedule Blocks</span>
                    </md-button>
                    <span class="fa fa-arrow-right arrow-nav-icon-big"></span>
                    <md-button class="md-primary md-raised" ng-click="vm.stateGo('scheduler.observations.detail', subarray.id)"
                               style="height: 79px; width: 255px;" ng-disabled="subarray.state !== 'active'">
                        <div ng-include="'images/subarray.svg'" class="inline-svg-icon" style="top: 10px; left: 8px;"></div>
                        <span style="position: absolute; left: 74px; top: 22px;">Observations</span>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.childStateShowing && vm.subarrays.length > 0" ui-view flex layout="column"></div>
</div>
