<div flex layout="column" ng-controller="CustomHealthCtrl as vm" style="min-width: 1100px; overflow: auto; margin-top: 4px;">
    <div class="legend-popup" style="background: transparent; pointer-events: none;" layout="row" ng-init="transparentLegend = true"
         ng-class="{'transparent-legend':transparentLegend && !showLegend}">
        <md-button flex style="pointer-events: auto; width: 36px; height: 40px;" md-theme="{{themePrimaryButtons}}" ng-init="showLegend = false" ng-click="showLegend = !showLegend"
                   ng-mouseenter="transparentLegend = false" ng-mouseleave="transparentLegend = true"
                   aria-label="Show Legend" class="md-primary md-raised md-icon-button">
            <md-icon md-theme="white" class="fa md-primary" ng-show="!showLegend" md-font-icon="fa-eye" title="Show Legend"></md-icon>
            <md-icon md-theme="white" class="fa md-primary" ng-show="showLegend" md-font-icon="fa-eye-slash" title="Hide Legend"></md-icon>
        </md-button>
        <div class="md-whiteframe-z3" layout="column" ng-show="showLegend" style="background: white; padding: 8px;">
            <div layout="row" layout-align="start center"><div class="color-patch unknown-child" title="Grey"></div><span>Unknown</span></div>
            <div layout="row" layout-align="start center"><div class="color-patch nominal-child" title="Green"></div><span>Nominal</span></div>
            <div layout="row" layout-align="start center"><div class="color-patch warn-child" title="Amber"></div><span>Warn</span></div>
            <div layout="row" layout-align="start center"><div class="color-patch error-child" title="Red"></div><span>Error</span></div>
            <div layout="row" layout-align="start center"><div class="color-patch failure-child" title="Blue"></div><span>Failure</span></div>
            <div layout="row" layout-align="start center"><div class="color-patch unreachable-child" title="Pink"></div><span>Unreachable</span></div>
            <div layout="row" layout-align="start center"><div class="color-patch inactive-child" title="Black"></div><span>CAM Sensor Error</span></div>
        </div>
    </div>
    <div layout="row" md-theme="{{themePrimaryButtons}}">
        <input type="text" style="width: 600px;" ng-model="vm.regex" placeholder="Enter Regex" ng-init="vm.regex = 'anc:bms_kapb_*'"/>
        <md-button id="btnBuildView" ng-click="vm.buildView(vm.regex)" aria-label="Build View" class="md-primary md-raised" style="font-size: 14px; margin-left: 8px;">Build View</md-button>
    </div>
    <div flex layout="row" style="margin-top: 4px;">
        <status-single-level-tree-map flex layout-mode="dice" style="display: inline-block; margin-left: 4px; margin-right:4px;"
                                      ng-repeat="tree in vm.customStatusTrees" data="tree"
                                      ng-mouseenter="tree.showHideButton = true" ng-mouseleave="tree.showHideButton = false">
            <md-button md-theme="{{themePrimaryButtons}}" class="md-primary md-raised" ng-show="tree.showHideButton"
                       title="Remove Sensors"
                       style="position: absolute; right: 4px; height: 35px; width: 35px;" ng-click="vm.removeStatusTree(tree);">
                <span class="fa fa-eye-slash"></span>
            </md-button>
        </status-single-level-tree-map>
    </div>
    <div class="treemap-tooltip" style="visibility: hidden; background-color: #ffffff"></div>
</div>
