@alarm-error-bg: #e51c23;
@alarm-warning-bg: #ffeb3b;
@alarm-info-bg: #03a9f4;
@alarm-maintenance-bg: #9c27b0;
@alarm-critical-bg: #C51162;
@alarm-unknown-bg: #757575;
@alarm-nominal-bg: #259b24;

.alarms-notify-list {
    overflow: auto;
    position: relative;
    max-height: 100%;
    padding-bottom: 28px;
    cursor: auto;
}

.alarms-notify-collapsed-list {
    max-width: 32px;
    min-width: 32px;
}

.alarm-item-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.large-alarm-item {
    opacity: 1.0;
    min-height: 108px;
    max-height: 108px;
    min-width: 480px;
    max-width: 480px;
    overflow: hidden;
    margin: 4px 0;

    span {
        overflow: hidden;
    }

    .severitystamp {
        font-weight: bold;
    }

    .alarm-message-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        overflow: hidden;
        font-size: 28px;
    }

    .alarm-message {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        overflow: hidden;
        font-size: 16px;
    }
}

.small-alarm-item {
    opacity: 1.0;
    min-width: 280px;
    max-width: 280px;
    min-height: 68px;
    max-height: 68px;
    margin: 0 4px;

    .datestamp {
        display: none;
    }

    .timestamp {
        display: none;
    }

    .severitystamp {
        display: none;
    }

    .alarm-message {
        display: none;
    }

    .alarm-message-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        overflow: hidden;
        font-size: 24px;
        padding-top: 12px;
    }
}

.alarm-styles(@color, @textColor) {
    background-color: @color;
    color: @textColor;
}

.alarm-critical {
    .alarm-styles(@alarm-critical-bg, white);
}

.alarm-info {
    .alarm-styles(@alarm-info-bg, white);
}

.alarm-error {
    .alarm-styles(@alarm-error-bg, white);
}

.alarm-nominal {
    .alarm-styles(@alarm-nominal-bg, white);
}

.alarm-maintenance {
    .alarm-styles(@alarm-maintenance-bg, white);
}

.alarm-warning {
    .alarm-styles(@alarm-warning-bg, black);
}

.alarm-unknown {
    .alarm-styles(@alarm-unknown-bg, white);
}

.alarm-item {
    padding: 3px;
    margin-top: 2px;
    border: none;
    border-radius: 2px;
    pointer-events: auto;
}

.alarm-close {
    float: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.4;
    text-transform: uppercase;
    background: transparent;
    border: 0;

    &:hover,
    &focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.8;
    }
}

.alarm-close {
    font-size: 14px;
    padding: 2px;
}

ul {
    // float: right;
    list-style: none;

    .li-inline {
        display: inline;
    }
}

.alarms-buttons {
    button {
        margin-right: 6px;
        font-size: 14px;
    }
}

.alarms-list-large {
    //    min-height: 480px;
    //    min-width: 940px;
    //    height: 100%;
}

.alarms-list-small {
    min-height: 250px;
    height: 100%;
}

.background-div {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.alarms-list {
    min-height: 300px;
    overflow: auto;

    .alarms-list-item-content {
        margin-top: 2px;
        padding: 2px;
        cursor: pointer;
        z-index: 10;
    }

    .alarm-list-item-badge-warn {
        background: @alarm-warning-bg;
        color: black;
    }

    .alarm-list-item-badge-error {
        background: @alarm-error-bg;
        color: white;
    }

    .alarm-list-item-badge-critical {
        background: @alarm-critical-bg;
        color: white;
    }

    .alarm-list-item-badge-maintenance {
        background: @alarm-maintenance-bg;
        color: white;
    }

    .alarm-list-item-badge-nominal {
        background: @alarm-nominal-bg;
        color: white;
    }

    .alarm-list-item-badge-unknown {
        background: @alarm-unknown-bg;
        color: white;
    }

    .selected-alarm-list-item {
        background-color: rgba(179, 229, 252, 0.2);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .selected-alarm-list-item-color {
        color: #000;
        opacity: 1.0;
        font-style: italic;
    }

    .alarms-list-item-icon {
        cursor: pointer;
        width: 60px;
        font-size: 20px;
        z-index: 1;
        text-align: center;
    }
}

.alarms-tools-checkbox {
    // font-size: 12px;
}

.alarm-badge {
    position: absolute;
    right: 0;
    color: black;
    .avoid-clicks;
}

.alarm-badge-warn {
    top: 2px;
    background-color: #ffeb3b;
}

.alarm-badge-error {
    top: 20px;
    color: white;
    background-color: @alarm-error-bg;
}

.alarm-badge-crit {
    top: 38px;
    background: @alarm-critical-bg;
    color: white;
}

.large-alarms-animate {
    -webkit-transition: 0.1s linear width, 0.1s linear height;
    transition: 0.1s linear width, 0.1s linear height;
}

.alarm-row-item {
    border-bottom: 1px solid #d7d7d7;
    padding-left: 4px;
    padding-right: 4px;
    height: 32px;
    position: relative;
}
