@alarm-error-bg: #ff9800;
@alarm-warning-bg: #ffeb3b;
@alarm-info-bg: #03a9f4;
@alarm-maintenance-bg: #9c27b0;
@alarm-critical-bg: #e51c23;
@alarm-unknown-bg: #607d8b;

.large-alarm {
  position: fixed;
  top: 64px;
  right: 2px;
  float: right;
  width: 400px;
  overflow: auto;
  opacity: 0.95;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 1000;

  span {
    overflow: hidden;
  }

  .severitystamp {
    font-weight: bold;
  }


  .alarm-message-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
    font-size: 28px;
  }

  .alarm-message {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
    font-size: 16px;
  }
}

.small-alarm {
  position: fixed;
  top: 64px;
  right: 2px;
  float: right;
  width: 280px;
//  height: 60px;
  overflow: auto;
  opacity: 0.95;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 1000;

  .datestamp {
   display: none;
  }

  .timestamp {
    display: none;
  }

  .severitystamp {
    display: none;
  }

  .alarm-message {
    display: none;
  }

  .alarm-message-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
    font-size: 24px;
  }
}

.alarm-styles(@color, @textColor) {
  background-color: @color;
  color: @textColor;
}

// Apply the mixin to the alarms
.alarm-critical    { .alarm-glowing-critical }
.alarm-error       { .alarm-glowing-error }
.alarm-info        { .alarm-styles(@alarm-info-bg, white); }
.alarm-nominal     { .alarm-styles(@alarm-info-bg, white); }
.alarm-maintenance { .alarm-styles(@alarm-maintenance-bg, white); }
.alarm-warning     { .alarm-styles(@alarm-warning-bg, black); }
.alarm-unknown     { .alarm-styles(@alarm-unknown-bg, white); }

.alarm-item {
  padding: 3px;
  margin-top: 2px;
  border: none;
  border-radius: 2px;
  pointer-events: auto;
}

@-webkit-keyframes glowing-error {
  0% { background-color: #ff9800; }
  50% { background-color: #e65100; }
  100% { background-color: #ff9800; }
}

@keyframes glowing-error {
  0% { background-color: #ff9800; }
  50% { background-color: #e65100; }
  100% { background-color: #ff9800; }
}

.alarm-glowing-error {
//  -webkit-animation: glowing-error 1s;
//  animation: glowing-error 1s;
//  -webkit-animation-iteration-count: 10;
//  animation-iteration-count: 10;
  background-color: @alarm-error-bg;
  color: black;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

@-webkit-keyframes glowing-critical {
  0% { background-color: #e51c23; }
  50% { background-color: #b0120a; }
  100% { background-color: #e51c23; }
}

@keyframes glowing-critical {
  0% { background-color: #e51c23; }
  50% { background-color: #b0120a; }
  100% { background-color: #e51c23; }
}

.alarm-glowing-critical {
//  -webkit-animation: glowing-critical 1s;
//  animation: glowing-critical 1s;
//  -webkit-animation-iteration-count: 10;
//  animation-iteration-count: 10;
  border: none;
  background-color: @alarm-critical-bg;
  color: white;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.alarm-close {
  float: right;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .4;

  &:hover, &focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .8;
  }
}

button.alarm-close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

ul {
  float: right;
  list-style: none;

  .li-inline {
    display: inline;
  }
}

.alarmsGridStyle {
  border: 1px solid rgb(212,212,212);
  height: 600px;
}

.alarms-buttons {

  material-button {
    width: 10em;
    margin-right: 10px;
  }

}





