<div class="view-container" ng-controller="AlarmsCtrl">

    <div class="material-whiteframe-z1">
        <material-toolbar class="panel-toolbar">
            <div class="material-toolbar-tools">
                <span>Alarms</span>
            </div>
        </material-toolbar>
        <section layout="horizontal" layout-align="center center" class="panel-body alarms-buttons">
            <material-button class="material-button-raised material-button-colored">Known</material-button>
            <material-button class="material-button-raised material-button-colored">Acknowledge</material-button>
            <material-button class="material-button-raised material-button-colored">Clear</material-button>
            <material-button class="material-button-raised material-button-colored">Something</material-button>
            <material-button class="material-button-raised material-button-colored">Another thing</material-button>
            <material-checkbox ng-model="showLargeAlarms" aria-label="Show Detailed Alarms">Show Detailed Alarms</material-checkbox>
        </section>

        <div class="alarmsGridStyle" ng-grid="gridOptionsAlarms"></div>

        <!--<div ng-if="alarmsData.length === 0"><h3 style="width: 100%; text-align: center;">Could not retrieve alarms</h3></div>-->

    </div>
</div>
