.panel-landing-controls-large {
  text-align: center;
  > button {
    width: 180px;
    height: 80px;
    white-space: normal;
    background: @button-background-gradient;
  }
}

.panel-landing-controls-medium {
  text-align: center;
  > button {
    width: 120px;
    height: 60px;
    white-space: normal;
    background: @button-background-gradient;
  }
}

.panel-landing-controls-small {
  text-align: center;
  > button {
    width: 100px;
    height: 60px;
    white-space: normal;
    background: @button-background-gradient;
  }
}

.btn-delete-dashboard-pref {
  float: right;
  margin-left: 5px;
  margin-right: -5px;
  margin-top: -2px;
}