<!-- <div ng-controller="ProcessControlCtrl as vm" layout="column" layout-wrap layout-align="start start"> -->
<div ng-controller="ProcessControlCtrl as vm">
    <div flex class="overlay-progress-circular" layout="row" layout-align="center center" ng-if="vm.showProgress">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-repeat="nmKey in $root.objectKeys(vm.nodemans) | orderBy:vm.sortNodemans track by nmKey" class="nm-process-list-container">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-tools-medium" layout="row" layout-align="start center"
          ng-init="vm[nmKey + 'showDetails'] = true">
            <span flex ng-init="vm[nmKey + 'showProcList'] = true" ng-click="vm[nmKey + 'showProcList'] = !vm[nmKey + 'showProcList']">
              {{nmKey | uppercase}} Processes
          </span>

            <md-button ng-click="vm.collapseAll(nmKey)" title="Collapse All" class="inline-action-button no-margin-no-padding">
                <i class="fa fa-minus-square-o"></i>
            </md-button>
            <md-button ng-click="vm.expandAll(nmKey)" title="Expand All" class="inline-action-button no-margin-no-padding">
                <i class="fa fa-plus-square-o"></i>
            </md-button>
        </md-toolbar>

        <div class="md-whiteframe-z1" md-theme="{{themePrimaryButtons}}" ng-show="vm[nmKey + 'showProcList']">
            <div ng-repeat="process in vm.nodemans[nmKey].processes | orderBy:'name'" class="process-control-container"
                ng-click="vm.toggleProcessDetail(process)">
                <div flex role="heading" class="process-control-bg-transition md-whiteframe-z1"
                  style="padding: 2px; cursor: pointer" layout="row" layout-align="start center" ng-class="{'bg-light-grey-0-3': vm.sensorValues[process.runningSensor].showDetail}">
                    <span ng-class="{'green-color': vm.sensorValues[process.runningSensor].value, 'red-color': !vm.sensorValues[process.runningSensor].value}"
                        style="width: 160px; margin: 0;"><b>{{process.name | uppercase}}</b></span>

                    <div layout="row" style="position: absolute; right: 0; top: 0">
                        <span class="icon-button fa fa-external-link" md-ink-ripple title="Navigate to logtrail"
                            ng-click="vm.navigateToLogtrail(process); $event.stopPropagation()"></span>
                        <span class="icon-button fa fa-th-list" md-ink-ripple title="Navigate to sensor list"
                            ng-click="vm.navigateToSensorList(process); $event.stopPropagation()"></span>
                        <span class="icon-button fa fa-file-text-o" md-ink-ripple title="Tail last 30 lines of process log"
                            ng-click="vm.tailProcess(nmKey, process); $event.stopPropagation()"></span>
                        <span class="icon-button fa fa-play" md-ink-ripple ng-show="$root.expertOrLO && !vm.sensorValues[process.runningSensor].value"
                            title="Restart Process" ng-click="vm.startProcess(nmKey, process); $event.stopPropagation()"></span>
                        <span class="icon-button fa fa-refresh" md-ink-ripple ng-show="$root.expertOrLO && vm.sensorValues[process.runningSensor].value"
                            title="Restart Process" ng-click="vm.restartProcess(nmKey, process); $event.stopPropagation()"></span>
                        <span class="icon-button fa fa-remove" md-ink-ripple ng-show="$root.expertOrLO && vm.sensorValues[process.runningSensor].value"
                            title="Kill Process" ng-click="vm.killProcess(nmKey, process); $event.stopPropagation()"></span>
                        <span class="icon-button fa fa-stop" md-ink-ripple ng-show="$root.expertOrLO && vm.sensorValues[process.runningSensor].value"
                            title="Stop Process" ng-click="vm.stopProcess(nmKey, process); $event.stopPropagation()"></span>
                    </div>
                </div>
                <div ng-if="vm.sensorValues[process.runningSensor].showDetail" style="cursor: auto" ng-click="$event.stopPropagation()">
                    <div ng-repeat="sensor in process.sensors | orderBy:'name'" style="margin: 4px;">
                        <span>{{sensor.shortName}}: <b style="word-break: break-all">{{sensor.value}}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
