<div flex ng-controller="ReceptorPointingCtrl as vm" layout="column" style="position: relative; overflow: hidden"
     ng-class="{'connection-lost-bg':vm.connectionLost}">

    <md-menu md-theme="{{themePrimaryButtons}}" style="margin: 0; position: absolute; right: 8px; top: 120px;">
        <md-button class="md-icon-button inline-action-button" ng-click="$root.openMenu($mdOpenMenu, $event, 'pointing-menu-content')">
            <md-icon md-menu-origin class="fa" md-font-icon="fa-ellipsis-v"></md-icon>
        </md-button>
        <md-menu-content width="4" style="padding-left: 16px;" id="pointing-menu-content" md-menu-disable-close>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.useEquatorial" ng-init="vm.useEquatorial = true" ng-change="vm.redraw(true)"
                    ng-click="vm.delaydRedrawAfterViewChange()">
                    <span>Use Equatorial Coordinates</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showReceptorStates" ng-init="vm.showReceptorStates = true">
                    <span>Show Receptor States</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showNames" ng-change="vm.redraw(false)"
                             ng-init="vm.showNames = true">
                    <span>Show Names</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showTrails" ng-change="vm.redraw(false)">
                    <span>Show Trails</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item ng-show="vm.showTrails">
                <div layout="row" layout-align="start center"
                     style="margin-left: 24px; margin-right: 8px; margin-bottom: 8px;">
                    <label style="width: 65px; font-weight: normal; margin-top: 4px;">Trail Dots:</label>
                    <md-input-container md-no-float style="margin-left: 8px;text-align: start; padding: 0;"
                                        class="md-primary" title="Set the desired trail dots">
                        <input flex style="" placeholder="Minimum" ng-model="vm.trailDots" ng-init="vm.trailDots = 30"
                               ng-change="vm.redraw(false)" type="number" ng-model-options="{ debounce: 300 }"
                               step="5" max="100" min="1">
                    </md-input-container>
                </div>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showGridLines" ng-change="vm.redraw(false)"
                             ng-init="vm.showGridLines = true">
                    <span>Show Gridlines</span>
                </md-checkbox>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <div flex layout="column" style="overflow: hidden; margin-top: 8px;">
        <div style="height: 90px; margin-bottom: 12px" ng-show="vm.showReceptorStates">
            <div ng-repeat="receptor in vm.receptorsData | filter:{'skyPlot':false} track by $index"
                 class="{{receptor.name + '_actual receptor-legend-item md-whiteframe-z1 unselectable'}}"
                 ng-click="vm.toggleHorizonMask(receptor)" title="{{'Click to toggle the horizon mask for ' + receptor.name}}"
                 style="overflow: visible; display: inline-block" ng-class="{'border-black-2px': receptor.showHorizonMask}"
                 ng-mouseenter="vm.receptorHoverName=receptor.name" ng-mouseleave="vm.receptorHoverName=''">
                <div class="receptor-legend-item-text">{{receptor.name}}</div>
                <span ng-show="vm.sensorValues[receptor.name + '_mode'].value === 'POINT'" class="pointing-showing">P</span>
                <span ng-show="vm.sensorValues[receptor.name + '_lock'].value" class="fa fa-asterisk on-target-span"
                      title="AP on Target"></span>
                <span ng-show="vm.sensorValues[receptor.name + '_inhibited'].value" class="fa fa-ban inhibited-showing"
                      title="Inhibited"></span>
                <span ng-show="vm.sensorValues[receptor.name + '_mode'].value === 'STOW'" class="fa fa-dot-circle-o stow-showing"
                      title="Stowed"></span>
            </div>
        </div>
        <receptor-pointing-equatorial ng-if="vm.useEquatorial" flex style="overflow: hidden"
                                      redraw-function="vm.redrawChart"></receptor-pointing-equatorial>
        <receptor-pointing-horizontal ng-if="!vm.useEquatorial" flex style="overflow: hidden"
                                      redraw-function="vm.redrawChart"></receptor-pointing-horizontal>
    </div>

    <div ng-init="vm.showSkyPlotOptions = false" class="md-whiteframe-z3 sky-plot-options-containter" layout="column"
         style="margin-bottom: 8px; position: absolute; left: 6px; bottom: 0;">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-tools-medium">
            <span flex>Sky Plot Options</span>
            <md-button title="Clear Sky Plot" class="md-icon-button inline-action-button" style="margin: 0"
                       ng-click="vm.showSkyPlotOptions = !vm.showSkyPlotOptions; vm.showSkyPlotOptions? vm.getSources() : 0">
                <md-icon ng-show="vm.showSkyPlotOptions" class="fa" md-font-icon="fa-eye-slash"></md-icon>
                <md-icon ng-show="!vm.showSkyPlotOptions" class="fa" md-font-icon="fa-eye"></md-icon>
            </md-button>
        </md-toolbar>
        <div ng-show="vm.showSkyPlotOptions" layout="column" layout-padding md-theme='{{themePrimaryButtons}}' style="padding: 8px;">
            <md-select ng-disabled="vm.targets.length === 0" placeholder="Select A Filter" ng-model="vm.selectedFilter" style="width: 180px" ng-change="vm.filterChanged(vm.selectedFilter)">
                <md-option value="''">None</md-option>
                <md-option ng-repeat="filter in $root.objectKeys(vm.filters) track by $index">{{filter}}</md-option>
            </md-select>
            <md-select ng-disabled="vm.targets.length === 0" placeholder="Select A Target" ng-model="vm.selectedTarget" style="width: 180px">
                <md-option ng-repeat="target in vm.targetsToDisplay | orderBy:target track by $index">{{target}}</md-option>
            </md-select>
            <md-button ng-disabled="!vm.selectedTarget || vm.targets.length === 0" class="md-primary md-raised" style="margin: 2px" ng-click="vm.drawSkyPlot(false)">
                Draw Selection
            </md-button>
            <md-button ng-disabled="vm.targets.length === 0" class="md-primary md-raised" style="margin: 2px" ng-click="vm.drawSkyPlot(true)">
                Draw All
            </md-button>
            <md-button ng-disabled="vm.targets.length === 0" class="md-primary md-raised" style="margin: 2px" ng-click="vm.clearSkyPlot()">
                Clear Sky Plot
            </md-button>
        </div>
    </div>
    <div class="md-whiteframe-z3 receptor-pointing-tooltip-top" ng-show="vm.receptorHoverName.length > 0"
         style="top: 120px; left: 8px; min-width: 268px"
         layout="column" layout-align="start">
        <span ng-if="vm.receptorHoverName.length > 0" class="{{vm.receptorHoverName+ '_actual'}}" style="width: 100%; text-align: center"><b>{{vm.receptorHoverName}}</b></span>
        <span>azim: <b>{{vm.sensorValues[vm.receptorHoverName + '_pos_actual_pointm_azim'].value | number:2}}</b>, elev: <b>{{vm.sensorValues[vm.receptorHoverName + '_pos_actual_pointm_elev'].value | number:2}}</b></span>
        <span>azim: <b>{{vm.sensorValues[vm.receptorHoverName + '_requested_azim'].value | number:2}}</b>, elev: <b>{{vm.sensorValues[vm.receptorHoverName + '_requested_elev'].value | number:2}}</b> (requested)</span>
        <span>ra: <b>{{vm.sensorValues[vm.receptorHoverName + '_pos_request_base_ra'].value | number:2}}</b>, dec: <b>{{vm.sensorValues[vm.receptorHoverName + '_pos_request_base_dec'].value | number:2}}</b> (requested)</span>
        <span>Delta sky: <b>{{vm.sensorValues[vm.receptorHoverName + '_pos_delta_sky'].value | number:2}}</b></span>
        <span>Delta azim: <b>{{vm.sensorValues[vm.receptorHoverName + '_pos_delta_azim'].value | number:2}}</b>, Delta elev: <b>{{vm.sensorValues[vm.receptorHoverName + '_pos_delta_elev'].value | number:2}}</b></span>
        <span>Target: <b>{{vm.sensorValues[vm.receptorHoverName + '_target'].value}}</b></span>
        <span>Lock: <b>{{vm.sensorValues[vm.receptorHoverName + '_lock'].value}}</b></span>
        <span>Mode: <b>{{vm.sensorValues[vm.receptorHoverName + '_mode'].value}}</b></span>
        <span>Inhibited: <b>{{vm.sensorValues[vm.receptorHoverName + '_inhibited'].value}}</b></span>
        <span>Windstow Active: <b>{{vm.sensorValues[vm.receptorHoverName + '_windstow_active'].value}}</b></span>
        <span>Subarray: <b>{{vm.sensorValues[vm.receptorHoverName + '_sub_nr'].value}}</b></span>
    </div>
</div>
