<div flex ng-controller="ReceptorPointingCtrl as vm" layout="column" style="position: relative; overflow: hidden"
     ng-class="{'connection-lost-bg':!$root.connectedToMonitor}">

     <style id="unlocked">
       .unlocked {
         min-height: 35px;
         background-color:#ffffff00;
         border: 5px solid;
       }
     </style>

    <md-menu md-theme="{{themePrimaryButtons}}" style="margin: 0; position: absolute; right: 8px; top: 120px;">
        <md-button class="md-icon-button inline-action-button" ng-click="$root.openMenu($mdOpenMenu, $event, 'pointing-menu-content')">
            <md-icon md-menu-origin class="fa" md-font-icon="fa-ellipsis-v"></md-icon>
        </md-button>
        <md-menu-content width="4" style="padding-left: 16px;" id="pointing-menu-content" md-menu-disable-close>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.usePolar" ng-init="vm.usePolar = true" ng-change="vm.redraw(true)"
                    ng-click="vm.delayedRedrawAfterViewChange()">
                    <span>Use Polar Coordinates</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showReceptorStates" ng-init="vm.showReceptorStates = true">
                    <span>Show Receptor States</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showNames" ng-change="vm.redraw(false)"
                             ng-init="vm.showNames = true">
                    <span>Show Names</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showTrails" ng-change="vm.redraw(false)">
                    <span>Show Trails</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showGridLines" ng-change="vm.redraw(false)"
                             ng-init="vm.showGridLines = true">
                    <span>Show Gridlines</span>
                </md-checkbox>
            </md-menu-item>

            <md-menu-item>
              <span style='padding-left:0; padding-right:10px;'>
                  Elevation Zoom (&#176)</span>
              <md-slider md-discrete ng-model="vm.selectedMinElevation"
                  style='padding-right:5px; padding-right:15px'
                  step="5" min="0" max="80" ng-change="vm.redraw(false)"">
              </md-slider>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <div flex layout="column" style="overflow: hidden; margin-top: 8px;">
        <div style="height: 90px; margin-bottom: 12px" ng-show="vm.showReceptorStates">
            <!-- <div ng-repeat="(receptorName, receptor) in vm.receptorsData | filter:{'skyPlot':false} track by $index" -->
            <div ng-repeat="(receptorName, receptor) in vm.receptors"
                 class="{{vm.receptors[receptorName]['class_names']}}"
                 ng-click="vm.toggleHorizonMask(receptor)" title="{{'Click to toggle the horizon mask for ' + receptorName}}"
                 style="overflow: visible; display: inline-block" ng-class="{'border-black-2px': receptor.showHorizonMask}"
                 ng-mouseenter="vm.receptorHoverName=receptorName">
                <div class="receptor-legend-item-text">{{receptorName}}</div>
                <span ng-show="vm.receptors[receptorName].mode.value === 'POINT'" class="pointing-showing">P</span>
                <span ng-show="vm.receptors[receptorName].lock.value" class="fa fa-asterisk on-target-span"
                      title="AP on Target"></span>
                <span ng-show="vm.receptors[receptorName].inhibited.value" class="fa fa-ban inhibited-showing"
                      title="Inhibited"></span>
                <span ng-show="vm.receptors[receptorName].mode.value === 'STOW'" class="fa fa-dot-circle-o stow-showing"
                      title="Stowed"></span>
            </div>
        </div>
        <receptor-pointing-polar ng-if="vm.usePolar" flex style="overflow: hidden"
                                      redraw-function="vm.redrawChart"></receptor-pointing-polar>
        <receptor-pointing-horizontal ng-if="!vm.usePolar" flex style="overflow: hidden"
                                      redraw-function="vm.redrawChart"></receptor-pointing-horizontal>
    </div>

    <div ng-init="vm.showSkyPlotOptions = false" class="md-whiteframe-z3 sky-plot-options-containter" layout="column"
         style="margin-bottom: 8px; position: absolute; left: 6px; bottom: 0;">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-tools-medium">
            <span flex>Sky Plot Options</span>
            <md-button title="Clear Sky Plot" class="md-icon-button inline-action-button" style="margin: 0"
                       ng-click="vm.showSkyPlotOptions = !vm.showSkyPlotOptions; vm.showSkyPlotOptions? vm.getSources() : 0">
                <md-icon ng-show="vm.showSkyPlotOptions" class="fa" md-font-icon="fa-eye-slash"></md-icon>
                <md-icon ng-show="!vm.showSkyPlotOptions" class="fa" md-font-icon="fa-eye"></md-icon>
            </md-button>
        </md-toolbar>
        <div ng-show="vm.showSkyPlotOptions" layout="column" layout-padding md-theme='{{themePrimaryButtons}}' style="padding: 8px;">
            <md-select ng-disabled="vm.targets.length === 0" placeholder="Select A Filter" ng-model="vm.selectedFilter" style="width: 180px" ng-change="vm.filterChanged(vm.selectedFilter)">
                <md-option value="''">None</md-option>
                <md-option ng-repeat="filter in $root.objectKeys(vm.filters) track by $index">{{filter}}</md-option>
            </md-select>
            <md-select ng-disabled="vm.targets.length === 0" placeholder="Select A Target" ng-model="vm.selectedTarget" style="width: 180px">
                <md-option ng-repeat="target in vm.targetsToDisplay | orderBy:target track by $index">{{target}}</md-option>
            </md-select>
            <md-button ng-disabled="!vm.selectedTarget || vm.targets.length === 0" class="md-primary md-raised" style="margin: 2px" ng-click="vm.drawSkyPlot(false)">
                Draw Selection
            </md-button>
            <md-button ng-disabled="vm.targets.length === 0" class="md-primary md-raised" style="margin: 2px" ng-click="vm.drawSkyPlot(true)">
                Draw All
            </md-button>
            <md-button ng-disabled="vm.targets.length === 0" class="md-primary md-raised" style="margin: 2px" ng-click="vm.clearSkyPlot()">
                Clear Sky Plot
            </md-button>
        </div>
    </div>
    <div class="md-whiteframe-z3 receptor-pointing-tooltip-top" ng-show="vm.receptorHoverName.length > 0"
         style="top: 120px; left: 8px; min-width: 268px"
         layout="column" layout-align="start">
        <div>
          <span ng-if="vm.receptorHoverName.length > 0" class="{{vm.receptorHoverName+ '_actual'}}"
            style="width: 250px; text-align: center; float: left">
            <b>{{vm.receptorHoverName}}</b>
          </span>
          <i class="fa fa-times-circle close-receptor-info" title='close'
            ng-click="vm.receptorHoverName=''"></i>
        </div>

        <span>azim: <b>{{vm.receptors[vm.receptorHoverName].pos_actual_pointm_azim.value | number:2}}</b>, elev: <b>{{vm.receptors[vm.receptorHoverName].pos_actual_pointm_elev.value | number:2}}</b></span>
        <span>azim: <b>{{vm.receptors[vm.receptorHoverName].pos_request_pointm_azim.value | number:2}}</b>, elev: <b>{{vm.receptors[vm.receptorHoverName].pos_request_pointm_elev.value | number:2}}</b> (requested)</span>
        <span>ra: <b>{{vm.receptors[vm.receptorHoverName].pos_request_base_ra.value | number:2}}</b>, dec: <b>{{vm.receptors[vm.receptorHoverName].pos_request_base_dec.value | number:2}}</b> (requested)</span>
        <span>Delta sky: <b>{{vm.receptors[vm.receptorHoverName].pos_delta_sky.value | number:2}}</b></span>
        <span>Delta azim: <b>{{vm.receptors[vm.receptorHoverName].pos_delta_azim.value | number:2}}</b>, Delta elev: <b>{{vm.receptors[vm.receptorHoverName].pos_delta_elev.value | number:2}}</b></span>
        <span>Target: <b>{{vm.receptors[vm.receptorHoverName].target.value}}</b></span>
        <span>Lock: <b>{{vm.receptors[vm.receptorHoverName].lock.value}}</b></span>
        <span>Mode: <b>{{vm.receptors[vm.receptorHoverName].mode.value}}</b></span>
        <span>Inhibited: <b>{{vm.receptors[vm.receptorHoverName].inhibited.value}}</b></span>
        <span>Windstow Active: <b>{{vm.receptors[vm.receptorHoverName].windstow_active.value}}</b></span>
        <span>Subarray: <b>{{vm.receptors[vm.receptorHoverName].sub_nr}}</b></span>
    </div>

    <div class="legend-popup" style="background: transparent; pointer-events: none;" layout="row" ng-init="transparentLegend = true" ng-class="{'transparent-legend':transparentLegend && !showLegend}">
        <md-button style="pointer-events: auto;" md-theme="{{themePrimaryButtons}}" ng-init="showLegend = false" ng-click="showLegend = !showLegend" ng-mouseenter="transparentLegend = false"
          ng-mouseleave="transparentLegend = true" class="md-primary md-raised md-icon-button">
            <span md-theme="white" class="fa fa-eye" ng-show="showLegend" title="Show Legend"></span>
            <span md-theme="white" class="fa fa-eye-slash" ng-show="!showLegend" title="Hide Legend"></span>
        </md-button>

        <div class="md-whiteframe-z3 position-legend" layout="column" ng-show="showLegend" style="background: white; padding: 8px;">
            <div layout="row" layout-align="start center">
                <i class="fa fa-times receptor-requested-target-element"></i>
                <span>Requested Position</span>
            </div>

            <div layout="row" layout-align="start center" ng-repeat="sub in vm.subarrayNrs">
                <div class="subarrayColor" ng-style="{'background-color':'{{vm.subarrayColors(sub)}}'}"></div>
                <span>Actual Position (Subarray #{{sub}})</span>
            </div>
            <div layout="row" layout-align="start center">
                <div class="circle-receptor" ></div><span>Actual Position (Unallocated)</span>
            </div>
        </div>
    </div>
</div>
