<div flex ng-controller="ReceptorPointingCtrl as vm" layout="column" style="position: relative;">

    <md-menu md-theme="{{themePrimaryButtons}}" style="margin: 0; position: absolute; right: 8px; top: 8px;">
        <md-button class="md-icon-button inline-action-button" ng-click="$mdOpenMenu()">
            <md-icon class="fa" md-font-icon="fa-ellipsis-v"></md-icon>
        </md-button>
        <md-menu-content width="4" style="padding-left: 16px;">
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.useEquatorial" ng-init="vm.useEquatorial = true"
                    ng-click="$event.stopPropagation()">
                    <span>Use Equatorial Coordinates</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showReceptorStates" ng-init="vm.showReceptorStates = true"
                             ng-click="$event.stopPropagation()">
                    <span>Show Receptor States</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showNames" ng-change="vm.redraw(false)"
                             ng-init="vm.showNames = false" ng-click="$event.stopPropagation()">
                    <span>Show Names</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showTrails" ng-change="vm.redraw(false)"
                             ng-click="$event.stopPropagation()">
                    <span>Show Trails</span>
                </md-checkbox>
            </md-menu-item>
            <md-menu-item ng-show="vm.showTrails">
                <div layout="row" layout-align="start center"
                     style="margin-left: 24px; margin-right: 8px; margin-bottom: 8px;" ng-click="$event.stopPropagation()">
                    <label style="width: 65px; font-weight: normal; margin-top: 4px;">Trail Dots:</label>
                    <md-input-container md-no-float style="margin-left: 8px;text-align: start; padding: 0px;"
                                        class="md-primary" title="Set the desired trail dots">
                        <input flex style="" placeholder="Minimum" ng-model="vm.trailDots" ng-init="vm.trailDots = 30"
                               ng-change="vm.redraw(false)" type="number" ng-model-options="{ debounce: 300 }"
                               step="5" max="100" min="1">
                    </md-input-container>
                </div>
            </md-menu-item>
            <md-menu-item>
                <md-checkbox class="md-primary" ng-model="vm.showGridLines" ng-change="vm.redraw(false)"
                             ng-init="vm.showGridLines = true" ng-click="$event.stopPropagation()">
                    <span>Show Gridlines</span>
                </md-checkbox>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <div flex layout="column">
        <div layout="row" layout-align="center center" style="overflow: auto; height: 90px;"
             ng-show="vm.showReceptorStates">
            <div ng-repeat="receptor in vm.receptorsData"
                 class="{{receptor.name + '_actual receptor-legend-item md-whiteframe-z1 unselectable'}}"
                 layout="column" layout-align="center center" ng-click="vm.toggleHorizonMask(receptor)"
                 title="{{'Click to toggle the horizon mask for ' + receptor.name}}">
                <span>
                    {{receptor.name}}
                </span>
                <span ng-show="!receptor.windstow_active.value">{{receptor.mode.value}}</span>
                <span ng-show="receptor.windstow_active.value">WINDSTOW</span>
                <span style="width: 100%; text-align: center;"
                      class="inhibited-item" ng-show="receptor.inhibited.value">INHIBIT</span>
                <span ng-show="receptor.lock.value" class="fa fa-asterisk on-target-span"
                      title="AP on Target"></span>
                <span ng-show="receptor.showHorizonMask" class="fa fa-area-chart horizon-mask-showing"
                      title="Showing Horizon Mask"></span>
            </div>
        </div>
        <receptor-pointing-equatorial ng-if="vm.useEquatorial" flex
                                      redraw-function="vm.redrawChart"></receptor-pointing-equatorial>
        <receptor-pointing-horizontal ng-if="!vm.useEquatorial" flex
                                      redraw-function="vm.redrawChart"></receptor-pointing-horizontal>
    </div>
</div>
