<div flex layout="column" style="padding: 8px" md-theme="{{$root.themePrimary}}">
    <md-toolbar style="margin-top: 8px" class="md-whiteframe-z1 md-toolbar-tools"
        layout="row" layout-align="center center">
        <input class="fade-in search-input-box" type="search" ng-model-options="{ debounce: 300 }" ng-model="vm.q"
            placeholder="Search Program Blocks..." style="position: absolute; right: 4px; top: 4px; width: 200px; min-width: 200px"/>
        <div ng-include="'app/scheduler/templates/pb-view-header.html'"></div>
    </md-toolbar>
    <md-virtual-repeat-container flex class="md-whiteframe-z1" md-theme="{{$root.themePrimaryButtons}}">
        <div md-virtual-repeat="pb in vm.programBlocks | regexSearch:vm.pbsOrderByFields:vm.q | orderBy:vm.pbsOrderBy.value:vm.pbsOrderBy.reverse" class="pb-view-item" layout="row" ng-init="pb.showSBList = false"
            layout-align="start center" ng-click="pb.showSBList = !pb.showSBList">
            <div class="sb-ordering-container" title="Director Priority | PB Order | PB Sequence" layout="column">
                <div ng-click="parent.vm.directorPriorityDialog(pb, $event)">{{pb.director_priority}}</div>
                <div ng-click="parent.vm.pbSequenceDialog(pb, $event)">{{pb.pb_sequence}}</div>
                <div ng-click="parent.vm.pbOrderDialog(pb, $event)">{{pb.pb_order}}</div>
            </div>
            <div layout="column" layout-align="center start" class="pb-id-container" ng-click="$root.showSBDetails(pb, $event, 'Program Block: ' + pb.pb_id)">
                <span class="pb-id">{{pb.pb_id}}</span>
                <span>{{pb.owner}}</span>
            </div>
            <span flex class="sb-wrapped-description" style="height: initial">
                {{pb.description}}
            </span>
            <span class="pb-obs-spec-list-item" title="{{pb.obs_spec}}">{{pb.obs_spec}}</span>
            <span style="min-width: 80px; margin-right: 8px; text-align: center">{{pb.schedule_blocks.length}}</span>
            <span style="min-width: 80px">{{pb.state}}</span>
            <div layout="column" layout-align="center" class="sb-time-and-type-div" style="margin-left: 4px; min-width: 148px">
                <span>{{pb.desired_lst_start_time}}</span>
                <span>{{pb.desired_start_time}}</span>
            </div>
            <md-menu>
                <span class="icon-button fa fa-ellipsis-v" md-ink-ripple ng-click="$mdMenu.open($event); $event.stopPropagation()"></span>
                <md-menu-content style="max-height: 475px">
                    <md-menu-item ng-repeat="sub_nr in $root.systemConfig.subarrayNrs">
                        <md-button ng-click="parent.vm.setupSubarrayFromPB(sub_nr, pb.id, $event)" title="Setup subarray {{sub_nr}} using this observation specification and schedule block list">
                            Setup Subarray {{sub_nr}} with this PB</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.directorPriorityDialog(pb, $event)" title="Update Lead Operator Priority">Update Director Priority...</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.pbOrderDialog(pb, $event)" title="Update SB Order">Update PB Order...</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.pbSequenceDialog(pb, $event)" title="Update SB Sequence">Update PB Sequence...</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="parent.vm.clonePB(pb, false)" title="Clone Program Block without it's Schedule Blocks">
                            Clone PB only</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="parent.vm.clonePB(pb, true)" title="Clone Program Block as well as it's Schedule Blocks">
                            Clone PB and it's SB's</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-disabled="!pb.obs_constraints" ng-click="$root.showSBDetails(pb.obs_constraints, $event, pb.pb_id + ' Observation Constraints')" title="View Observation Constraints">
                            View Obs Constraints</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!pb.obs_spec" ng-click="$root.showSBDetails(pb.obs_spec, $event, pb.pb_id + ' Observation Spec')" title="View Observation Specification">
                            View Obs Spec</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-virtual-repeat-container>
</div>
