<div flex md-theme="{{themePrimaryButtons}}" class="md-whiteframe-z2" ng-class="{'maintenance-bg':vm.subarray.maintenance}" style="overflow: auto">
    <div ng-repeat="pb in vm.observationSchedule | filter:parent.vm.hasScheduleBlocks(pb) | filter:{sub_nr: vm.subarray.id} track by $index" class="pb-schedule-item" layout="column">
        <md-toolbar flex class="pb-schedule-item-header md-hue-3 pb-view-item md-whiteframe-z1" md-theme="{{themePrimary}}" title="{{pb.description}}">
            <div style="position: absolute; left: 4px; top: 4px" class="sb-ordering-container" title="Director Priority | PB Order | PB Sequence" layout="column">
                <div ng-click="parent.vm.directorPriorityDialog(pb, $event)">{{pb.director_priority}}</div>
                <div ng-click="parent.vm.pbSequenceDialog(pb, $event)">{{pb.pb_sequence}}</div>
                <div ng-click="parent.vm.pbOrderDialog(pb, $event)">{{pb.pb_order}}</div>
            </div>
            <span style="position: absolute; top: 26px; left: 16px; right: 16px; height: 20px; min-width: 140px; overflow: hidden; text-overflow: ellipsis"
                layout="row" layout-align="start center" title="{{pb.description}}">
                {{pb.description}}
            </span>
            <!-- <span class="pb-obs-spec-list-item" style="font-size: 10px; min-width: 200px; max-width:200px" title="{{pb.obs_spec}}">{{pb.obs_spec}}</span> -->
            <!-- <div layout="column" layout-align="center" class="sb-time-and-type-div" style="margin-left: 4px; min-width: 148px">
                <span>{{pb.desired_lst_start_time}}</span>
                <span>{{pb.desired_start_time}}</span>
            </div> -->

            <div class="pb-schedule-item-header-title" ng-click="$root.showSBDetails(pb, $event, 'Program Block: ' + pb.pb_id)">
                <span ng-show="pb.id > -1">Program Block - <b>{{pb.pb_id}}</b></span>
                <b ng-show="!pb.id && pb.id !== 0">{{pb.pb_id}}</b>
            </div>
            <md-menu style="position: absolute; top: 4px; right: 4px">
                <span class="icon-button fa fa-ellipsis-v" md-ink-ripple ng-click="$mdOpenMenu(); $event.stopPropagation()"></span>
                <md-menu-content style="max-height: 475px">
                    <!-- <md-menu-item>
                    <md-button ng-click="parent.vm.setupSubarrayFromPB(parent.vm.subarray_id, pb.id, $event)" title="Setup subarray {{parent.vm.subarray_id}} using this observation specification and schedule block list">
                        Setup Subarray {{parent.vm.subarray_id}} with this PB
                    </md-button>
                </md-menu-item> -->
                    <!-- <md-menu-divider></md-menu-divider> -->
                    <md-menu-item>
                        <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.directorPriorityDialog(pb, $event)"
                            title="Update Lead Operator Priority">Update Director Priority...</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.pbOrderDialog(pb, $event)" title="Update SB Order">Update PB Order...</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.pbSequenceDialog(pb, $event)"
                            title="Update SB Sequence">Update PB Sequence...</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="parent.vm.clonePB(pb, false)" title="Clone Program Block without it's Schedule Blocks">
                            Clone PB only</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="parent.vm.clonePB(pb, true)" title="Clone Program Block as well as it's Schedule Blocks">
                            Clone PB and it's SB's</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <div ng-include="'app/scheduler/templates/sb-scheduled-list-header.html'" class="list-subheader-title"
                style="height: 32px; border-top: 1px solid rgba(158,158,158,0.5); border-top-style: dashed; width: 100%"></div>
        </md-toolbar>

        <div ng-repeat="sb in pb.schedule_blocks track by $index" style="margin: 0 16px; z-index: 0; min-width: calc(100% - 32px)"
            ng-class="{'selected-schedule-row md-whiteframe-z3': sb === vm.selectedSchedule}" class="schedule-draft-item"
            layout="row" layout-align="start center" ng-click='vm.setSelectedSchedule(sb)' ng-include="'app/scheduler/templates/sb-single-scheduled-line-item.html'">
        </div>
    </div>
</div>
