<md-virtual-repeat-container id="scheduleDataRepeat" flex md-theme="{{themePrimaryButtons}}" class="md-whiteframe-z2"
    ng-class="{'maintenance-bg':vm.subarray.maintenance}">
    <div md-virtual-repeat="item in vm.currentScheduleData = (vm.scheduleData | filter:{sub_nr:vm.subarray.id})"
        style="padding: 0 4px; z-index: 0" ng-class="{'selected-schedule-row md-whiteframe-z3': item === vm.selectedSchedule}" class="schedule-draft-item"
        layout="row" layout-align="start center" ng-click='vm.setSelectedSchedule(item)'>

        <md-progress-linear md-theme="green" ng-show="item.state === 'ACTIVE'" class="md-primary progress-bar-fill"
            md-mode="{{item.expected_duration_seconds? 'determinate' : 'indeterminate'}}" value="{{item.progress}}"
            style="position: absolute; left: 0; right: 0">
        </md-progress-linear>
        <md-progress-linear md-theme="grey" ng-show="item.verification_state === 'VERIFYING'" class="md-primary progress-bar-fill"
            md-mode="indeterminate" style="position: absolute; left: 0; right: 0;">
        </md-progress-linear>
        <span title="Priority: {{item.priority}}" style="min-width: 14px; font-size: 14px" class="fa" ng-class="{'fa-arrow-circle-up dark-blue-grey-color': item.priority === 'HIGH', 'fa-arrow-circle-down light-grey-color': item.priority === 'LOW'}"></span>
        <div layout="column" layout-align="start" style="width: 120px" class="text-overflow-ellipsis">
            <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                style="font-size: 14px; font-weight: bold" ng-click="$root.showSBDetails(item, $event);$event.stopPropagation();">{{item.id_code}}</span>
            <i style="width: 110px">{{item.owner}}</i>
        </div>
        <span flex style="overflow: hidden; text-overflow: ellipsis; margin-right: 4px" title="{{item.description}}">{{item.description}}</span>
        <span style="width: 75px">{{item.state}}</span>
        <div layout="column" layout-align="center" class="sb-obs-readiness-div" style="margin: 0 4px">
            <span style="width: 150px" ng-class="{'green-color': item.obs_readiness === 'READY_TO_EXECUTE', 'red-color': item.obs_readiness !== 'READY_TO_EXECUTE'}">{{item.obs_readiness}}</span>
            <span style="width: 150px">{{item.verification_state}}</span>
        </div>
        <div layout="column" layout-align="center" class="sb-time-and-type-div" style="margin: 0 4px">
            <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}">{{item.type}}</span>
            <span>{{item.desired_start_time}}</span>
        </div>
        <span md-ink-ripple class="icon-button fa" title="{{item.state !== 'ACTIVE'? 'Execute': 'Stop Execution'}}"
            ng-class="{'fa-play green-color': item.state !== 'ACTIVE' && item.obs_readiness === 'READY_TO_EXECUTE', 'fa-stop red-color': item.state === 'ACTIVE', 'opacity-0': item.state !== 'ACTIVE' && item.obs_readiness !== 'READY_TO_EXECUTE'}"
            style="min-width: 26px; max-width: 26px"
            ng-click="item.state === 'ACTIVE'? parent.vm.stopExecuteSchedule(item) : parent.vm.executeSchedule(item); $event.stopPropagation()"></span>
        <md-menu md-theme="{{themePrimaryButtons}}">
            <span class="icon-button fa fa-ellipsis-v" md-ink-ripple ng-click="$mdOpenMenu(); $event.stopPropagation()"></span>
            <md-menu-content style="max-height: 475px">
                <md-menu-item>
                    <md-button ng-click="parent.vm.viewSBTasklog(item, 'progress')" title="View Progress in a New Tab">View Progress</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="parent.vm.viewSBTasklog(item, 'dryrun')" title="View Dryrun result in a New Tab">View Dryrun</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-disabled="item.type !== 'OBSERVATION' || item.pendingVerify || !parent.vm.iAmAtLeastCA()"
                        ng-click="parent.vm.verifySB(item)">Verify Schedule</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.moveScheduleRowToApproved(item)"
                        title="Move Schedule Block to Approved">Move to Approved</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.moveScheduleRowToFinished(item)"
                        title="Move Schedule Block to Complete">Move To Completed</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cancelExecuteSchedule(item)" title="Cancel Schedule Block Execution">Cancel Execution</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneSB(item)" title="Clone Schedule Block">Clone SB</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneAndAssignSB(item)"
                        title="{{'Clone and Assign to Subarray ' + vm.subarray.id}}">Clone and Assign SB</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneAndScheduleSB(item)"
                        title="{{'Clone and Schedule on Subarray ' + vm.subarray.id}}">Clone and Schedule SB</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.setPriority(item, $event)" title="Set Schedule Block's Priority">Set Priority</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-virtual-repeat-container>
