<div class="unselectable list-subheader-title subheader-text" layout="row" layout-align="start end" ng-click="$event.stopPropagation()"
    style="pointer-events: none">
    <span style="line-height: 9px; font-size: 9px; margin-left: -6px; word-break: break-all; width: 16px"
        class="subheader-text" title="Order of Schedule Blocks by lead_operator_priority, sb_order and sb_sequence">LO Seq Ord</span>
    <span style="width: 130px; padding-left: 8px" class="subheader-text">ID</span>
    <span flex>Description</span>
    <span style="width: 80px">State</span>
    <div style="width: 158px; font-size: 10px" layout="column">
        <span>Obs Readiness</span>
        <span>Verification State</span>
    </div>
    <div style="width: 148px; font-size: 10px" layout="column">
        <span>Type</span>
        <span>Desired Time</span>
    </div>
    <!-- <div style="min-width: 8px" ng-show="vm.subarray && $root.elementHasScrollbar('#scheduleDataRepeat', true)"></div> -->
</div>
