<div id="scheduleDataRepeat" flex md-theme="{{themePrimaryButtons}}" class="md-whiteframe-z2"
    ng-class="{'maintenance-bg':vm.subarray.maintenance}" style="y-overflow: scroll">
    <div ng-repeat="item in vm.currentScheduleData = (vm.scheduleData | filter:{sub_nr:vm.subarray.id}) track by item.id"
        style="padding: 0 2px 0 0; z-index: 0" ng-class="{'selected-schedule-row md-whiteframe-z3': item === vm.selectedSchedule}" class="schedule-draft-item"
        layout="row" layout-align="start center" ng-click='vm.setSelectedSchedule(item)'>

        <md-progress-linear md-theme="green" ng-show="item.state === 'ACTIVE'" class="md-primary progress-bar-fill"
            md-mode="{{item.expected_duration_seconds? 'determinate' : 'indeterminate'}}" value="{{item.progress}}"
            style="position: absolute; left: 0; right: 0">
        </md-progress-linear>
        <md-progress-linear md-theme="grey" ng-show="item.verification_state === 'VERIFYING'" class="md-primary progress-bar-fill"
            md-mode="indeterminate" style="position: absolute; left: 0; right: 0;">
        </md-progress-linear>
        <div class="sb-ordering-container" title="Lead Operator Priority | SB Order | SB Sequence" layout="column">
            <div ng-click="parent.vm.leadOperatorPriorityDialog(item, $event)">{{item.lead_operator_priority}}</div>
            <div ng-click="parent.vm.sbSequenceDialog(item, $event)">{{item.sb_sequence}}</div>
            <div ng-click="parent.vm.sbOrderDialog(item, $event)">{{item.sb_order}}</div>
        </div>
        <div layout="column" layout-align="start" style="width: 120px" class="text-overflow-ellipsis">
            <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}"
                style="font-size: 14px; font-weight: bold" ng-click="$root.showSBDetails(item, $event);$event.stopPropagation();">{{item.id_code}}</span>
            <i style="width: 110px">{{item.owner}}</i>
        </div>
        <span flex style="overflow: hidden; text-overflow: ellipsis; margin-right: 4px" title="{{item.description}}">{{item.description}}</span>
        <span style="width: 75px">{{item.state}}</span>
        <div layout="column" layout-align="center" class="sb-obs-readiness-div" style="margin: 0 4px">
            <span style="width: 150px" ng-class="{'green-color': item.obs_readiness === 'READY_TO_EXECUTE', 'red-color': item.obs_readiness !== 'READY_TO_EXECUTE'}">{{item.obs_readiness}}</span>
            <span style="width: 150px">{{item.verification_state}}</span>
        </div>
        <div layout="column" layout-align="center" class="sb-time-and-type-div" style="margin: 0 4px">
            <span ng-class="{'manual-color': item.type === 'MANUAL', 'maintenance-color': item.type === 'MAINTENANCE', 'observation-color': item.type === 'OBSERVATION'}">{{item.type}}</span>
            <span>{{item.desired_start_time}}</span>
        </div>
        <span md-ink-ripple class="icon-button fa" title="{{item.state !== 'ACTIVE'? 'Execute': 'Stop Execution'}}"
            ng-class="{'fa-play green-color': item.state !== 'ACTIVE' && item.obs_readiness === 'READY_TO_EXECUTE', 'fa-stop red-color': item.state === 'ACTIVE', 'opacity-0': item.state !== 'ACTIVE' && item.obs_readiness !== 'READY_TO_EXECUTE'}"
            style="min-width: 39px; max-width: 39px; text-align: start;"
            ng-click="item.state === 'ACTIVE'? parent.vm.stopExecuteSchedule(item) : parent.vm.executeSchedule(item); $event.stopPropagation()"></span>
        <md-menu md-theme="{{$root.themePrimaryButtons}}">
            <span class="icon-button fa fa-ellipsis-v" md-ink-ripple ng-click="$mdMenu.open($event); $event.stopPropagation()"></span>
            <md-menu-content style="max-height: 475px">
                <md-menu-item>
                    <md-button ng-click="parent.vm.viewSBTasklog(item, 'progress')" title="View Progress in a New Tab">View Progress</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="parent.vm.viewSBTasklog(item, 'dryrun')" title="View Dryrun result in a New Tab">View Dryrun</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-disabled="item.type !== 'OBSERVATION' || item.pendingVerify || !parent.vm.iAmAtLeastCA()"
                        ng-click="parent.vm.verifySB(item)">Verify Schedule</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.moveScheduleRowToApproved(item)"
                        title="Move Schedule Block to Approved">Move to Approved</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.moveScheduleRowToFinished(item)"
                        title="Move Schedule Block to Complete">Move To Completed</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cancelExecuteSchedule(item)" title="Cancel Schedule Block Execution">Cancel Execution</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.leadOperatorPriorityDialog(item, $event)" title="Update Lead Operator Priority">Update Lead Operator Priority...</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.sbSequenceDialog(item, $event)" title="Update SB Sequence">Update SB Sequence...</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.sbOrderDialog(item, $event)" title="Update SB Order">Update SB Order...</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneSB(item)" title="Clone Schedule Block">Clone SB</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneAndAssignSB(item)"
                        title="{{'Clone and Assign to Subarray ' + vm.subarray.id}}">Clone and Assign SB</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneAndScheduleSB(item)"
                        title="{{'Clone and Schedule on Subarray ' + vm.subarray.id}}">Clone and Schedule SB</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.cloneSBIntoPBDialog($event, item)" title="Clone Schedule Block into a Program Block">Clone SB Into PB...</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA()" ng-click="parent.vm.moveSBIntoPBDialog($event, item)" title="Move Schedule Block to a Program Block">Move SB to PB...</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="!parent.vm.iAmAtLeastCA() || item.pb_id === null || item.pb_id === undefined"
                        ng-click="parent.vm.removeSBFromAnyPB(item)" title="Remove Schedule block from any Program Block">Remove SB From PB</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="parent.vm.addUserLog($event, item)" title="Add user log">
                        <span style="margin-right: 4px"></span>
                        <span>Add User Log...</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>
