<div layout="row" layout-align="center" class="subarray-config-container">
    <span md-ink-ripple ng-click="parent.vm.showSubarrayLogs()" class="icon-button fa fa-file-text-o opaque-hover" title="Show Subarray logs"
        style="font-size: 18px; height: 22px; padding: 2px"></span>
    <md-menu>
        <span ng-disabled="!$root.expertOrLO" title="Control Authority" ng-click="$root.expertOrLO && $mdMenu.open($event)"
            md-ink-ripple>
             <i>CA: </i><b>{{vm.subarray.delegated_ca}}</b>
         </span>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click="parent.vm.delegateControl('lo')">
                    Lead Operator
                </md-button>
            </md-menu-item>
            <md-menu-item ng-repeat="user in parent.vm.users | orderBy:'email' track by $index">
                <md-button ng-click="parent.vm.delegateControl(user.email)">
                    {{user.email}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu>
        <span ng-disabled="!$root.expertOrLO" title="Selected User Product" ng-click="$root.expertOrLO && $mdMenu.open($event)"
            md-ink-ripple>
             <i>User Product: </i><b>{{vm.subarray.product ? vm.subarray.product : 'None'}}</b>
         </span>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click="parent.vm.setProduct('')">
                    None
                </md-button>
            </md-menu-item>
            <md-menu-item ng-repeat="product in parent.vm.products | orderBy:'name':true track by $index">
                <md-button ng-click="parent.vm.setProduct(product.name)" title="{{'SP Product: ' + product.sp_product + ', CBF Product: ' + product.cbf_product}}">
                    {{product.name}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu>
        <span ng-disabled="!$root.expertOrLO" title="Selected Band" ng-click="$root.expertOrLO && $mdMenu.open($event)"
            md-ink-ripple>
             <i>Band: </i><b>{{vm.subarray.band ? vm.subarray.band : 'None'}}</b>
         </span>
        <md-menu-content>
            <md-menu-item ng-if="!parent.vm.dumpRatesMap[vm.subarray.product]">
                <span>
                    Select a product first...
                </span>
            </md-menu-item>
            <md-menu-item ng-repeat="band in parent.vm.bandsMap[vm.subarray.product] | orderBy:band track by $index">
                <md-button ng-click="parent.vm.setBand(band)">
                    {{band}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu>
        <span ng-disabled="!$root.expertOrLO" title="Selected On-sky Centre Frequency" ng-click="$root.expertOrLO && $mdMenu.open($event)"
            md-ink-ripple>
             <i>f: </i><b>{{vm.subarray.requested_rx_centre_frequency==0 ? 'None' : vm.subarray.requested_rx_centre_frequency/1000000.}} MHz</b>
        </span>
       <md-menu-content>
           <md-menu-item ng-if="!vm.subarray.band">
               <span>
                   Select a product and band first...
               </span>
           </md-menu-item>
        <md-menu-item ng-repeat="freq in parent.vm.subBandsMap[vm.subarray.band] | orderBy:freq track by $index">
            <md-button ng-click="parent.vm.setFrequency(freq)">
                {{'' + freq/1000000 + ' MHz'}}
            </md-button>
        </md-menu-item>
       </md-menu-content>
</md-menu>
    <md-menu>
        <span ng-disabled="!$root.expertOrLO" title="Selected Dump Rate" ng-click="$root.expertOrLO && $mdMenu.open($event)"
            md-ink-ripple>
             <i>DR: </i><b>{{vm.subarray.dump_rate}} Hz ({{vm.subarray.dump_rate_seconds}}s)</b>
         </span>
        <md-menu-content>
            <md-menu-item ng-if="!parent.vm.dumpRatesMap[vm.subarray.product]">
                <span>
                    Select a product first...
                </span>
            </md-menu-item>
            <md-menu-item ng-repeat="dumpRate in parent.vm.dumpRatesMap[vm.subarray.product] track by $index">
                <md-button ng-click="parent.vm.setDumpRate(dumpRate.hz)">
                    {{dumpRate.hz + 'Hz (' + dumpRate.seconds + 's)' + (parent.vm.defaultDumpRatesMap[vm.subarray.product] === dumpRate.hz? ' - default': '')}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <span ng-show="vm.subarray.config_label" title="Subarray Config Label" style="cursor: default">
         <i>CL: </i><b>{{vm.subarray.config_label ? vm.subarray.config_label : 'None'}}</b>
     </span>
</div>
