.login-form {
    width: 800px;
    max-width: 800px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.long-input {
    input {
        width: 364px;
    }
}
